@model Cerebello.Models.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<html>
<head>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")"></script>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Styles/Site/Site.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Styles/Site/Authentication.css")" />
</head>
<body>
    <div style="">
        <div class="loginBoxContainer">
            <div class="loginBox">
                @using (@Html.BeginForm(null, null, FormMethod.Post, new { id = "form0", name = "form0" }))
                {
                    <h1>
                        Entrar no<br />
                        <strong>Cerebello</strong></h1>
                    <div class="login-fields">
                        <div>@Html.EditorFor(model => model.UserName)</div>
                        <div>@Html.EditorFor(model => model.Password)</div>
                    </div>
                    <div class="remember-container">
                        @Html.CheckBoxFor(model => model.RememberMe)
                        @Html.LabelFor(model => model.RememberMe)
                    </div>
                    if (ViewBag.LoginFailed != null && ViewBag.LoginFailed == true)
                    {
                    <div class="login-failed">
                        <strong>Não foi possível reconhecer o nome de usuário e senha</strong>. Por favor tente novamente. Se você esqueceu suas credenciais, por favor <a href="#">siga estas instruções</a>.
                    </div>
                    }
                    <div class="sign-in-button">
                        <div class="button" onclick="javascript:$('#form0').submit()">
                            Sign in</div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
