@model CerebelloWebRole.Areas.App.Models.AppointmentViewModel
@using CerebelloWebRole.Code.Extensions
@using CerebelloWebRole.Areas.App.Models
@{
    Layout = null;

    // This is going to be either 'C' or 'E'
    char isEditingOrCreating = (char)this.ViewBag.IsEditingOrCreating;

    bool isGenericAppointment = Model.IsGenericAppointment && !Model.PatientFirstAppointment;
    bool isFirstAppointment = Model.PatientFirstAppointment && !Model.IsGenericAppointment;
    bool isSubsequentAppointment = !isGenericAppointment && !isFirstAppointment;

    string saveButtonText = isGenericAppointment ? "salvar compromisso" : "salvar consulta";

    Func<bool, string> funcDisplay = b => b ? "table-row" : "none";
}
<div class="appointment-edit">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "appointment_form" }))
    {
        @Html.ValidationSummary(false)

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.PatientId)
        @Html.HiddenFor(model => model.DoctorId)
        @Html.HiddenFor(model => model.PatientFirstAppointment)
        
        if (isEditingOrCreating == 'C')
        {
        <style>
            /* todo: Must vanish with this style. */
            .appointment-edit ul.tabs > li {
                display: inline-block;
                border: 1px solid black;
                cursor: pointer;
            }
            /* todo: Must vanish with this style. */
        </style>
        <div class="small-tabs">
            <a id="medical-appointment-tab" class="activated">Consulta</a>
            <a id="generic-appointment-tab">Compromisso</a>
        </div>
        }
        
        @Html.HiddenFor(model => model.IsGenericAppointment)
        
        <table class="form-table">
            @if (isEditingOrCreating == 'C' || isGenericAppointment)
            {
                <tr class="generic-appointment-only" style="display: @funcDisplay(isGenericAppointment)">
                    <th>@Html.LabelFor(model => model.Description)
                    </th>
                    <td>
                        @Html.TextAreaFor(model => model.Description)
                    </td>
                </tr>
            }
            @if (isEditingOrCreating == 'C' || isFirstAppointment || isSubsequentAppointment)
            {
                <tr class="subsequent-appointments-only" style="display: @funcDisplay(isSubsequentAppointment)">
                    <th>@Html.LabelFor(model => model.PatientNameLookup)</th>
                    <td>
                        @Html.AutocompleteFor(
                            model => model.PatientId,
                            model => model.PatientNameLookup,
                            Url.Action("LookupPatients", "Patients"))
                        <script type="text/javascript">
                            $("#PatientNameLookup").autocomplete({
                                change: function (data) {
                                    if (data)
                                        $("#HealthInsuranceId").val(data.InsuranceId);
                                }
                            });
                        </script>
                        @if (Model.Id != null)
                        {
                            <a href="@Url.Action("Details", "Patients", new { id = Model.PatientId })" class="block-little-link">Ir para prontuário do paciente</a>
                        }
                        <a id="non-existing-user-link" href="#" class="block-little-link">O paciente ainda não
                            é cadastrado</a>
                    </td>
                </tr>
            }
            @if (isEditingOrCreating == 'C' || isFirstAppointment || isSubsequentAppointment)
            {
                <tr class="first-appointment-only" style="display: @funcDisplay(isFirstAppointment)">
                    <th>@Html.LabelFor(model => model.PatientName)</th>
                    <td>
                        @Html.EditorFor(model => model.PatientName)
                        <a id="existing-user-link" href="#" class="block-little-link">O paciente já é cadastrado</a>
                    </td>
                </tr>
            }
            @if (true)
            {
                <tr class="first-appointment-only subsequent-appointments-only" style="display: @funcDisplay(isFirstAppointment || isSubsequentAppointment)">
                    <th>@Html.LabelFor(model => model.HealthInsuranceId)</th>
                    <td>@Html.DropDownListFor(model => model.HealthInsuranceId, (IEnumerable<SelectListItem>)this.ViewBag.HealthInsuranceSelectItems)</td>
                </tr>
                
                <tr class="first-appointment-only subsequent-appointments-only" style="display: @funcDisplay(isFirstAppointment || isSubsequentAppointment)">
                    <th>@Html.LabelFor(model => model.Status)
                    </th>
                    <td>
                        @Html.EnumDropdownListFor(model => model.Status, this.Model != null ? (int?)this.Model.Status : null, null)
                    </td>
                </tr>
            }
            @if (isEditingOrCreating == 'C' || isFirstAppointment || isSubsequentAppointment)
            {
                <tr class="first-appointment-only" style="display: @funcDisplay(isFirstAppointment)">
                    <th>@Html.LabelFor(model => model.PatientGender)</th>
                    <td>@Html.EnumDropdownListFor(model => model.PatientGender)</td>
                </tr>
                <tr class="first-appointment-only" style="display: @funcDisplay(isFirstAppointment)">
                    <th>@Html.LabelFor(model => model.PatientDateOfBirth)</th>
                    <td class="small">@Html.TextBoxFor(model => model.PatientDateOfBirth)</td>
                </tr>
                
                <tr class="first-appointment-only" style="display: @funcDisplay(isFirstAppointment)">
                    <th>@Html.LabelFor(model => model.PatientPhoneLand)</th>
                    <td>@Html.EditorFor(model => model.PatientPhoneLand)</td>
                </tr>
                
                <tr class="first-appointment-only" style="display: @funcDisplay(isFirstAppointment)">
                    <th>@Html.LabelFor(model => model.PatientPhoneCell)</th>
                    <td>@Html.EditorFor(model => model.PatientPhoneCell)</td>
                </tr>
                
                <tr class="first-appointment-only" style="display: @funcDisplay(isFirstAppointment)">
                    <th>@Html.LabelFor(model => model.PatientEmail)</th>
                    <td>@Html.EditorFor(model => model.PatientEmail)</td>
                </tr>
            }
        </table>
        <hr />
        <table class="form-table">
            <tr>
                <th>@Html.LabelFor(model => model.LocalDateTime)
                </th>
                <td class="small">
                    @Html.EditorFor(model => model.LocalDateTime)
                    <span class="date-spelled">
                        @Model.LocalDateTimeSpelled
                    </span>
                </td>
            </tr>

            <tr>
                <th>Horário
                </th>
                <td class="small">
                    <div>
                        @Html.EditorFor(model => model.Start)<span class="separator">às</span>
                        @Html.EditorFor(model => model.End)
                        <span id="time-validation-icon" class="@(
 this.Model.DateAndTimeValidationState == DateAndTimeValidationState.Passed ? "validation-passed" :
        this.Model.DateAndTimeValidationState == DateAndTimeValidationState.Warning ? "validation-warning" :
            this.Model.DateAndTimeValidationState == DateAndTimeValidationState.Failed ? "validation-failed" :
                ""
                                                                     )"></span>
                        @* ToDo: continuar desenvolvendo este estilo *@
                        <span id="time-validation-text" style="display: block; font-size: 11px; line-height: 1.2em; padding: 10px 0 5px; color: #DD390D;">@Model.TimeValidationMessage</span>
                    </div>
                    @* Action-links *@
                    <a id="check_time" href="#" class="block-little-link">Verificar disponibilidade deste horário</a>
                    <a id="next_time_from_this_link" href="#" class="block-little-link">Próximo horário livre a partir deste</a>
                    <a id="next_time_link" href="#" class="block-little-link">Próximo horário livre a partir de agora</a>
                </td>
            </tr>

        </table>
        
            if (Model.Id != null)
            {
        <a id="delete-appointment-link" class="block-little-link" href="#">excluir</a>
            }
        
        <div class="submit-bar">
            <input id="save-button" type="submit" value="@saveButtonText" />
            <span class="separator">ou</span> <a id="cancel" href="#">cancelar</a>
        </div>
    }
    <script type="text/javascript">
        $("#appointment_form").ajaxForm({
            success: function (result, contentType) {
                if (contentType == "html") {
                    $(".appointment-edit").replaceWith(result);
                    $("#appointment_form").trigger("modal-resize");
                }
                else {
                    if (result.status == "success") {
                        $(this).trigger("modal-ok");

                        // Updating the components in the background page.
                        var calendar = $("#calendar");
                        if (calendar.length > 0) {
                            // If calendar is there, all the other variables and objects are there too.
                            calendar.fullCalendar("refetchEvents");
                            fetchDatePickerEvents();
                            $(".datepicker").datepicker("refresh");
                        }
                    }
                    else {
                        alert(result.text);
                    }
                }
            },
            error: function (e) {
                alert("Não foi possível salvar a consulta. Erro inesperado.");
            }
        });

        $("#LocalDateTime").mask("99/99/9999");
        $("#PatientDateOfBirth").mask("99/99/9999");
        $("#Start").mask("99:99");
        $("#End").mask("99:99");

        $("#LocalDateTime").bind("keyup", function (e) {
            $.getJSON("@Url.Action("GetSpelledDate")", { date: $(this).val() }, function (result) {
                $(".date-spelled").html(result.success ? result.text : "");
            });
        });

        $("#medical-appointment-tab").click(function (e) {
            e.preventDefault();

            // marks the selected tab
            $(this).siblings().removeClass("activated");
            $(this).addClass("activated");

            $(".generic-appointment-only").hide();
            $(".first-appointment-only").hide();
            $(".subsequent-appointments-only").show();
            $("#IsGenericAppointment").val(false);
            $("#PatientNameLookup").focus();
            $("#save-button").val("salvar consulta");
            $(this).trigger("modal-resize");
        });

        $("#generic-appointment-tab").click(function (e) {
            e.preventDefault();

            // marks the selected tab
            $(this).siblings().removeClass("activated");
            $(this).addClass("activated");

            $(".first-appointment-only").hide();
            $(".subsequent-appointments-only").hide();
            $(".generic-appointment-only").show();
            $("#IsGenericAppointment").val(true);
            $("#Description").focus();
            $("#save-button").val("salvar compromisso");
            $(this).trigger("modal-resize");
        });

        $("#non-existing-user-link").click(function (e) {
            e.preventDefault();
            $(".subsequent-appointments-only").hide();
            $(".first-appointment-only").show();
            $("#PatientFirstAppointment").val(true);
            $("#PatientName").focus();
            $(this).trigger("modal-resize");
        });

        $("#existing-user-link").click(function (e) {
            e.preventDefault();
            $(".first-appointment-only").hide();
            $(".subsequent-appointments-only").show();
            $("#PatientFirstAppointment").val(false);
            $("#PatientNameLookup").focus();
            $(this).trigger("modal-resize");
        });

        $("#cancel").click(function (e) {
            e.preventDefault();
            $(this).trigger("modal-cancel");
        });

        $("#delete-appointment-link").click(function (e) {
            e.preventDefault();
            var answer = confirm("Deseja realmente excluir esta consulta?\nEsta operação não pode ser desfeita.");
            if (answer) {
                $.getJSON("@Url.Action("Delete", new { id = this.Model.Id })", function (data) {
                    if (data.success) {
                        $("#delete-appointment-link").trigger("modal-ok");
                        alert("Esta consulta foi excluída");

                        // Updating the components in the background page.
                        var calendar = $("#calendar");
                        if (calendar.length > 0) {
                            // If calendar is there, all the other variables and objects are there too.
                            calendar.fullCalendar("refetchEvents");
                            fetchDatePickerEvents();
                            $(".datepicker").datepicker("refresh");
                        }
                    }
                    else
                        alert("Não foi possível excluir este paciente.\n" + "Informações técnicas: " + data.text);
                });
            }
        });

        function populateTimeInfo(data) {
            $("#LocalDateTime").val(data.date);
            $("#Start").val(data.start);
            $("#End").val(data.end);
            $(".date-spelled").html(data.dateSpelled);
        }

        $("#check_time").ajaxLink({
            url: "@Url.Action("VerifyTimeAvailability")",

            data: function () {
                return {
                    date: $("#LocalDateTime").val(),
                    start: $("#Start").val(),
                    end: $("#End").val(),
                    patientId: $("#PatientId").val(),
                    excludeAppointmentId: "@this.Model.Id",
                };
            },
            success: function (result) {
                if (result.status == "Failed") {
                    $("#time-validation-icon").removeClass("validation-warning validation-passed").addClass("validation-failed");
                    $("#time-validation-text").html(result.text);
                }
                else if (result.status == "Warning") {
                    $("#time-validation-icon").removeClass("validation-passed validation-failed").addClass("validation-warning");
                    $("#time-validation-text").html(result.text);
                }
                else if (result.status == "Passed") {
                    $("#time-validation-icon").removeClass("validation-failed validation-warning").addClass("validation-passed");
                    $("#time-validation-text").html("");
                }
            }
        });

            $("#next_time_link").ajaxLink({
                url: "@Url.Action("FindNextFreeTime")",
            success: function (data) {
                populateTimeInfo(data);
                $("#time-validation-icon").removeClass("validation-failed validation-warning").addClass("validation-passed");
                $("#time-validation-text").html("");
            }
        });

        $("#next_time_from_this_link").ajaxLink({
            url: "@Url.Action("FindNextFreeTime")",
            data: function () {
                return {
                    date: $("#LocalDateTime").val(),
                    time: $("#End").val()
                };
            },
            success: function (data) {
                populateTimeInfo(data);
                $("#time-validation-icon").removeClass("validation-failed validation-warning").addClass("validation-passed");
                $("#time-validation-text").html("");
            }
        });

        $("#PatientNameLookup").focus();

    </script>
</div>
