@model CerebelloWebRole.Areas.App.Models.ScheduleViewModel
@{
    ViewBag.Title = "Agenda · Cerebello";
}
@section Title {
Agenda
}
@section Styles {
    <link rel="Stylesheet" type="text/css" href="/content/styles/app/fullcalendar.css" />
    <link rel="Stylesheet" type="text/css" href="/content/styles/app/schedule.css" />
}
@section Scripts {
    <script type="text/javascript" src="/Scripts/fullcalendar.min.js"></script>
    <script type="text/javascript">

        // these are parameters being passed to the file included: "/scripts/app/schedule.js"
        window.createUrl = "@Url.Action("Create")";
        window.editUrl = "@Url.Action("Edit")";
        window.eventsUrl = "@Url.Action("GetAppointments")";
        window.getDatesWithAppointmentsUrl = "@Url.Action("GetDatesWithAppointments")";

        window.doctorId = @(Model.DoctorId);
        window.slotMinutes = @(Model.SlotMinutes);
        window.minTime = "@Model.MinTime";
        window.maxTime = "@Model.MaxTime";
        window.weekends = @(Model.Weekends ? "true" : "false");
    </script>
    <script type="text/javascript" src="/scripts/app/schedule.js"></script>
    @{
        int y, m, d;
        if (int.TryParse(Request["y"], out y) && int.TryParse(Request["m"], out m) && int.TryParse(Request["d"], out d))
        {
            if (y > 2000 && m >= 1 && m <= 12 && d >= 1 && d <= 31)
            {
        <script type="text/javascript">
            $(function(e) {
                var date = new Date("@string.Format("{0:0000}-{1:00}-{2:00}", y, m, d)T12:00:00");
                $('#calendar').fullCalendar('gotoDate', date);
                $('.datepicker').datepicker('setDate', date);
            });
        </script>
            }
        }
    }
}
@section SideBar {
    <div class="datepicker">
    </div>
    <ul style="margin-top: 10px;">
        <li><a href="@Url.Action("Edit", "ConfigSchedule", new { returnUrl = Url.Action(null) })" class="icon-link icon-link-config">Configurações da agenda</a> </li>
    </ul>
    <hr/>
    <ul>
        <li><a class="icon-link icon-link-help" href="@Url.Action("RegisteringNewAppointments", "HomeDocs", new { area = "Docs" })" target="_blank">Ajuda com novas consultas</a></li>
        <li><a class="icon-link icon-link-help" href="@Url.Action("ConsultingTheSchedule", "HomeDocs", new { area = "Docs" })" target="_blank">Ajuda</a></li>
    </ul>
}
<div id="calendar">
</div>
