@model PatientBasicInformationViewModel
@using Cerebello.Model
@using CerebelloWebRole.Areas.App.Helpers

@{
    this.Layout = null;

    var contactCardView = Html.CreateCardView();
    contactCardView.AddField(m => m.PersonEmail, wholeRow: true);
    contactCardView.AddField(m => m.PhoneMobile, wholeRow: true);
    contactCardView.AddField(m => m.PhoneHome, wholeRow: true);
    contactCardView.AddField(m => m.PhoneWork);
    contactCardView.AddField(m => m.PhoneWorkExt);
}

<div class="patient-basic-info-panel">
    @Html.PanelTopMenu(@Url.Action("EditBasicInformation", new { id = this.Model.Id }), ".patient-basic-info-panel")

    <h2>Contact</h2>
    @contactCardView.GetHtml()

    <h2>@Html.LabelFor(model => model.Address)</h2>
    @Html.DisplayFor(model => model.Address)
</div>
