@model PatientViewModel

@{
    
    if (this.Model != null && this.Model.Id.HasValue)
    {
        this.ViewBag.Title = "Editando paciente: " + this.Model.FullName + " · Cerebello";
    }
    else
    {
        this.ViewBag.Title = "Novo paciente · Cerebello";
    }

    var editPanel = this.Html.CreateEditPanel();
    editPanel.AddField(m => m.FullName, EditPanelFieldSize.Large);
    editPanel.AddField(m => m.Code, EditPanelFieldSize.Small);
    editPanel.AddField(m => m.Gender, @<text>@Html.EnumDropdownListFor(model => model.Gender)</text>);
    editPanel.AddField(m => m.DateOfBirth, EditPanelFieldSize.Small);
    editPanel.AddField(m => m.MaritalStatus, @<text>@Html.EnumDropdownListFor(model => model.MaritalStatus)</text>);
    editPanel.AddField(m => m.BirthPlace);
    editPanel.AddField(m => m.Cpf);
    editPanel.AddField(m => m.Profissao);
    editPanel.AddField(m => m.Email, wholeRow: true);
    editPanel.AddField(m => m.PhoneLand, EditPanelFieldSize.Small);
    editPanel.AddField(m => m.PhoneCell, EditPanelFieldSize.Small);
    editPanel.AddField(m => m.Observations, EditPanelFieldSize.Large, @<text>@Html.TextAreaFor(model => model.Observations)</text>, wholeRow: true);
}
@section Styles {
    <link rel="Stylesheet" type="text/css" href="/content/styles/app/patients_edit.css" />
}
@section Title {
    @if (this.Model != null && this.Model.Id.HasValue)
    {
        @:Editando paciente: @this.Model.FullName
    }
    else
    {
        @:Novo paciente
    }
}
@section SideBar {
    <ul>
        <li><a href="@Url.Action("Index")" class="icon-link icon-link-home">Resumo de pacientes</a></li>
    </ul>
    <hr />
    <ul>
        <li><a href="@Url.Action("RegisteringPatients", "HomeDocs", new { area = "Docs" })" class="icon-link icon-link-help" target="_blank">Ajuda</a></li>
    </ul>
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)
    @editPanel.GetHtml()

    <h2>
        @Html.LabelFor(model => model.Address)
    </h2>
    
    @Html.EditorFor(model => model.Address)
    
    <div class="submit-bar">
        <input type="submit" value="salvar paciente" />
        <span class="separator">ou</span>
        @Html.ActionLink("cancelar", "Index")
    </div>
}
