@using CerebelloWebRole.Areas.App.Helpers
@model PatientViewModel

@{
    if (this.Model != null && this.Model.Id.HasValue)
    {
        this.ViewBag.Title = "Editing patient: " + PersonHelper.GetFullName(this.Model.FirstName, this.Model.MiddleName, this.Model.LastName) + " · Cerebello";
    }
    else
    {
        this.ViewBag.Title = "New patient · Cerebello";
    }

    var editPanel = this.Html.CreateEditPanel("Identifying information");
    editPanel.AddField(m => m.FirstName, EditPanelFieldSize.Default, wholeRow: true);
    editPanel.AddField(m => m.MiddleName, EditPanelFieldSize.Default, wholeRow: true);
    editPanel.AddField(m => m.LastName, EditPanelFieldSize.Default, wholeRow: true);
    editPanel.AddField(m => m.Gender, @<text>@Html.EnumDropdownListFor(model => model.Gender)</text>);
    editPanel.AddField(m => m.DateOfBirth, EditPanelFieldSize.Small);
    editPanel.AddField(m => m.DateOfDeath, EditPanelFieldSize.Small);
    editPanel.AddField(m => m.SSN, wholeRow: true);

    var contactEditPanel = this.Html.CreateEditPanel("Contact");
    contactEditPanel.AddField(m => m.Email, wholeRow: true);
    contactEditPanel.AddField(m => m.PhoneMobile, EditPanelFieldSize.Small, wholeRow: true);
    contactEditPanel.AddField(m => m.PhoneHome, EditPanelFieldSize.Small, wholeRow: true);
    contactEditPanel.AddField(m => m.PhoneWork, EditPanelFieldSize.Small);
    contactEditPanel.AddField(m => m.PhoneWorkExt, EditPanelFieldSize.Small);
    
}
@section Styles {
    <link rel="Stylesheet" type="text/css" href="/content/styles/app/patients_edit.css" />
}
@section Title {
    @if (this.Model != null && this.Model.Id.HasValue)
    {
        @:Editing patient: @PersonHelper.GetFullName(this.Model.FirstName, this.Model.MiddleName, this.Model.LastName)
    }
    else
    {
        @:New patient
    }
}
@section SideBar {
    <ul>
        <li><a href="@Url.Action("Index")" class="icon-link icon-link-home">Patients home</a></li>
    </ul>
    <hr />
    <ul>
        <li><a href="@Url.Action("RegisteringPatients", "HomeDocs", new { area = "Docs" })" class="icon-link icon-link-help" target="_blank">Help</a></li>
    </ul>
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)
    @editPanel.GetHtml()
    @contactEditPanel.GetHtml()
    @Html.EditorFor(model => model.Address)
    
    <div class="submit-bar">
        <input type="submit" value="save patient" />
        <span class="separator">or</span>
        @Html.ActionLink("cancel", "Index")
    </div>
}
