@model CerebelloWebRole.Areas.App.Models.PatientViewModel
@using CerebelloWebRole.Code.Extensions
@{
    ViewBag.Title = "Create";

    var editPanel = this.Html.CreateEditPanel();
    editPanel.AddField(m => m.FullName, CerebelloWebRole.Code.Controls.EditPanelFieldSize.Large);
    editPanel.AddField(m => m.Gender, format: @<text>@Html.EnumDropdownListFor(model => model.Gender)</text>);
    editPanel.AddField(m => m.DateOfBirth, CerebelloWebRole.Code.Controls.EditPanelFieldSize.Small);
    editPanel.AddField(m => m.MaritalStatus, format: @<text>@Html.EnumDropdownListFor(model => model.MaritalStatus)</text>);
    editPanel.AddField(m => m.BirthPlace);
    editPanel.AddField(m => m.CPF);
    editPanel.AddField(m => m.Profissao);
    editPanel.AddField(m => m.Email, wholeRow: true);
    editPanel.AddField(m => m.PhoneLand, CerebelloWebRole.Code.Controls.EditPanelFieldSize.Small);
    editPanel.AddField(m => m.PhoneCell, CerebelloWebRole.Code.Controls.EditPanelFieldSize.Small);
}
@section Scripts {
    <script type="text/javascript">
        function getGetInfo(cep, opts) {
            $.ajax({
                url: "@Url.Action("getcepinfo", "patients")",
                data: { cep: cep },
                dataType: "json",
                success: function (e) {
                    var cepInfo = e ? e : {};
                    opts.success(cepInfo);
                },
                error: function () {
                    opts.error();
                    alert("Ocorreu um erro ao tentar obter o endereço a partir do CEP");
                }
            });
        }
    </script>
}
@section Styles {
    <link rel="Stylesheet" type="text/css" href="/content/styles/app/patients_edit.css" />
}
@section Title {
Cadastrar um novo paciente
}
@section SideBar {
    <a href="@Url.Action("index")" class="icon-link icon-link-home">Resumo de pacientes</a>
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)
    @editPanel.GetHtml();

    <p class="form-title">
        @Html.LabelFor(model => model.Address)
    </p>
    
    @Html.EditorFor(model => model.Address)
    
    <div class="submit-bar">
        <input type="submit" value="salvar paciente" />
        <span class="separator">ou</span>
        @Html.ActionLink("cancelar", "Index")
    </div>
}
