@model PatientBasicInformationViewModel
@using Cerebello.Model
@using CerebelloWebRole.Areas.App.Helpers

@{
    this.Layout = null;

    var contactEditPanel = Html.CreateEditPanel("Contact");
    contactEditPanel.AddField(m => m.PersonEmail, wholeRow: true);
    contactEditPanel.AddField(m => m.PersonPhoneMobile, wholeRow: true);
    contactEditPanel.AddField(m => m.PersonPhoneHome, wholeRow: true);
    contactEditPanel.AddField(m => m.PersonPhoneWork);
    contactEditPanel.AddField(m => m.PersonPhoneWorkExt);

    var addressEditPanel = Html.CreateEditPanel("Address");
    addressEditPanel.AddField(m => m.PersonAddressAddressLine1, EditPanelFieldSize.Large, wholeRow: true);
    addressEditPanel.AddField(m => m.PersonAddressAddressLine2, EditPanelFieldSize.Large, wholeRow: true);
    addressEditPanel.AddField(m => m.PersonAddressCity, EditPanelFieldSize.Large);
    addressEditPanel.AddField(m => m.PersonAddressCounty, EditPanelFieldSize.Large);
    addressEditPanel.AddField(m => m.PersonAddressStateProvince,
    @<text> @* there seems to be a BUG regarding DropdownListFors inside editor templates
         and possibly inside collection-editors. This is a workaraound (I'm forcingly
         setting the value).
         If we go into this more often we can investigate a more elegant solution.*@
    @Html.DropDownListFor(model => model.PersonAddressStateProvince, new SelectList(new List<SelectListItem>()
                        {
                             new SelectListItem() { Text = "Alabama", Value="AL"},
                             new SelectListItem() { Text = "Alaska", Value="AK"},
                             new SelectListItem() { Text = "Arizona", Value="AZ"},
                             new SelectListItem() { Text = "Arkansas", Value="AR"},
                             new SelectListItem() { Text = "California", Value="CA"},
                             new SelectListItem() { Text = "Colorado", Value="CO"},
                             new SelectListItem() { Text = "Connecticut", Value="CT"},
                             new SelectListItem() { Text = "Delaware", Value="DE"},
                             new SelectListItem() { Text = "Florida", Value="FL"},
                             new SelectListItem() { Text = "Georgia", Value="GA"},
                             new SelectListItem() { Text = "Hawaii", Value="HI"},
                             new SelectListItem() { Text = "Idaho", Value="ID"},
                             new SelectListItem() { Text = "Illinois", Value="IL"},
                             new SelectListItem() { Text = "Indiana", Value="IN"},
                             new SelectListItem() { Text = "Iowa", Value="IA"},
                             new SelectListItem() { Text = "Kansas", Value="KS"},
                             new SelectListItem() { Text = "Kentucky", Value="KY"},
                             new SelectListItem() { Text = "Louisiana", Value="LA"},
                             new SelectListItem() { Text = "Maine", Value="ME"},
                             new SelectListItem() { Text = "Maryland", Value="MD"},
                             new SelectListItem() { Text = "Massachusetts[D]", Value="MA"},
                             new SelectListItem() { Text = "Michigan", Value="MI"},
                             new SelectListItem() { Text = "Minnesota", Value="MN"},
                             new SelectListItem() { Text = "Mississippi", Value="MS"},
                             new SelectListItem() { Text = "Missouri", Value="MO"},
                             new SelectListItem() { Text = "Montana", Value="MT"},
                             new SelectListItem() { Text = "Nebraska", Value="NE"},
                             new SelectListItem() { Text = "Nevada", Value="NV"},
                             new SelectListItem() { Text = "New Hampshire", Value="NH"},
                             new SelectListItem() { Text = "New Jersey", Value="NJ"},
                             new SelectListItem() { Text = "New Mexico", Value="NM"},
                             new SelectListItem() { Text = "New York", Value="NY"},
                             new SelectListItem() { Text = "North Carolina", Value="NC"},
                             new SelectListItem() { Text = "North Dakota", Value="ND"},
                             new SelectListItem() { Text = "Ohio", Value="OH"},
                             new SelectListItem() { Text = "Oklahoma", Value="OK"},
                             new SelectListItem() { Text = "Oregon", Value="OR"},
                             new SelectListItem() { Text = "Pennsylvania", Value="PA"},
                             new SelectListItem() { Text = "Rhode Island", Value="RI"},
                             new SelectListItem() { Text = "South Carolina", Value="SC"},
                             new SelectListItem() { Text = "South Dakota", Value="SD"},
                             new SelectListItem() { Text = "Tennessee", Value="TN"},
                             new SelectListItem() { Text = "Texas", Value="TX"},
                             new SelectListItem() { Text = "Utah", Value="UT"},
                             new SelectListItem() { Text = "Vermont", Value="VT"},
                             new SelectListItem() { Text = "Virginia", Value="VA"},
                             new SelectListItem() { Text = "Washington", Value="WA"},
                             new SelectListItem() { Text = "West Virginia", Value="WV"},
                             new SelectListItem() { Text = "Wisconsin", Value="WI"},
                             new SelectListItem() { Text = "Wyoming", Value="WY"},
                        }, "Value", "Text", this.Model != null ? this.Model.PersonAddressStateProvince : null), "")
    </text>);
    addressEditPanel.AddField(model => model.PersonAddressZipCode);
}

<div class="patient-basic-info-panel">
    @using (this.Html.AjaxForm("EditBasicInformation", "Patients", ".patient-basic-info-panel", FormMethod.Post))
    {
        @Html.ValidationSummary(false)
        @contactEditPanel.GetHtml()
        @addressEditPanel.GetHtml()
    
        @Html.SubmitBar("save basic info", Url.Action("DetailsBasicInformation", new { id = this.Model.Id }), ".patient-basic-info-panel")
    }
</div>
