@model PatientsIndexViewModel
@{
    ViewBag.Title = "Prontuário · Cerebello";

    ViewBag.Watermark = "Pesquisar pelo nome do paciente";

    var localNow = (DateTime)this.ViewBag.LocalNow;

    var grid = this.Html.CreateGrid(this.Model.LastRegisteredPatients);
    grid.AddLinkField(m => m.FullName, "Details", m => new { id = m.Id });
    grid.AddField(m => m.DateOfBirth, item => DateTimeHelper.GetPersonAgeInWords(item.DateOfBirth, localNow, true), header: "Idade");
    grid.AddEditField("Edit", "Patients", model => new { model.Id });

    var patientsLimit = (int?)this.ViewBag.PatientsLimit;
    var patientsRemaining = patientsLimit - this.ViewBag.PatientsCount;
    var canCreateMorePatients = patientsRemaining == null || patientsRemaining > patientsLimit;
}
@section Title {
Prontuário
}
@section Styles {
    <link type="text/css" rel="Stylesheet" href="/content/styles/app/jquery.jqplot.min.css" />
}
@section SideBar {
    <ul>
        <li>
            <a href="@Url.Action("Create", "Patients")" class="icon-link icon-link-plus">Novo paciente</a>
        </li>
        @if (this.CanAccessAction("ExportDoctorXml", "Report"))
        {
            <li><a href="@Url.Action("ExportDoctorXml", "Report")" target="_blank" class="icon-link icon-link-import">Exportar XML</a> </li>
        }
        @if (this.CanAccessAction("ExportPatientsPdf", "Report"))
        {
            <li><a href="@Url.Action("ExportPatientsPdf", "Report")" target="_blank" class="icon-link icon-link-import">Exportar prontuários em PDF</a> </li>
        }
        @if (this.CanAccessAction("DownloadAllPatientsZipFile", "PatientFiles"))
        {
            <li><a href="@Url.Action("DownloadAllPatientsZipFile", "PatientFiles")" class="icon-link icon-link-import">Exportar os arquivos de todos os pacientes em Zip</a> </li>
        }
    </ul>
}
@if (!canCreateMorePatients)
{
    @:@this.Html.Message(
    @<text>Sua conta permite cadastrar até @patientsLimit pacientes.
             @if (patientsRemaining > 0)
             {
@:Faltam @patientsRemaining para atingir o limite.
             }
             else
             {
                 @:Não é possível cadastrar mais pacientes.
             }
    </text>)
    }
@using (Html.BeginForm("search", null, FormMethod.Get))
{
    @Html.Partial("SearchBox", new SearchModel())
}
<div class="widget">
    <h2>Últimos pacientes cadastrados
    </h2>
    @grid.GetHtml()
</div>
