@model CerebelloWebRole.Areas.App.Models.SearchViewModel<CerebelloWebRole.Areas.App.Models.PatientViewModel>
@{
    ViewBag.Title = "Search";
    ViewBag.Watermark = "Pesquisar pelo nome do paciente";

    var localNow = (DateTime)this.ViewBag.LocalNow;
    
    var grid = this.Html.CreateGrid(this.Model.Objects, CerebelloWebRole.Code.Constants.GRID_PAGE_SIZE, this.Model.Count);
    grid.AddField(m => m.FullName, format: @<text><a href="@Url.Action("details", new { id = @item.Id })">@item.FullName</a></text>);
    grid.AddField(m => m.DateOfBirth, format: @<text>@CerebelloWebRole.Code.DateTimeHelper.GetPersonAgeInWords(@item.DateOfBirth, localNow, true)</text>, header: "Idade");
}
@section Title {
    Pesquisa de pacientes
}
@section SideBar {
    <ul>
        <li><a href="@Url.Action("create", "patients")">Novo paciente</a></li>
    </ul>
}
@using (Html.BeginForm("search", null, FormMethod.Get))
{
    @Html.Partial("SearchBox", new CerebelloWebRole.Areas.App.Models.SearchModel())
}
<div class="search-result">
    <p class="title">
        Resultado da pesquisa
    </p>
    @grid.GetHtml()
</div>