@model MedicineLaboratoryViewModel

@{
    var title = "Laboratório: " + this.Model.Name;
    ViewBag.Title = string.Format("{0} · Cerebello", title);

    var cardView = this.Html.CreateCardView();
    cardView.AddField(model => model.Name, wholeRow: true);
    cardView.AddField(model => model.Observations, wholeRow: true);
}

@section Title {
    @title @LockIcon.Icon()
}
@section Scripts {
    @LockIcon.Script(LockAccessType.SelfOrAdminOrOwner, "médico")
}

@section SideBar {
    <a href="@Url.Action("Edit", new {id = Model.Id})"class="icon-link icon-link-edit" id="edit-laboratory-link">Editar laboratório</a>
    <a href="#"class="icon-link icon-link-delete" id="delete-laboratory-link">Excluir laboratório</a>
    <a href="@Url.Action("Index")" class="icon-link icon-link-home" id="list-laboratories-link">Resumo de laboratórios</a>
    
        <script type="text/javascript">
            $("#delete-laboratory-link").click(function (e) {
                e.preventDefault();
                $.deleteConfirmation({
                    objectType: "laboratório",
                    objectName: "@this.Model.Name",
                url: "@Url.Action("Delete", new { id = this.Model.Id })",
                success: function (data) {
                    alert("Este laboratório foi excluído");
                    window.location = "@Url.Action("Index")";
                }
            });
        });
    </script>
}

@cardView.GetHtml()

<h2>Medicamentos</h2>

@Html.Partial("Medicines", this.Model.Medicines)