@using CerebelloWebRole.Code.Controls
@model CerebelloWebRole.Areas.App.Models.MedicineLaboratoryViewModel
@{
    if (this.Model != null && this.Model.Id.HasValue)
    {
        ViewBag.Title = "Editando laboratório: " + this.Model.Name + " · Cerebello";
    }
    else
    {
        ViewBag.Title = "Novo laboratório · Cerebello";
    }

    var editPanel = this.Html.CreateEditPanel(null);
    editPanel.AddField(model => model.Name, EditPanelFieldSize.Large, wholeRow: true);
    editPanel.AddField(model => model.Observations, EditPanelFieldSize.Large, @<text>@Html.TextAreaFor(model => model.Observations)</text>, wholeRow: true);
}

@section Title {
    @if (this.Model != null && this.Model.Id.HasValue)
    {
        @:Editando laboratório:  + @this.Model.Name
    }
    else
    {
        @:Novo laboratório
    }
}

@section SideBar {
    <a href="@Url.Action("index")" class="icon-link icon-link-home">Resumo de laboratórios</a>
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)
    @Html.HiddenFor(model => model.Id)

    @editPanel.GetHtml()

        <div class="submit-bar">
        <input type="submit" value="salvar laboratório" />
        <span class="separator">ou</span>
        @Html.ActionLink("cancelar", "Index")
    </div>
}