@using CerebelloWebRole.Areas.App.Models
@using CerebelloWebRole.Code.Controls
@model MedicineLaboratoryViewModel
@{
    string title;
    if (this.Model != null && this.Model.Id.HasValue)
    {
        title = "Editando laboratório: " + this.Model.Name;
    }
    else
    {
        title = "Novo laboratório";
    }
    ViewBag.Title = string.Format("{0} · Cerebello", title);

    var editPanel = this.Html.CreateEditPanel(null);
    editPanel.AddField(model => model.Name, EditPanelFieldSize.Large, wholeRow: true);
    editPanel.AddField(
        model => model.Observations,
        EditPanelFieldSize.Large,
        @<text>@Html.TextAreaFor(model => model.Observations)</text>,
        wholeRow: true);
}

@section Title {
    @title @LockIcon.Icon()
}
@section Scripts {
    @LockIcon.Script(LockAccessType.SelfOrAdminOrOwner, "médico")
}

@section SideBar {
    <a href="@Url.Action("Index")" class="icon-link icon-link-home">Resumo de laboratórios</a>
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)
    @Html.HiddenFor(model => model.Id)

    @editPanel.GetHtml()

    <div class="submit-bar">
        <input type="submit" value="salvar laboratório" />
        <span class="separator">ou</span>
        @Html.ActionLink("cancelar", "Index")
    </div>
}