@model LaboratoriesIndexViewModel
@{
    var title = "Laboratories";
    ViewBag.Title = string.Format("{0} · Cerebello", title);
    ViewBag.Watermark = "Search by the laboratory name";

    var grid = this.Html.CreateGrid(this.Model.LastRegisteredLaboratories);
    grid.AddLinkField(m => m.Name, "Details", m => new { id = m.Id });
    grid.AddEditField("Edit", "Laboratories", model => new { model.Id });
}
@section Title {
    @title @LockIcon.Icon()
}
@section Scripts {
    @LockIcon.Script(LockAccessType.SelfOrAdminOrOwner, "médico")
}
@section SideBar {
    <ul>
        <li><a href="@Url.Action("Create")" class="icon-link icon-link-plus">New laboratory</a> </li>
        <li><a href="@Url.Action("Index", "Medicines")" class="icon-link icon-link-home">Laboratories home</a></li>
    </ul>
}

@using (Html.BeginForm("search", null, FormMethod.Get))
{
    @Html.Partial("SearchBox", new SearchModel())
}

<div class="widget">
    <h2>Last registered laboratories
    </h2>
    @grid.GetHtml()
</div>
