@using CerebelloWebRole.Areas.App.Models
@model LaboratoriesIndexViewModel
@{
    var title = "Labotarórios";
    ViewBag.Title = string.Format("{0} · Cerebello", title);
    ViewBag.Watermark = "Pesquisar pelo nome do laboratório";

    var grid = this.Html.CreateGrid(this.Model.LastRegisteredLaboratories);
    grid.AddLinkField(m => m.Name, "Details", m => new { id = m.Id });
}
@section Title {
    @title <span class="lock-title icon-lock" />
}
@section Scripts {
    @Html.Partial("LockScript", new LockScriptViewModel(LockAccessType.SelfOrAdminOrOwner, "médico"))
}
@section SideBar {
    <ul>
        <li><a href="@Url.Action("Create")" class="icon-link icon-link-plus">Novo laboratório</a> </li>
        <li><a href="@Url.Action("Index", "Medicines")" class="icon-link icon-link-home">Resumo de medicamentos</a></li>
    </ul>
}

@using (Html.BeginForm("search", null, FormMethod.Get))
{
    @Html.Partial("SearchBox", new CerebelloWebRole.Areas.App.Models.SearchModel())
}

<div class="widget">
    <h2>Últimos laboratórios cadastrados
    </h2>
    @grid.GetHtml()
</div>
