@model SearchViewModel<MedicineLaboratoryViewModel>
@{
    var title = "Laboratories search";
    ViewBag.Title = string.Format("{0} · Cerebello", title);
    ViewBag.Watermark = "Search by the laboratory name";

    var grid = this.Html.CreateGrid(this.Model.Objects, Constants.GRID_PAGE_SIZE, this.Model.Count);
    grid.AddLinkField(m => m.Name, "Details", m => new { id = m.Id });
    grid.AddEditField("Edit", "Laboratories", model => new { model.Id });
}
@section Title {
    @title @LockIcon.Icon()
}
@section Scripts {
    @LockIcon.Script(LockAccessType.SelfOrAdminOrOwner, "médico")
}
@section SideBar {
    <ul>
        <li><a href="@Url.Action("Create")" class="icon-link icon-link-plus">New laboratory</a> </li>
    </ul>
}
@using (Html.BeginForm("search", null, FormMethod.Get))
{
    @Html.Partial("SearchBox", new SearchModel())
}
<div class="search-result">
    <h2>Search result
    </h2>
    @grid.GetHtml()
</div>
