@using CerebelloWebRole.Areas.App.Models
@{
    var title = "Configurações do médico";
    ViewBag.Title = string.Format("{0} · Cerebello", title);
    this.ViewBag.LargeSideBar = false;
}
@section Title {
    @title <span class="lock-title icon-lock" />
}
@section Scripts
{
    @Html.Partial("LockScript", new LockScriptViewModel(LockAccessType.SelfOrAdminOrOwner, "médico"))
}


@section SideBar {
    <ul>
        <li><a href="@Url.Action("Edit", "ConfigSchedule")" class="icon-link icon-link-config">Configurações da agenda</a> </li>
        <li><a href="@Url.Action("Edit", "ConfigDocuments")" class="icon-link icon-link-config">Configurações de documentos</a> </li>
        <li><a href="@Url.Action("Index", "ModelMedicalCertificates")" class="icon-link icon-link-config">Configurações de modelos de atestados médicos</a> </li>
        <li><a href="@Url.Action("Index", "HealthInsurance")" class="icon-link icon-link-config">Configurações de convênios e formas de atendimentos</a> </li>
    </ul>
}

<p class="text">
    A partir desta seção é possível determinar opções específicas do médico. Somente o próprio médico ou um usuário do consultório com perfil de administrador
podem acessar essas opções. Para opções do consultório, <a href="@Url.RouteUrl("Practice", new { action = "index", controller = "practiceHome" })">retorne ao consultório</a> e clique em Configurações no menu principal.
</p>
