@model CerebelloWebRole.Areas.App.Models.AnamneseSymptomViewModel
@using CommonLib.Mvc
@{
    Layout = null;
}

<li class="edit-list-item">
    @using (Html.BeginCollectionItem("AnamneseSymptoms"))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.EditorFor(model => model.Text)
        <script type="text/javascript">
            $("input[name='@(ViewData.TemplateInfo.HtmlFieldPrefix).Text']").autocomplete({
                        source: "@Url.Action("searchsymptom")",
                        select: function(event, ui) {
                                    $("input[name='@(ViewData.TemplateInfo.HtmlFieldPrefix).Id']").val(ui.item.id);
                                }
                    }).data( "autocomplete" )._renderItem = function( ul, item ) {
			            return $( "<li></li>" )
				            .data( "item.autocomplete", item )
				            .append( "<a><span class='item-title'>" + item.value + "</span><span class='item-description'>" + item.description + "</span></a>" )
				            .appendTo( ul );
		            };
        </script>
    }
    <span class="close-collection-item" onclick="$(this).closest('li').remove()"></span>
</li>

