@model CerebelloWebRole.Areas.App.Models.AnamneseViewModel
@using CommonLib.Mvc
@{
    Layout = null;
}
<div class="anamnese-details medical-appointment-details-panel" data-val-id="anamnese-@Model.Id">
    @if (Model != null)
    {
        <table class="view-table">
            <tr>
                <th>
                    @Html.LabelFor(model => model.Text)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Text)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.AnamneseSymptoms)
                </th>
                <td>
                    @if (Model.AnamneseSymptoms != null)
                    {
                        <ul class="string-list">
                            @foreach (var symptom in Model.AnamneseSymptoms)
                            {
                                <li>
                                    @symptom.Text
                                </li>
                            }
                        </ul>
                    }
                </td>
            </tr>
        </table>
    }
    <div class="inline-link-bar">
        <a href="#" class="edit-anamnese inline-link" >Editar anamnese</a>
        <a href="#" class="delete-anamnese inline-link" >Excluir anamnese</a>
    </div>
    <script type="text/javascript">
        $(".edit-anamnese", $("div[data-val-id='anamnese-@Model.Id']")).click(function (e) {
            e.preventDefault();
            $.ajax({
                url: "@Url.Action("edit", "anamneses", new { id = Model.Id })",
                success: function(result) {
                    $("div[data-val-id='anamnese-@Model.Id']").replaceWith(result);
                }
            });
        });

        $(".delete-anamnese", $("div[data-val-id='anamnese-@Model.Id']")).click(function (e) {
            e.preventDefault();
            var answer = confirm("Deseja realmente excluir esta anamnese?\nEsta operação não pode ser desfeita.");
            if (answer) {
                $.getJSON("@Url.Action("delete", new { id = this.Model.Id })", function(data) {
                    if(data.success) {
                        alert("Esta anamnese foi excluída");
                        window.location = "@Url.Action("details", "patients", new { id = this.Model.PatientId })";
                    }
                    else
                        alert("Não foi possível excluir esta anamnese.\n" + "Informações técnicas: " + data.text);
                });
            }
        });
    </script>
</div>
