@using CerebelloWebRole.Code.Controls
@model AnamneseViewModel
@{
    Layout = null;
    string anamneseId;
    if (this.Model != null && this.Model.Id == null)
    {
        anamneseId = "new-" + Guid.NewGuid().ToString();
    }
    else
    {
        anamneseId = Model.Id.ToString();
    }
}
<div class="anamnese-edit appointment-panel" data-val-id="anamnese-@anamneseId">
    @using (Html.BeginForm(null, null, FormMethod.Post))
    {
        @Html.ValidationSummary(false)
        @Html.HiddenFor(model => model.PatientId)
        @Html.HiddenFor(model => model.Id)

        var editPanel = Html.CreateEditPanel();
        editPanel.AddField(model => model.ChiefComplaint);
        editPanel.AddField(model => model.HistoryOfThePresentIllness, EditPanelFieldSize.Large, @<text>@Html.TextAreaFor(model => model.HistoryOfThePresentIllness)</text>);
        editPanel.AddField(model => model.PastMedicalHistory, EditPanelFieldSize.Large, @<text>@Html.TextAreaFor(model => model.PastMedicalHistory)</text>);
        editPanel.AddField(model => model.FamilyDeseases, EditPanelFieldSize.Large, @<text>@Html.TextAreaFor(model => model.FamilyDeseases)</text>);
        editPanel.AddField(model => model.SocialHistory, EditPanelFieldSize.Large, @<text>@Html.TextAreaFor(model => model.SocialHistory)</text>);
        editPanel.AddField(model => model.ReviewOfSystems, EditPanelFieldSize.Large, @<text>@Html.TextAreaFor(model => model.ReviewOfSystems)</text>);
        editPanel.AddField(model => model.Allergies, EditPanelFieldSize.Large);
        editPanel.AddField(model => model.RegularAndAcuteMedications, EditPanelFieldSize.Large, @<text>@Html.TextAreaFor(model => model.RegularAndAcuteMedications)</text>);
        editPanel.AddField(model => model.SexualHistory, EditPanelFieldSize.Large);
        editPanel.AddField(model => model.Conclusion, EditPanelFieldSize.Large, @<text>@Html.TextAreaFor(model => model.Conclusion)</text>);
        
        @editPanel.GetHtml()

        <div class="submit-bar">
            <input type="submit" value="salvar anamnese" />
            <span class="separator">ou</span> <a href="#" class="cancel">cancelar</a>
        </div>
    }
    <script type="text/javascript">
        (function() {
            var $container = $("div[data-val-id='anamnese-@anamneseId']");
            $('form', $container).ajaxForm({
                success: function (result) {
                    $container.replaceWith(result);
                }
            });
            $('a.cancel', $container).click(function(e) {
                e.preventDefault();
                @if (Model.Id != null)
                {
                    @:$.ajax({url: "@Url.Action("details", new { id = Model.Id })", success: function(result) { $container.replaceWith(result); }});   
                }
                else
                {
                    @:$container.remove();
                }
            });
        })();
    </script>
</div>
