@model AnamneseViewModel
@using System.Diagnostics
@using CerebelloWebRole.Code.Controls
@{
    Layout = null;
    Debug.Assert(this.Model != null, "this.Model != null");
    var anamneseId = this.Model.Id == null ? "new-" + Guid.NewGuid() : this.Model.Id.ToString();
}
<div class="anamnese-edit appointment-panel" data-val-id="anamnese-@anamneseId">
    @using (this.Html.BeginForm(null, null, FormMethod.Post))
    {
        @Html.ValidationSummary(false)
        @Html.HiddenFor(model => model.PatientId)
        @Html.HiddenFor(model => model.Id)

            var editPanel = Html.CreateEditPanel();
            editPanel.AddField(model => model.ChiefComplaint, EditPanelFieldSize.Large);
            editPanel.AddField(model => model.HistoryOfThePresentIllness, this.Html.TextAreaFor, EditPanelFieldSize.Large);
            editPanel.AddField(model => model.PastMedicalHistory, this.Html.TextAreaFor, EditPanelFieldSize.Large);
            editPanel.AddField(model => model.FamilyDeseases, this.Html.TextAreaFor, EditPanelFieldSize.Large);
            editPanel.AddField(model => model.SocialHistory, this.Html.TextAreaFor, EditPanelFieldSize.Large);
            editPanel.AddField(model => model.ReviewOfSystems, this.Html.TextAreaFor, EditPanelFieldSize.Large);
            editPanel.AddField(model => model.Allergies, EditPanelFieldSize.Large);
            editPanel.AddField(model => model.RegularAndAcuteMedications, this.Html.TextAreaFor, EditPanelFieldSize.Large);
            editPanel.AddField(model => model.SexualHistory, EditPanelFieldSize.Large);
            editPanel.AddField(model => model.Conclusion, this.Html.TextAreaFor, EditPanelFieldSize.Large);
            editPanel.AddField(model => model.MedicalRecordDate, this.Html.EditorFor, EditPanelFieldSize.Large);
        
        @editPanel.GetHtml()

        <div class="submit-bar">
            <input type="submit" value="salvar anamnese" />
            <span class="separator">ou</span> <a href="#" class="cancel">cancelar</a>
        </div>
    }
    <script type="text/javascript">
        (function() {
            var $container = $("div[data-val-id='anamnese-@anamneseId']");
            $('form', $container).ajaxForm({
                success: function (result) {
                    $container.replaceWith(result);
                }
            });
            $('a.cancel', $container).click(function(e) {
                e.preventDefault();
                @if (Model.Id != null)
                {
                    @:$.ajax({url: "@Url.Action("details", new { id = Model.Id })", success: function(result) { $container.replaceWith(result); }});   
                }
                else
                {
                    @:$container.remove();
                }
            });
        })();
    </script>
</div>
