@using CerebelloWebRole.Code.Extensions
@{
    this.Layout = "~/Views/Shared/_Layout.cshtml";

}

@section Header {
    <link href="@Url.Content("~/Content/Styles/Docs/Docs.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/Docs/Media.css")" rel="stylesheet" type="text/css" />
}

<div class="container docs-container">
    <div class="row">
        <div class="span3">
            <div class="well">
                <ul class="nav nav-list">
                    <li class="nav-header">Sobre o Cerebello
                    </li>
                    <li class="@(this.IsAction("Index", "HomeDocs") ? "active" : "")">
                        <a href="@Url.Action("Index", "HomeDocs")">Introdução</a>
                    </li>
                    <li class="@(this.IsAction("CreatingAnAccount", "HomeDocs") ? "active" : "")">
                        <a href="@Url.Action("CreatingAnAccount", "HomeDocs")">Criando uma conta</a>
                    </li>
                    <li>
                        <a href="#">Gerenciando licenças</a>
                    </li>
                    <li>
                        <a href="#">Gerenciando usuários</a>
                    </li>
                    <li>
                        <a href="#">Obtendo ajuda e suporte</a>
                    </li>
                    <li class="nav-header">Agenda
                    </li>
                    <li>
                        <a href="#">Configurando sua agenda</a>
                    </li>
                    <li>
                        <a href="#">Agendando consultas</a>
                    </li>
                    <li>
                        <a href="#">Descobrindo horários livres</a>
                    </li>
                    <li class="nav-header">Prontuário
                    </li>
                    <li>
                        <a href="#">Cadastrando pacientes</a>
                    </li>
                    <li>
                        <a href="#">Criando anamneses</a>
                    </li>
                    <li>
                        <a href="#">Criando receitas</a>
                    </li>
                    <li>
                        <a href="#">Agendando retornos</a>
                    </li>
                    <li class="nav-header">Medicamentos
                    </li>
                    <li>
                        <a href="#">Cadastrando medicamentos</a>
                    </li>
                    <li>
                        <a href="#">Importando medicamentos da Anvisa</a>
                    </li>
                    <li class="nav-header">Convênios
                    </li>
                    <li>
                        <a href="#">Cadastrando convênios</a>
                    </li>
                    <li>
                        <a href="#">Configurando convênios</a>
                    </li>
                    <li class="nav-header">Documentos para impressão
                    </li>
                    <li>
                        <a href="#">Configurando receitas</a>
                    </li>
                    <li>
                        <a href="#">Configurando atestados</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="span9">
            @RenderBody()
        </div>
    </div>
</div>

