@using CerebelloWebRole.Code.Extensions
@{
    this.Layout = "~/Views/Shared/_Layout.cshtml";

}

@section Header {
    <link href="@Url.Content("~/Content/Styles/Docs/Docs.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/Docs/Media.css")" rel="stylesheet" type="text/css" />
}

<div class="container docs-container">
    <div class="row">
        <div class="span3">
            <div class="well">
                <ul class="nav nav-list">
                    <li class="nav-header">Sobre o Cerebello
                    </li>
                    <li class="@(this.IsAction("Index", "HomeDocs") ? "active" : "")">
                        <a href="@Url.Action("Index", "HomeDocs")">Introdução</a>
                    </li>
                    <li class="@(this.IsAction("CreatingAnAccount", "HomeDocs") ? "active" : "")">
                        <a href="@Url.Action("CreatingAnAccount", "HomeDocs")">Criando uma conta</a>
                    </li>
                    <li class="@(this.IsAction("ManagingUsers", "HomeDocs") ? "active" : "")">
                        <a href="@Url.Action("ManagingUsers", "HomeDocs")">Gerenciando usuários</a>
                    </li>
                    <li class="@(this.IsAction("MigratingToAProfessionalAccount", "HomeDocs") ? "active" : "")">
                        <a href="@Url.Action("MigratingToAProfessionalAccount", "HomeDocs")">Migrando para a conta profissional</a>
                    </li>
                    <li class="nav-header">Agenda
                    </li>
                    <li class="@(this.IsAction("ConfiguringTheSchedule", "HomeDocs") ? "active" : "")">
                        <a href="@Url.Action("ConfiguringTheSchedule", "HomeDocs")">Configurando sua agenda</a>
                    </li>
                    <li class="@(this.IsAction("RegisteringNewAppointments", "HomeDocs") ? "active" : "")">
                        <a href="@Url.Action("RegisteringNewAppointments", "HomeDocs")">Agendando consultas e compromissos</a>
                    </li>
                    <li class="@(this.IsAction("ConsultingTheSchedule", "HomeDocs") ? "active" : "")">
                        <a href="@Url.Action("ConsultingTheSchedule", "HomeDocs")">Consultando a agenda</a>
                    </li>
                    <li class="@(this.IsAction("TheAppointmentLine", "HomeDocs") ? "active" : "")">
                        <a href="@Url.Action("TheAppointmentLine", "HomeDocs")">A fila de atendimento</a>
                    </li>
                    <li class="nav-header">Prontuário
                    </li>
                    <li class="@(this.IsAction("RegisteringPatients", "HomeDocs") ? "active" : "")">
                        <a href="@Url.Action("RegisteringPatients", "HomeDocs")">Cadastrando pacientes</a>
                    </li>
                    <li class="@(this.IsAction("PerformingAnAppointment", "HomeDocs") ? "active" : "")">
                        <a href="@Url.Action("PerformingAnAppointment", "HomeDocs")">Realizando uma consulta</a>
                    </li>
                    <li class="nav-header">Medicamentos
                    </li>
                    <li class="@(this.IsAction("RegisteringMedicines", "HomeDocs") ? "active" : "")">
                        <a href="@Url.Action("RegisteringMedicines", "HomeDocs")">Cadastrando medicamentos</a>
                    </li>
                    <li>
                        <a href="#">Importando medicamentos da Anvisa</a>
                    </li>
                    <li class="nav-header">Convênios
                    </li>
                    <li>
                        <a href="#">Cadastrando convênios</a>
                    </li>
                    <li>
                        <a href="#">Configurando convênios</a>
                    </li>
                    <li class="nav-header">Documentos para impressão
                    </li>
                    <li>
                        <a href="#">Configurando receitas</a>
                    </li>
                    <li>
                        <a href="#">Configurando atestados</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="span9">
            @RenderBody()
        </div>
    </div>
</div>

