@using CerebelloWebRole.Code.Extensions
@{
    this.Layout = "~/Views/Shared/_Layout.cshtml";

}

@section Header {
    <link href="@Url.Content("~/Content/Styles/Docs/Docs.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/Docs/Media.css")" rel="stylesheet" type="text/css" />
}

<div class="container docs-container">
    <div class="row">
        <div class="span3">
            <div class="well">
                <ul class="nav nav-list">
                    <li class="nav-header">Sobre o Cerebello
                    </li>
                    <li class="@(this.IsAction("Index", "HomeDocs") ? "active" : "")">
                        <a href="@Url.Action("Index", "HomeDocs")">Introdução</a>
                    </li>
                    <li class="@(this.IsAction("CreatingAnAccount", "HomeDocs") ? "active" : "")">
                        <a href="@Url.Action("CreatingAnAccount", "HomeDocs")">Criando uma conta</a>
                    </li>
                    <li class="@(this.IsAction("ConfiguringDocuments", "HomeDocs") ? "active" : "")">
                        <a href="@Url.Action("ConfiguringDocuments", "HomeDocs")">Configurando documentos</a>
                    </li>
                    <li class="@(this.IsAction("ManagingUsers", "HomeDocs") ? "active" : "")">
                        <a href="@Url.Action("ManagingUsers", "HomeDocs")">Gerenciando usuários</a>
                    </li>
                    <li class="nav-header">Agenda
                    </li>
                    <li class="@(this.IsAction("ConfiguringTheSchedule", "HomeDocs") ? "active" : "")">
                        <a href="@Url.Action("ConfiguringTheSchedule", "HomeDocs")">Configurando a agenda</a>
                    </li>
                    <li class="@(this.IsAction("RegisteringNewAppointments", "HomeDocs") ? "active" : "")">
                        <a href="@Url.Action("RegisteringNewAppointments", "HomeDocs")">Agendando consultas e compromissos</a>
                    </li>
                    <li class="@(this.IsAction("ConsultingTheSchedule", "HomeDocs") ? "active" : "")">
                        <a href="@Url.Action("ConsultingTheSchedule", "HomeDocs")">Consultando a agenda</a>
                    </li>
                    <li class="@(this.IsAction("TheAppointmentLine", "HomeDocs") ? "active" : "")">
                        <a href="@Url.Action("TheAppointmentLine", "HomeDocs")">A fila de atendimento</a>
                    </li>
                    <li class="nav-header">Prontuário
                    </li>
                    <li class="@(this.IsAction("RegisteringPatients", "HomeDocs") ? "active" : "")">
                        <a href="@Url.Action("RegisteringPatients", "HomeDocs")">Cadastrando pacientes</a>
                    </li>
                    <li class="@(this.IsAction("PerformingAnAppointment", "HomeDocs") ? "active" : "")">
                        <a href="@Url.Action("PerformingAnAppointment", "HomeDocs")">Realizando uma consulta</a>
                    </li>
                    <li class="nav-header">Medicamentos
                    </li>
                    <li class="@(this.IsAction("RegisteringMedicines", "HomeDocs") ? "active" : "")">
                        <a href="@Url.Action("RegisteringMedicines", "HomeDocs")">Cadastrando medicamentos</a>
                    </li>
                    <li class="nav-header">Convênios
                    </li>
                    <li class="@(this.IsAction("RegisteringHealthInsurances", "HomeDocs") ? "active" : "")">
                        <a href="@Url.Action("RegisteringHealthInsurances", "HomeDocs")">Cadastrando convênios e formas de atendimento particular</a>
                    </li>
                    <li class="nav-header">Atestados médicos
                    </li>
                    <li class="@(this.IsAction("RegisteringMedicalCertificates", "HomeDocs") ? "active" : "")">
                        <a href="@Url.Action("RegisteringMedicalCertificates", "HomeDocs")">Cadastrando modelos de atestados médicos</a>
                    </li>
                    <li class="nav-header">Geral
                    <li class="@(this.IsAction("ReferenceFields", "HomeDocs") ? "active" : "")">
                        <a href="@Url.Action("ReferenceFields", "HomeDocs")">Campos de referência</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="span9">
            @RenderBody()
        </div>
    </div>
</div>

