@using CerebelloWebRole.Code.Security
@{
    this.Layout = "_EmptyLayout.cshtml";
}
@section Header{@RenderSection("Header", false)}
@section Scripts
{
    <script type="text/javascript">
        var uvOptions = {};
        (function () {
            var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
            uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/tFTjUbJ2Ov4QGQqsVCp3HQ.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
        })();
    </script>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37908571-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

    @RenderSection("Scripts", false)
}
<div class="topbar">
    <div class="header">
        <div class="container">
            <div class="brand">
                <a href="/">
                    <img src="/Content/Images/top-logo.png" />
                </a>
            </div>
            <ul id="top_menu" class="nav nav-pills">
                <li class="@(this.IsAction("Index", "Home") ? "active" : "")"><a href="@Url.Action("Index", "Home", new { area = "" })">Home</a></li>
                <li class="@(this.IsAction("PricesAndPlans", "Home") ? "active" : "")"><a href="@Url.Action("PricesAndPlans", "Home", new { area = "" })">Preços e Planos</a></li>
                <li class="@(this.IsAction("Index", "HomeDocs") ? "active" : "")"><a href="@Url.Action("Index", "HomeDocs", new { area = "Docs" })">Documentação</a></li>
                <li><a href="https://cerebello.uservoice.com">Central de ideias</a></li>
                @if (this.User is AuthenticatedPrincipal)
                {
                    var userData = (this.User as AuthenticatedPrincipal).Profile;
                    <li><a href="@Url.Action("Index", "PracticeHome", new { practice = userData.PracticeIdentifier, area = "App" })">Entrar</a></li>
                    <li><a href="@Url.Action("LogoutLogin", "Authentication")">Eu não sou @userData.FullName</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("Login", "Authentication", new { area = "" })">Login</a></li>
                }
            </ul>
        </div>
    </div>
</div>
@RenderBody()
<div class="footer">
    <div class="container">
        <img src="/Content/Images/Site/logo_transp.png" />
        <p>Nossa missão é fazer do trabalho cotidiano dos nossos clientes uma experiência mais simples e agradável.</p>
        <div class="row links-horizontal">
            <div class="span12">
                <ul>
                    <li><a href="@Url.Action("Index", "Home", new { area = "" })">Produto</a></li>
                    <li><a href="@Url.Action("PricesAndPlans", "Home", new { area = "" })">Preços e Planos</a></li>
                    <li><a href="@Url.Action("Index", "HomeDocs", new { area = "Docs" })">Documentação</a></li>
                    <li><a href="https://cerebello.uservoice.com">Central de ideias</a></li>
                    <li><a href="mailto:cerebello@cerebello.com.br">Fale Conosco</a></li>
                </ul>
            </div>

            <div class="span12">
                <a class="twitter-link" href="http://twitter.com/cerebello" target="_blank">Siga o Cerebello no Twitter</a>
            </div>
        </div>
    </div>
</div>
