@model CerebelloWebRole.Areas.App.Models.MedicalCertificateViewModel
@{
    Layout = null;
}
<div class="medical-certificate-details medical-appointment-details-panel" data-val-id="medical-certificate-@Model.Id">
    <div>
        <table class="view-table">
            <tr>
                <th>Modelo: </th>
                <td>@this.Model.ModelName</td>
            </tr>
        </table>
    </div>
    <div class="inline-link-bar">
        <a href="#" class="edit-medical-certificate inline-link">Editar atestado</a>
        <a href="#" class="delete-medical-certificate inline-link">Excluir atestado</a>
        <a href="@Url.Action("viewpdf", new { id = this.Model.Id })" class="inline-link"  target="_blank">Visualizar para impressão</a>
    </div>
    <script type="text/javascript">
        $(".edit-medical-certificate", $("div[data-val-id='medical-certificate-@Model.Id']")).click(function (e) {
            e.preventDefault();
            $.ajax({
                url: "@Url.Action("edit", "medicalcertificates", new { id = Model.Id })",
                success: function(result) {
                    $("div[data-val-id='medical-certificate-@Model.Id']").replaceWith(result);
                }
            });
        });
        
        $(".delete-medical-certificate", $("div[data-val-id='medical-certificate-@Model.Id']")).click(function (e) {
            e.preventDefault();
            $.deleteConfirmation({
                objectType: "atestado médico",
                url: "@Url.Action("delete", new { id = this.Model.Id })",
                success: function (data) {
                    alert("Este atestado médico foi excluído");
                    window.location = "@Url.Action("details", "patients", new { id = this.Model.PatientId })";
                }
            });
        });
    </script>
</div>

