@model MedicalCertificateViewModel
@using System.Diagnostics
@{
    this.Layout = null;
    Debug.Assert(this.Model != null, "this.Model != null");
    var certificateId = this.Model.Id == null ? "new-" + Guid.NewGuid() : this.Model.Id.ToString();

    string autocompleteName;
    string htmlFieldPrefix;
}
<div class="appointment-panel" data-val-id="certificate-@certificateId">
    @using (this.Html.BeginForm(null, null, FormMethod.Post))
    {
        using (this.Html.BeginScope("MedicalCertificates"))
        {
            var editPanel = this.Html.CreateEditPanel();
            editPanel.AddField(model => model.ModelId,
                EditPanelFieldSize.Large,
                @<text>@this.Html.AutocompleteFor(model => model.ModelId, model => model.ModelName, this.Url.Action("AutocompleteModelMedicalCertificates", "ModelMedicalCertificates"))</text>);

            @this.Html.ValidationSummary(false)
            @this.Html.HiddenFor(model => model.PatientId)
            @this.Html.HiddenFor(model => model.Id)
            @this.Html.HiddenFor(model => model.IssuanceDate)

            @editPanel.GetHtml()

            autocompleteName = this.Html.GetComponentNameFor(model => model.ModelName);
            htmlFieldPrefix = this.ViewData.TemplateInfo.HtmlFieldPrefix;
            
            <div class="fields-wrapper">
                @this.Html.Partial("MedicalCertificateFieldsEditor")        
            </div>
            <div class="inline-link-bar">
                <a href="@this.Url.Action("Index", "ModelMedicalCertificates")" target="_blank" class="inline-link" >Gerenciar modelos de atestados</a>
            </div>
            <div class="submit-bar">
                <input type="submit" value="salvar medical certificate" />
                <span class="separator">or</span> <a href="#" class="cancel">cancel</a>
            </div>
        }
    }
    <script type="text/javascript">
        (function() {
            var $container = $("div[data-val-id='certificate-@certificateId']");
            
            $('form', $container).ajaxForm({
                success: function (result) {
                    $container.replaceWith(result);
                }
            });

            $("input[name='@autocompleteName']").data("autocomplete").opts.change = function(data) {
                console.log(data);
                console.log(data.Id);
                $.ajax({
                    url: "@this.Url.Action("MedicalCertificateFieldsEditor")",
                    data: { modelId: data.Id, certificateId: @(this.Model.Id != null ? Model.Id.ToString() : "null"), htmlFieldPrefix: '@htmlFieldPrefix' },
                        success: function(result) {
                            $(".fields-wrapper", $container).html(result);
                        },
                        error: function(e) {
                            alert("algo deu errado");
                        }
                    });
            };
            
            $('a.cancel', $container).click(function(e) {
                e.preventDefault();
                @if (this.Model.Id != null)
                {
                    @:$.ajax({url: "@this.Url.Action("Details", new { id = this.Model.Id })", success: function(result) { $container.replaceWith(result); }});   
                }
                else
                {
                    @:$container.remove();
                }
            });
        })();
    </script>
</div>
