@model ExaminationResultViewModel
@{
    this.Layout = null;
}
<div class="examresult-details medical-appointment-details-panel" data-val-id="examresult-@Model.Id">
    @if (Model != null)
    {
        var cardView = this.Html.CreateCardView(true);
        cardView.AddField(model => model.MedicalProcedureName, wholeRow: true);
        cardView.AddField(model => model.MedicalProcedureCode, wholeRow: true);
        cardView.AddField(model => model.Text, wholeRow: true);
        cardView.AddField(model => model.ExaminationDate, @<text>@(this.Model.ExaminationDate.Value.ToString("dd/MM/yyyy"))</text>, wholeRow: true);

        @cardView.GetHtml()
    }
    <div class="inline-link-bar">
        <a href="#" class="edit-examresult inline-link">Editar resultado de exame</a>
        <a href="#" class="delete-examresult inline-link">Excluir resultado de exame</a>
    </div>
    <script type="text/javascript">
        $(".edit-examresult", $("div[data-val-id='examresult-@Model.Id']")).click(function (e) {
            e.preventDefault();
            $.ajax({
                url: "@Url.Action("Edit", "ExamResults", new { id = Model.Id })",
                success: function (result) {
                    $("div[data-val-id='examresult-@Model.Id']").replaceWith(result);
                }
            });
        });

        $(".delete-examresult", $("div[data-val-id='examresult-@Model.Id']")).click(function (e) {
            e.preventDefault();
            $.deleteConfirmation({
                objectType: "resultado de exame",
                url: "@Url.Action("Delete", new { id = this.Model.Id })",
                success: function (data) {
                    alert("Este resultado de exame foi excluído");
                    window.location = "@Url.Action("Details", "Patients", new { id = this.Model.PatientId })";
                }
            });
        });

    </script>
</div>
