@model CerebelloWebRole.Areas.App.Models.ExaminationResultViewModel
@{
    Layout = null;
    string examResultId = null;
    if (this.Model != null && Model.Id == null)
    {
        examResultId = "new-" + Guid.NewGuid().ToString();
    }
    else
    {
        examResultId = Model.Id.ToString();
    }
}
<div class="examresult-edit appointment-panel" data-val-id="examresult-@examResultId">
    @using (Html.BeginForm(null, null, FormMethod.Post))
    {
        @Html.ValidationSummary(false)
        @Html.HiddenFor(model => model.PatientId)
        @Html.HiddenFor(model => model.Id)
    
        var editPanel = Html.CreateEditPanel();
        
        editPanel.AddField(
            m => m.Title,
            CerebelloWebRole.Code.Controls.EditPanelFieldSize.Large);

        editPanel.AddField(
            m => m.Text,
            CerebelloWebRole.Code.Controls.EditPanelFieldSize.Large,
            format: @<text>@Html.TextAreaFor(model => model.Text, new { rows = 5 })</text>);
        
        @editPanel.GetHtml()
        
        <div class="inline-link-bar">
        </div>
    
        <div class="submit-bar">
            <input type="submit" value="salvar resultado de exame" />
            <span class="separator">ou</span>
            <a href="#" class="cancel">cancelar</a>
        </div>
    }

    <script type="text/javascript">
        (function() {
            var $container = $("div[data-val-id='examresult-@examResultId']");
            $('form', $container).ajaxForm({
                success: function (result) {
                    $container.replaceWith(result);
                }
            });
            $('a.cancel', $container).click(function(e) {
                e.preventDefault();
                @if (Model.Id != null)
                {
                    @:$.ajax({url: "@Url.Action("details", new { id = Model.Id })", success: function(result) { $container.replaceWith(result); }});   
                }
                else
                {
                    @:$container.remove();
                }
            });
        })();
    </script>
</div>