@model ExaminationResultViewModel
@using System.Diagnostics
@using System.Linq.Expressions
@{
    this.Layout = null;
    Debug.Assert(this.Model != null, "this.Model != null");
    var examResultId = this.Model.Id == null ? "new-" + Guid.NewGuid() : this.Model.Id.ToString();
}
<div class="appointment-panel" data-val-id="examresult-@examResultId">
    @using (this.Html.BeginForm(null, null, FormMethod.Post))
    {
        using (this.Html.BeginScope("ExamResults"))
        {
        @this.Html.ValidationSummary(false)
        @this.Html.HiddenFor(model => model.PatientId)
        @this.Html.HiddenFor(model => model.Id)
            @this.Html.HiddenFor(model => model.ReceiveDate)

            var editPanel = this.Html.CreateEditPanel();

            editPanel.AddField(
                m => m.MedicalProcedureId,
                EditPanelFieldSize.Large,
                @<text>
        @(this.Html.AutocompleteGridFor(
                                    m => m.MedicalProcedureId,
                                    m => m.MedicalProcedureName,
                                    this.Url.Action("LookupMedicalProcedures", "MedicalProcedures"),
                                    pm => pm.Id,
                                    pm => pm.Name,
                                    new Expression<Func<MedicalProceduresLookupGridModel, object>>[] { pm => pm.Code }
                            ))
        @this.Html.HiddenFor(m => m.MedicalProcedureCode)
        </text>);

            editPanel.AddField(
                m => m.Text,
                EditPanelFieldSize.Large,
                @<text>@this.Html.TextAreaFor(model => model.Text, new { rows = 5 })</text>);

            editPanel.AddField(model => model.ExaminationDate, this.Html.EditorFor, EditPanelFieldSize.Large);

        @editPanel.GetHtml()

        <div class="inline-link-bar">
        </div>

        <div class="submit-bar">
            <input type="submit" value="save exam or proceeding result" />
            <span class="separator">or</span>
            <a href="#" class="cancel">cancel</a>
        </div>
        }

        <script type="text/javascript">
            (function () {
                var $container = $("div[data-val-id='examresult-@examResultId']");
                $('form', $container).ajaxForm({
                    success: function (result) {
                        $container.replaceWith(result);
                    }
                });
                $('a.cancel', $container).click(function (e) {
                    e.preventDefault();
                    @if (this.Model.Id != null)
                    {
                        @:$.ajax({ url: "@(this.Url.Action("Details", new { id = this.Model.Id }))", success: function (result) { $container.replaceWith(result); } });   
                    }
                    else
                    {
                        @:$container.remove();
                    }
                });
            })();
        </script>
    }
</div>
