@using Cerebello.Model
@using CerebelloWebRole.Code
@using CerebelloWebRole.Models
@model CerebelloWebRole.Areas.App.Models.ConfigPracticeViewModel
@{
    ViewBag.Title = "Configurações do consultório";
    Layout = "~/Areas/App/Views/Shared/_LayoutPractice.cshtml";

    // creating details CardView
    var cardView = this.Html.CreateCardView();
    cardView.AddField(m => m.PracticeName, wholeRow: true);
    cardView.AddField(m => m.PracticeTimeZone,
    @<text>@EnumHelper.GetText(@item.PracticeTimeZone, typeof(TypeTimeZone))</text>,
        wholeRow: true);
    cardView.AddField(m => m.PhoneMain);
    cardView.AddField(m => m.PhoneAlt);
    cardView.AddField(m => m.Pabx);
    cardView.AddField(m => m.Email, wholeRow: true);
    cardView.AddField(m => m.SiteUrl, wholeRow: true);
}
@section Title {
    @ViewBag.Title
}
@section SideBar {
    <a href="@Url.Action("Edit")" class="icon-link icon-link-home">Editar informações</a>
}

@cardView.GetHtml()
<h2>
    @Html.LabelFor(model => model.Address)
</h2>
@Html.DisplayFor(model => model.Address)
