@model PatientFileViewModel
@{
    this.Layout = null;              
}
<div class="patientFile-details medical-appointment-details-panel" data-val-id="patientFile-@Model.Id">
    @if (Model != null)
    {
        var cardView = this.Html.CreateCardView();
        cardView.AddField(model => model.FileName, @<text><a target="_blank" href="@Url.Action("DownloadFile", "PatientFiles", new { fileName = this.Model.FileName })">@this.Model.FileName</a></text>, wholeRow: true);
        cardView.AddField(model => model.Description, wholeRow: true);
        cardView.AddField(model => model.FileDate, @<text>@(this.Model.FileDate.Value.ToString("dd/MM/yyyy"))</text>, wholeRow: true);
        
        @cardView.GetHtml()
    }
    <div class="inline-link-bar">
        <a href="#" class="edit-patientFile inline-link">Editar arquivo</a>
        <a href="#" class="delete-patientFile inline-link">Excluir arquivo</a>
    </div>
    <script type="text/javascript">
        $(".edit-patientFile", $("div[data-val-id='patientFile-@Model.Id']")).click(function (e) {
            e.preventDefault();
            $.ajax({
                url: "@Url.Action("Edit", "PatientFiles", new { id = Model.Id })",
                success: function (result) {
                    $("div[data-val-id='patientFile-@Model.Id']").replaceWith(result);
                }
            });
        });

            $(".delete-patientFile", $("div[data-val-id='patientFile-@Model.Id']")).click(function (e) {
            e.preventDefault();
            $.deleteConfirmation({
                objectType: "arquivo",
                url: "@Url.Action("Delete", "PatientFiles", new { id = this.Model.Id })",
                success: function (data) {
                    alert("Este arquivo foi excluído");
                    window.location = "@Url.Action("Details", "Patients", new { id = this.Model.PatientId })";
                }
            });
                });

    </script>
</div>
