@using System.Diagnostics
@model PatientFileViewModel
@{
    this.Layout = null;
    string patientFileId = null;
    if (this.Model != null && Model.Id == null)
    {
        patientFileId = "new-" + Guid.NewGuid().ToString();
    }
    else
    {
        Debug.Assert(Model != null, "Model != null");
        patientFileId = Model.Id.ToString();
    }
}
<div class="patientFile-edit appointment-panel" data-val-id="patientFile-@patientFileId">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(false)
        @Html.HiddenFor(model => model.PatientId)
        @Html.HiddenFor(model => model.Id)

        var editPanel = this.Html.CreateEditPanel();
        if (!this.Model.Id.HasValue || this.Model.Id == 0)
        {
            editPanel.AddField(model => model.PostedFile, @<text><input type="file" id="PostedFile" name="PostedFile" /></text>);
        }
        editPanel.AddField(model => model.Description,
                CerebelloWebRole.Code.Controls.EditPanelFieldSize.Large, @<text>@Html.TextAreaFor(model => model.Description, new { rows = 5 })</text>);

                editPanel.AddField(model => model.FileDate, EditPanelFieldSize.Large, @<text>@Html.EditorFor(model => model.FileDate)</text>);
                editPanel.AddField(model => model.ReceiveDate, EditPanelFieldSize.Large, @<text>@Html.EditorFor(model => model.ReceiveDate)</text>);
                @editPanel.GetHtml()

        <div class="submit-bar">
            <input type="submit" value="salvar arquivo" />
            <span class="separator">ou</span>
            <a href="#" class="cancel">cancelar</a>
        </div>
    }

    <script type="text/javascript">
        (function () {
            var $container = $("div[data-val-id='patientFile-@patientFileId']");
            $('form', $container).ajaxFileForm({
                success: function (result) {
                    $container.replaceWith(result);
                }
            });
            $('a.cancel', $container).click(function (e) {
                e.preventDefault();
                    @if (Model.Id != null)
                    {
                        @:$.ajax({ url: "@(Url.Action("Details", new { id = Model.Id }))", success: function (result) { $container.replaceWith(result); } });   
                    }
                    else
                    {
                        @:$container.remove();
                    }
            });
        })();
    </script>
</div>
