@model Cerebello.Areas.App.Models.NewAppointmentModel
@{
    Layout = null;
    var ajaxOptions = new AjaxOptions()
    {
        OnSuccess = "onSuccess",
        OnFailure = "onFailure",
        HttpMethod = "POST",
        Url = Url.Action("NewAppointment", "Schedule")
    };
}
<div class="balloon">
    <script type="text/javascript">
        function onSuccess(data) {
            $(".balloon").hide();
        };

        function onFailure() {
        }

        $(function() {
                $("#PatientName").autocomplete({
                    source: "@Url.Action("SearchPatients", "Patients")",
                    select: function(event, data) {
                        $("#PatientId").val(data.item.id);
                    }
                });

                $("#novoPaciente").bind("click", function (e) {
                    e.preventDefault();

                    var h = 320;
                    var w = 380;
                    var left = (screen.width / 2) - (w / 2);
                    var top = (screen.height / 2) - (h / 2);

                    var newWindow = window.open("/app/patients/createcompact", "Novo Paciente", 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);

                    if (newWindow.focus) {
                        newWindow.focus();
                    }

                    newWindow.callbackFunction = function (patientId, patientName) {
                        $("#PatientName").val(patientName);
                        $("#PatientId").val(patientId);

                        newWindow.close();
                    }
                });
        });
    </script>
    <div class="balloon-arrow-border">
    </div>
    <div class="balloon-arrow">
    </div>
    <div class="balloon-wrapper">
        <p class="title">
            Nova consulta</p>
        <p class="date">
        </p>
        <p class="property-title">
        </p>
        @using (Ajax.BeginForm(ajaxOptions))
        {
            @Html.ValidationSummary(false)
            <div class="patient-box">
                @Html.LabelFor(model => model.PatientId)
                @Html.EditorFor(model => model.PatientName)
                @Html.HiddenFor(model => model.Date)
                @Html.HiddenFor(model => model.PatientId)
                @Html.HiddenFor(model => model.DoctorsId)
                <a id="novoPaciente" href="#">Novo Paciente</a>
            </div>
            <div class="buttons-bar">
                <input type="submit" value="Cadastrar" />
                <span class="separator">ou</span> <a id="cancel" href="#">Cancelar</a>
            </div>
        }
    </div>
</div>
