@model ReceiptViewModel
@{
    Layout = null;
}
<div class="receipt-details medical-appointment-details-panel" data-val-id="receipt-@Model.Id">
    <ul class="view-list receipts-list">
        @if (Model != null && Model.PrescriptionMedicines != null)
        {
            foreach (var medicine in Model.PrescriptionMedicines)
            {
                @Html.Partial("ReceiptMedicineDetails", medicine)
            }
        }
    </ul>
    <div class="inline-link-bar">
        <a href="#" class="edit-receipt inline-link">Editar receita</a>
        <a href="#" class="delete-receipt inline-link">Excluir receita</a>
        <a href="@Url.Action("viewpdf", new { id = this.Model.Id })" class="inline-link" target="_blank">Visualizar para impressão</a>
    </div>
    <script type="text/javascript">
        $(".edit-receipt", $("div[data-val-id='receipt-@Model.Id']")).click(function (e) {
            e.preventDefault();
            $.ajax({
                url: "@Url.Action("edit", "receipts", new { id = Model.Id })",
                success: function(result) {
                    $("div[data-val-id='receipt-@Model.Id']").replaceWith(result);
                }
            });
        });
        
        $(".delete-receipt", $("div[data-val-id='receipt-@Model.Id']")).click(function (e) {
            e.preventDefault();
            $.deleteConfirmation({
                objectType: "receita",
                url: "@Url.Action("delete", new { id = this.Model.Id })",
                success: function (data) {
                    alert("Esta receita foi excluída");
                    window.location = "@Url.Action("details", "patients", new { id = this.Model.PatientId })";
                }
            });
        });
    </script>
</div>
