@model ReceiptViewModel
@using System.Diagnostics
@{
    this.Layout = null;
    Debug.Assert(this.Model != null, "this.Model != null");
    var receiptId = this.Model.Id == null ? "new-" + Guid.NewGuid() : this.Model.Id.ToString();
}
<div class="appointment-panel" data-val-id="receipt-@receiptId">
    @using (this.Html.BeginForm(null, null, FormMethod.Post))
    {
        using (this.Html.BeginScope("Receipts"))
        {
        @this.Html.ValidationSummary(false)
        @this.Html.HiddenFor(model => model.PatientId)
        @this.Html.HiddenFor(model => model.Id)
        @this.Html.HiddenFor(model => model.IssuanceDate)

        <ul class="edit-list medicines-list">
            @if (this.Model != null && this.Model.ReceiptMedicines.Count > 0)
            {
                foreach (var receiptMedicine in this.Model.ReceiptMedicines)
                {
                    @this.Html.Partial("ReceiptMedicineEditor", new ViewDataDictionary(this.ViewData) { Model = receiptMedicine })
                }
            }
            else
            {
                @this.Html.Partial("ReceiptMedicineEditor", new ViewDataDictionary(this.ViewData) { Model = null })
            }
        </ul>

        var editPanel = this.Html.CreateEditPanel();
        @editPanel.GetHtml()

        <div class="inline-link-bar">
            <a href="@this.Url.Action("ReceiptMedicineEditor", new { this.ViewData.TemplateInfo.HtmlFieldPrefix })" class="add-medicine inline-link">Incluir medicamento</a>
            <a href="@this.Url.Action("Index", "Medicines")" target="_blank" class="inline-link">Gerenciar medicamentos</a>
        </div>

        <div class="submit-bar">
            <input type="submit" value="save prescription" />
            <span class="separator">or</span>
            <a href="#" class="cancel">cancel</a>
        </div>
        }
    }

    <script type="text/javascript">
        (function() {
            var $container = $("div[data-val-id='receipt-@receiptId']");
            $(".add-medicine", $container).click(function (e) {
                e.preventDefault();
                $.ajax({
                    url: $(this).attr("href"),
                    success: function(result) {
                        $(".medicines-list", $container).append(result);
                    }
                });
            });
            $('form', $container).ajaxForm({
                success: function (result) {
                    $container.replaceWith(result);
                }
            });
            $('a.cancel', $container).click(function(e) {
                e.preventDefault();
                @if (this.Model.Id != null)
                {
                    @:$.ajax({url: "@this.Url.Action("Details", new { id = this.Model.Id })", success: function(result) { $container.replaceWith(result); }});   
                }
                else
                {
                    @:$container.remove();
                }
            });
        })();
    </script>
</div>