@model DiagnosisViewModel
@using System.Diagnostics
@using System.Linq.Expressions
@using CerebelloWebRole.Code.Controls
@{
    this.Layout = null;
    Debug.Assert(this.Model != null, "this.Model != null");
    var examRequestId = this.Model.Id == null ? "new-" + Guid.NewGuid() : this.Model.Id.ToString();
}
<div class="appointment-panel" data-val-id="diagnosis-@examRequestId">
    @using (this.Html.BeginForm(null, null, FormMethod.Post))
    {
        using (this.Html.BeginScope("Diagnosis"))
        {
            @this.Html.ValidationSummary(false)
            @this.Html.HiddenFor(model => model.PatientId)
            @this.Html.HiddenFor(model => model.Id)

            var editPanel = Html.CreateEditPanel();
            editPanel.AddField(
                m => m.Cid10Code,
                EditPanelFieldSize.Large,
                @<text>@(Html.AutocompleteGridFor(
                    m => m.Cid10Code,
                    m => m.Cid10Name,
                    this.Url.Action("AutocompleteDiagnoses"),
                    gm => gm.Cid10Code,
                    gm => gm.Cid10Name,
                    new Expression<Func<CidAutocompleteGridModel, object>>[] { gm => gm.Cid10Code }))</text>);

                editPanel.AddField(
                    m => m.Text,
                    EditPanelFieldSize.Large,
                    @<text>@Html.TextAreaFor(model => model.Text, new {rows = 5})</text>);
        
                editPanel.AddField(model => model.MedicalRecordDate, EditPanelFieldSize.Large, @<text>@Html.EditorFor(model => model.MedicalRecordDate)</text>);

            @editPanel.GetHtml()

            <div class="inline-link-bar">
            </div>

            <div class="submit-bar">
                <input type="submit" value="salvar diagnóstico" />
                <span class="separator">ou</span>
                <a href="#" class="cancel">cancelar</a>
            </div>
        }

        <script type="text/javascript">
            (function() {
                var $container = $("div[data-val-id='diagnosis-@examRequestId']");
                $('form', $container).ajaxForm({
                    success: function(result) {
                        $container.replaceWith(result);
                    }
                });
                $('a.cancel', $container).click(function(e) {
                    e.preventDefault();
                    @if (this.Model.Id != null)
                    {
                        @:$.ajax({url: "@this.Url.Action("details", new { id = this.Model.Id })", success: function(result) { $container.replaceWith(result); }});   
                    }
                    else
                    {
                        @:$container.remove();
                    }
                });
            })();
        </script>
    }
</div>