@using CerebelloWebRole.Models
@model EmailViewModel
@{
    var urlWithData = this.Url.Action("VerifyPracticeAndEmail", "Authentication",
        new { Model.Token, practice = this.Model.PracticeIdentifier }, "https");
    var urlLogin = this.Url.Action("Index", "PracticeHome",
        new { practice = this.Model.PracticeIdentifier, area = "App" }, "https");
}
@if (this.Model.IsBodyHtml)
{
    <html>
    <head>
        <title>Dados da conta</title>
        @if (DebugConfig.UseDesktopEmailBox)
        {
            <style type="text/css">
                /* GMAIL style (only when local presentation) */
                /* Style tags have no effect in e-mails */
                body {
                    font-size: 13px;
                    font-family: arial, sans-serif;
                    color: #222;
                    background: white;
                }
            </style>
        }
    </head>
    <body style="font-family: arial, sans-serif; color: #222; background: white;">
        Olá <strong>@Model.PersonName</strong>,<br />
        <p>
            Em virtude do cancelamento da conta no cerebello.com.br,
            estamos te enviando este e-mail
            contendo anexos, com os dados cadastrados do consultório <code style="
                                      white-space: nowrap;
                                      background-color: #F8F8F8;
                                      border: 1px solid #EAEAEA;
                                      border-radius: 3px 3px 3px 3px;
                                      margin: 0 2px;
                                      padding: 0 5px;
                                      font-family: Consolas,'Liberation Mono',Courier,monospace;
                                      font-size: 1.1em;
                                      line-height: 1.6;
                                      color: #333333;
                                  ">@this.Model.PracticeIdentifier</code> em 
            <a href="@this.Url.Action("Index", "Home", new { }, "https")">www.cerebello.com.br</a>.
        </p>
        <p>
            Atenciosamente<br/>
            <em style="margin-right: 2em; display: inline-block;">equipe CareSys Tecnologias de Informação</em>
        </p>
    </body>
    </html>

    return;
}
Dados da conta
==============

Olá @Html.Raw(Model.PersonName),

    Em virtude do cancelamento da conta
no cerebello.com.br, estamos te enviando
este e-mail contendo anexos, com os
dados cadastrados do consultório
"@this.Model.PracticeIdentifier" em
www.cerebello.com.br

Atenciosamente
    equipe CareSys Tecnologias de Informação
