@using CerebelloWebRole.Areas.App.Models
@model CancelAccountViewModel
@{
    var title = string.Format("Cancelar {0}", this.Model.CurrentContract.PlanTitle);
    this.ViewBag.Title = string.Format("{0} · Cerebello", title);
    this.Layout = "~/Areas/App/Views/Shared/_LayoutPractice.cshtml";
    var partialViewName = string.Format("Cancel{0}Partial", this.Model.CurrentContract.UrlIdentifier);
    var cancelUrl = ViewBag.ReturnUrl ?? Url.Action("Index", "ConfigAccount");
}
@section Title {
    @title <span class="lock-title icon-lock" />
}
@section Scripts {
    @Html.Partial("LockScript", new LockScriptViewModel(LockAccessType.Owner))
}
@section Styles
{
    <link type="text/css" href="/Content/Styles/App/CancelAccountPage.css" rel="stylesheet" />
}
<div class="cancel-warning">
    @Html.Partial(partialViewName)
</div>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)
    
    if (this.ViewBag.CancelRequested == true)
    {
    <p>
        Sua requisição para o cancelamento da conta foi enviado.
    </p>
    <p>
        Em breve (próximas 24h) entraremos em contato para definir os termos
        de cancelamento, tal como o que fazer com os seus dados,
        e o que fazer com o restante do tempo já contratado.
    </p>
    <p>
        Se for de seu interesse podemos negociar os valores,
        assim como tentar solucionar os problemas que motivam
        o pedido de cancelamento.
    </p>
    <p>
        Enquanto isso você pode continuar usando o software
        normalmente.
    </p>
    <p>
        Para adiantar o processo, é possível entrar em contato conosco,
            pelo chat interno do software, por e-mail, ou por nosso telefone
            comercial.
    </p>
    }
    else
    {
    <div class="cancel-text">
        <p>
            É com grande pesar que recebemos a notícia do cancelamento de sua conta.
        </p>
        <p>
            Por favor, nos permita saber os motivos de sua desistência, para que possamos aprender com os erros e tornar o Cerebello um software melhor. Nós agradecemos
        o pelo seu feedback e pelo tempo que esteve conosco. Esperamos fazer parte do seu consultório novamente no futuro.
        </p>
    </div>
            

    <h2>Razões do cancelamento</h2>
    
    @Html.TextAreaFor(model => model.Reason, new { rows = 10, style = "width:500px" })

    <div class="confirmation-checkbox-wrapper">
        @Html.LabelFor(model => model.Confirm)
        @Html.CheckBoxFor(model => model.Confirm)
    </div>
    
    
    

    <div class="submit-bar">
        <input type="submit" value="cancelar a conta" />
        <span class="separator">ou</span> <a href="@cancelUrl">cancelar</a>
    </div>
    }
}