@model ConfigAccountViewModel
<div class="text-section">
    <h2>Plano profissional do Cerebello</h2>
    <div class="text-description">
        <p>Sua conta atualmente está no plano profissional.</p>
        <p>
            O plano profissional não possui limite de pacientes e o suporte é prioritário.
        </p>
        <p>
            Esta conta está configurada para aceitar até @this.Model.CurrentContract.DoctorsLimit médicos.
        </p>
    </div>
</div>

<div class="text-section">
    <h2>Contrato do plano profissional</h2>
    <div class="text-description">
    <table>
        <tr><td><a href="@Url.Content("~/Content/Contracts/ProfissionalPlanContract.html")" target="_blank">Visualizar em outra janela do browser</a></td></tr>
        <tr><td><a href="@Url.Content("~/Content/Contracts/Contrato-plano-profissional.pdf")" target="_blank">Download PDF</a></td></tr>
        <tr><td><a href="@Url.Content("~/Content/Contracts/Contrato-plano-profissional.docx")" target="_blank">Download DOCX</a></td></tr>
        <tr><td><a href="@Url.Content("~/Content/Contracts/Contrato-plano-profissional.rtf")" target="_blank">Download RTF</a></td></tr>
    </table>
    </div>
</div>

<div class="text-section">
    <h2>Faturas</h2>
    <div>
        @{
            var gridBillings = this.Html.CreateGrid(this.Model.BillingYears.SelectMany(by => by.Cycles).OrderByDescending(bc => bc.CycleStart));
            gridBillings.AddField(model => model.DueDate);
            gridBillings.AddField(model => model.Value, @<text>@StringHelper.FormatMoney(item.Value)</text>);
            gridBillings.AddField(model => model.EffectiveDate);
            gridBillings.AddField(model => model.EffectiveValue);
        }
        @gridBillings.GetHtml()
    </div>
</div>
<div class="text-section">
    <h2>Opções do plano</h2>
    @if (false)
    {
    // these options are not supported at this moment
        <div class="option option-upgrade">
            <div>
                <span class="option-title">Suporte por Chat:</span>
                permite que você entre em contato conosco usando a ferramenta de Chat.
            Nesta opção aparece um novo membro no Chat com o nome do atendente de suporte
            disponível no momento,
            que permite que qualquer usuário do seu consultório/clínica tenha ajuda
            imediate na solução de seus problemas, e para sanar possíveis dúvidas.
            </div>
            <a class="button" href="@Url.Action("Upgrade", new {id = "ProfessionalPlan"})">Adicionar suporte por Chat</a>
        </div>
        <div class="option option-upgrade">
            <div>
                <span class="option-title">Envio de lembrete via SMS:</span>
                avisa automaticamente os seus pacientes de suas consultas com antecedência,
                de forma a evitar esquecimentos e faltas desnecessárias. É possível configurar
                com quanta antecedência se deseja enviar a mensagem, além de se poder
                escolher por mandar até dois lembretes em dias diferentes.
            </div>
            <a class="button" href="@Url.Action("Upgrade", new {id = "ProfessionalPlan"})">Adicionar aviso por SMS</a>
        </div>
    }
    <div class="option option-cancel">
        <div class="cancel-icon"></div>
        <div class="option-text">
            <span class="option-title">Cancelamento:</span>
            Apaga todos os dados do sistema, não sendo possível reativar a conta nem fazer download dos dados e arquivos dos pacientes após o 
            cancelamento. É recomendável que seja efetuado backup dos dados e arquivos dos pacientes antes de cancelar.
        </div>
        <div class="button-wrapper">
            <a class="link-button" href="@Url.Action("Cancel")">Cancelar a conta profissional</a>
        </div>
    </div>
</div>
