@using CerebelloWebRole.Areas.App.Models
@model ChangeContractViewModel
<div class="upgrade-block">
    <h2>Contrato</h2>
    @Html.Partial("Contract_ProfessionalPlan")

    <table>
        <tr>
            <th>@Html.LabelFor(vm => vm.AcceptedByUser)</th>
            <td>@Html.CheckBoxFor(vm => vm.AcceptedByUser)</td>
        </tr>
    </table>
</div>

<div class="upgrade-block">
    <h2 style="margin-bottom: 1em;">Meio de pagamento</h2>
    <div class="text-description">
        <input type="hidden" name="@Html.FieldName(vm => vm.PaymentMethod)" value="EMAIL"/>

        <strong>Cobrança por e-mail:</strong>
        Nós lhe enviaremos uma cobraça por e-mail com o título <strong style="white-space: nowrap">Fatura Cerebello</strong>.
        Essa fatura pode ser paga com cartão de crédito, ou então usando saldo disponível em uma conta do PayPal.
        Sua conta será atualizada para o plano profissional, assim que confirmarmos o seu pagamento.
        Por conta do tempo de processamento do pagamento, pedimos um prazo de 2 dias úteis após o pagamento para a ativação
        do novo plano.
    </div>
</div>

<div class="upgrade-block">
    <h2 style="margin-bottom: 1em;">Forma de pagamento</h2>
    <div class="text-description">
        A assinatura será cobrada com a frequência indicada abaixo,
        sempre de forma adiantada. Quanto maior a quantidade de tempo paga,
        maior será o desconto, como indicado na tabela.
        <table class="prices">
            <thead>
                <tr>
                    <th></th>
                    <th>Valor</th>
                    <th class="irrelevant">Equivalente mensal</th>
                    <th>Frequência</th>
                    <th>Desconto</th>
                </tr>
            </thead>
            <tr>
                <td>
                    <input type="radio" name="@Html.FieldName(vm => vm.PaymentModelName)" value="MONTH"/></td>
                <td>R$
                    <invisible>0</invisible>
                    119,00</td>
                <td class="irrelevant">R$ 119,00</td>
                <td>mensal</td>
                <td class="irrelevant">sem desconto</td>
            </tr>
            <tr>
                <td>
                    <input type="radio" name="@Html.FieldName(vm => vm.PaymentModelName)" value="3-MONTHS"/></td>
                <td>R$
                    <invisible>0</invisible>
                    339,00</td>
                <td class="irrelevant">R$ 113,00</td>
                <td>trimestral</td>
                <td>5%</td>
            </tr>
            <tr>
                <td>
                    <input type="radio" name="@Html.FieldName(vm => vm.PaymentModelName)" value="6-MONTHS"/></td>
                <td>R$
                    <invisible>0</invisible>
                    642,00</td>
                <td class="irrelevant">R$ 107,00</td>
                <td>semestral</td>
                <td>10%</td>
            </tr>
            <tr class="important">
                <td>
                    <input type="radio" name="@Html.FieldName(vm => vm.PaymentModelName)" value="12-MONTHS"/></td>
                <td>R$ 1200,00</td>
                <td class="irrelevant">R$
                    <invisible>0</invisible>
                    100,00</td>
                <td>anual</td>
                <td class="important">15%</td>
            </tr>
        </table>
    </div>
</div>
