@using CerebelloWebRole.Areas.App.Models
@model ChangeContractViewModel
@{
    var planTitles = new Dictionary<string, string>(StringComparer.InvariantCultureIgnoreCase)
        {
            { "ProfessionalPlan", "Upgrade para plano profissional" }
        };

    var correctPlanCase = new Dictionary<string, string>(StringComparer.InvariantCultureIgnoreCase)
        {
            { "ProfessionalPlan", "ProfessionalPlan" }
        };

    var title = planTitles[this.Model.ContractUrlId];
    this.ViewBag.Title = string.Format("{0} · Cerebello", title);
    Layout = "~/Areas/App/Views/Shared/_LayoutPractice.cshtml";
}
@section Title {
    @title <span class="lock-title icon-lock" />
}
@section Scripts {
    @Html.Partial("LockScript", new LockScriptViewModel(LockAccessType.Owner))
}
@section Styles
{
    <link href="@Url.Content("~/Content/Styles/App/PlanPage.css")" rel="Stylesheet" type="text/css" />
}
@using (Html.BeginForm(null, null, FormMethod.Post))
{
    @Html.ValidationSummary(false)

    @Html.HiddenFor(vm => vm.ContractUrlId)

    switch (correctPlanCase[this.Model.ContractUrlId])
    {
        case "ProfessionalPlan":
    @:@Html.Partial("Upgrade_ProfessionalPlan", this.Model)
            break;
    }

    <div class="submit-bar">
        <input type="submit" value="concluir" />
        <span class="separator">ou</span>
        @Html.ActionLink("cancelar", "Index")
    </div>
}