@using CerebelloWebRole.Areas.App.Models
@model ChangeContractViewModel
<div class="upgrade-block">
    <h2>Contrato</h2>
    @Html.Partial("Contract_ProfessionalPlan")

    <table>
        <tr>
            <th>@Html.LabelFor(vm => vm.AcceptedByUser)</th>
            <td>@Html.CheckBoxFor(vm => vm.AcceptedByUser)</td>
        </tr>
    </table>
</div>

<div class="upgrade-block">
    <h2 style="margin-bottom: 1em;">Meio de pagamento</h2>
    <div class="text-description">
        <input type="hidden" name="@Html.FieldName(vm => vm.PaymentMethod)" value="EMAIL"/>

        <strong>Cobrança por e-mail:</strong>
        Nós lhe enviaremos uma cobraça por e-mail com o título <strong style="white-space: nowrap">Fatura Cerebello</strong>.
        Essa fatura pode ser paga com cartão de crédito, ou então usando saldo disponível em uma conta do PayPal.
        Sua conta será atualizada para o plano profissional, assim que confirmarmos o seu pagamento.
        Por conta do tempo de processamento do pagamento, pedimos um prazo de 2 dias úteis após o pagamento para a ativação
        do novo plano.
    </div>
</div>

<div class="upgrade-block">
    <h2 style="margin-bottom: 1em;">Forma de pagamento</h2>
    <div class="text-description">
        A assinatura será cobrada com a frequência indicada abaixo,
        sempre de forma adiantada. Quanto maior a quantidade de tempo paga,
        maior será o desconto, como indicado na tabela.
        <script type="text/javascript">
            $(function () {
                $(".prices > tbody > tr").click(function () {
                    $(".prices > tbody > tr.selected").toggleClass("selected");
                    $(this).toggleClass("selected");
                    $(".prices > tbody > tr input:radio[value='" + $(this).attr("val") + "']").attr("checked", true);
                });
            });
        </script>
        <table class="prices">
            <thead>
                <tr>
                    <th></th>
                    <th>Valor</th>
                    <th class="irrelevant">Equivalente mensal</th>
                    <th>Frequência</th>
                    <th>Desconto</th>
                </tr>
            </thead>
            <tr val="MONTH">
                <td>
                    <input type="radio" name="@Html.FieldName(vm => vm.PaymentModelName)" value="MONTH"/></td>
                <td>R$
                    <invisible>0</invisible>
                    119,00</td>
                <td class="irrelevant">R$ 119,00</td>
                <td>mensal</td>
                <td class="irrelevant">sem desconto</td>
            </tr>
            <tr val="3-MONTHS">
                <td>
                    <input type="radio" name="@Html.FieldName(vm => vm.PaymentModelName)" value="3-MONTHS"/></td>
                <td>R$
                    <invisible>0</invisible>
                    339,00</td>
                <td class="irrelevant">R$ 113,00</td>
                <td>trimestral</td>
                <td>5%</td>
            </tr>
            <tr val="6-MONTHS">
                <td>
                    <input type="radio" name="@Html.FieldName(vm => vm.PaymentModelName)" value="6-MONTHS"/></td>
                <td>R$
                    <invisible>0</invisible>
                    642,00</td>
                <td class="irrelevant">R$ 107,00</td>
                <td>semestral</td>
                <td>10%</td>
            </tr>
            <tr class="important" val="12-MONTHS">
                <td>
                    <input type="radio" name="@Html.FieldName(vm => vm.PaymentModelName)" value="12-MONTHS"/></td>
                <td>R$ 1200,00</td>
                <td class="irrelevant">R$
                    <invisible>0</invisible>
                    100,00</td>
                <td>anual</td>
                <td class="important">15%</td>
            </tr>
        </table>
    </div>
</div>

<div class="upgrade-block">
    <h2 style="margin-bottom: 1em;">Vencimento da fatura</h2>
    <div class="text-description">

        <p>
            A assinatura será cobrada com vencimento no dia indicado do mês.
            Assim você pode escolher o melhor dia para pagar sua fatura.
            A fatura será emitida com antecedência em relação ao vencimento, de no mínimo 10 dias,
            dando o tempo necessário para o pagamento ser efetuado.
        </p>
        <p>
            Nota: se o mês não possuir o dia selecionado, então será usado o último dia deste mês.
        </p>
        <script type="text/javascript">
            $(function () {
                $(".days-of-month td.enabled").click(function () {
                    $(".days-of-month td.selected").toggleClass("selected");
                    $(this).toggleClass("selected");
                    $("#@Html.FieldName(m => m.InvoceDueDayOfMonth)").val($(this).attr("val"));
                });
            });
        </script>
        <input type="hidden" id="@Html.FieldName(m => m.InvoceDueDayOfMonth)" name="@Html.FieldName(m => m.InvoceDueDayOfMonth)" value=""/>
        <table class="days-of-month ui-datepicker-calendar">
            @for (int line = 0; line < 5; line++)
            {
                <tr>
                    @for (int column = 0; column < 7; column++)
                    {
                        var day = line * 7 + column;
                        <td class="@(day < 31 ? "enabled" : "disabled")" val="@(day + 1)">
                            @if (day < 31)
                            {
                                @:@(day + 1)
                            }
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>
