@using System.Globalization
@model ChangeContractViewModel
<div class="upgrade-block">
    <h2>Contrato</h2>
    @Html.Partial("Contract_ProfessionalPlan")

    <table>
        <tr>
            <th>@Html.LabelFor(vm => vm.AcceptedByUser)</th>
            <td>@Html.CheckBoxFor(vm => vm.AcceptedByUser)</td>
        </tr>
    </table>
</div>

<div class="upgrade-block">
    <h2 style="margin-bottom: 1em;">@Html.FieldLabelText(m => m.PaymentMethod)</h2>
    <div class="text-description">
        <input type="hidden" name="@Html.FieldName(vm => vm.PaymentMethod)" value="EMAIL"/>

        <strong>Cobrança por e-mail:</strong>
        Nós lhe enviaremos uma cobraça por e-mail com o título <strong style="white-space: nowrap">Fatura Cerebello</strong>.
        Essa fatura pode ser paga com cartão de crédito, ou então usando saldo disponível em uma conta do PayPal.
        Sua conta será atualizada para o plano profissional, assim que confirmarmos o seu pagamento.
        Por conta do tempo de processamento do pagamento, pedimos um prazo de 2 dias úteis após o pagamento para a ativação
        do novo plano.
    </div>
</div>

@{
    var ptBr = CultureInfo.GetCultureInfo("pt-BR");
    var invariant = CultureInfo.InvariantCulture;
}

<div class="upgrade-block">
    <h2 style="margin-bottom: 1em;">@Html.FieldLabelText(m => m.PaymentModelName)</h2>
    <div class="text-description">
        <p>
            A assinatura será cobrada com a frequência selecionada abaixo,
            sempre de forma adiantada. Quanto maior a quantidade de tempo paga,
            maior será o desconto, como indicado na tabela.
        </p>
        <script type="text/javascript">
            function UpdateSummary() {
                var $base = $("table.frequency > tbody > tr.selected");
                var $doctors = $("table.doctors > tbody > tr.selected > td.price");

                var rate = 1 - parseFloat($base.attr("discount")) / 100;

                var basePrice = parseFloat($base.attr("price"));
                var months = parseFloat($base.attr("months"));

                var basePriceMonth = parseFloat("@(Buz.Pro.PRICE_MONTH.ToString("0.00", invariant))");
                var basePriceMonthDisc = basePrice / months;
                var baseSaved = basePriceMonth * months - basePrice;

                var doctorsPriceMonth = parseFloat($doctors.attr("price"));

                var doctorsPriceMonthDisc = doctorsPriceMonth * rate;
                var doctorsPrice = doctorsPriceMonthDisc * months;
                var doctorsSaved = doctorsPriceMonth * months - doctorsPrice;

                var totalPriceMonthDisc = doctorsPriceMonthDisc + basePriceMonthDisc;
                var totalPrice = doctorsPrice + basePrice;
                var totalSaved = doctorsSaved + baseSaved;

                if (!isNaN(basePrice)) {
                    $("#summary-discount").text($base.attr("discount") + "%");
                    $(".summary-frequency").text({ "1": "mensal", "3": "trimestral", "6": "semestral", "12": "anual" }["" + months]);

                    $("#summary-base-price").text("R$ " + basePrice.toFixed(2).replace('.', ','));
                    $("#summary-base-price-month").text("R$ " + basePriceMonthDisc.toFixed(2).replace('.', ','));
                    $("#summary-base-saved").text("R$ " + baseSaved.toFixed(2).replace('.', ','));
                }

                if (!isNaN(basePrice) && !isNaN(doctorsPrice)) {
                    $("#summary-doctors-price").text("R$ " + doctorsPrice.toFixed(2).replace('.', ','));
                    $("#summary-doctors-price-month").text("R$ " + doctorsPriceMonthDisc.toFixed(2).replace('.', ','));
                    $("#summary-doctors-saved").text("R$ " + doctorsSaved.toFixed(2).replace('.', ','));
                }

                if (!isNaN(basePrice) && !isNaN(doctorsPrice)) {
                    $(".summary-total-price").text("R$ " + totalPrice.toFixed(2).replace('.', ','));
                    $("#summary-total-price-month").text("R$ " + totalPriceMonthDisc.toFixed(2).replace('.', ','));
                    $("#summary-total-saved").text("R$ " + totalSaved.toFixed(2).replace('.', ','));
                }
            }

            $(function () {
                $("table.frequency > tbody > tr").click(function () {
                    $("table.frequency > tbody > tr.selected").toggleClass("selected");
                    $(this).toggleClass("selected");
                    $("table.frequency > tbody > tr input:radio[value='" + $(this).attr("model-name") + "']").attr("checked", true);

                    var rate = 1 - parseFloat($(this).attr("discount")) / 100;
                    var mul = parseFloat($(this).attr("months"));
                    $("table.doctors > tbody > tr > td.price").each(function (index) {
                        $(this).text("R$ " + (rate * parseFloat($(this).attr("price")) * mul).toFixed(2).replace('.', ','));
                    });
                    $("table.doctors > tbody > tr input:radio").attr("discount", false);

                    UpdateSummary();
                });
            });
        </script>
        <table class="frequency prices">
            <thead>
                <tr>
                    <th></th>
                    <th>Desconto</th>
                    <th class="expand">Valor</th>
                    <th class="expand">Frequência</th>
                    <th class="expand irrelevant">Equivalente mensal</th>
                    <th class="expand">Economia</th>
                </tr>
            </thead>
            <tr model-name="MONTH" class="enabled" discount="0" months="1" price="@(Buz.Pro.PRICE_MONTH.ToString("0.00", invariant))">
                <td>
                    <input type="radio" name="@Html.FieldName(vm => vm.PaymentModelName)" value="MONTH"/></td>
                <td class="irrelevant">0%</td>
                <td>@(Buz.Pro.PRICE_MONTH.ToString("R$ 0.00", ptBr))</td>
                <td>mensal</td>
                <td class="irrelevant">@(Buz.Pro.PRICE_MONTH.ToString("R$ 0.00", ptBr))</td>
                <td class="irrelevant">R$ 0,00</td>
            </tr>

            <tr model-name="3-MONTHS" class="enabled" discount="@(Buz.Pro.DISCOUNT_QUARTER)" months="3" price="@(Buz.Pro.PRICE_QUARTER.ToString("0.00", invariant))">
                <td>
                    <input type="radio" name="@Html.FieldName(vm => vm.PaymentModelName)" value="3-MONTHS"/></td>
                <td>@(Buz.Pro.DISCOUNT_QUARTER)%</td>
                <td>@(Buz.Pro.PRICE_QUARTER.ToString("R$ 0.00", ptBr))</td>
                <td>trimestral</td>
                <td class="irrelevant">@((Buz.Pro.PRICE_QUARTER / 3).ToString("R$ 0.00", ptBr))</td>
                <td>@((Buz.Pro.PRICE_MONTH * 3 - Buz.Pro.PRICE_QUARTER).ToString("R$ 0.00", ptBr))</td>
            </tr>

            <tr model-name="6-MONTHS" class="enabled" discount="@(Buz.Pro.DISCOUNT_SEMESTER)" months="6" price="@(Buz.Pro.PRICE_SEMESTER.ToString("0.00", invariant))">
                <td>
                    <input type="radio" name="@Html.FieldName(vm => vm.PaymentModelName)" value="6-MONTHS"/></td>
                <td>@(Buz.Pro.DISCOUNT_SEMESTER)%</td>
                <td>@(Buz.Pro.PRICE_SEMESTER.ToString("R$ 0.00", ptBr))</td>
                <td>semestral</td>
                <td class="irrelevant">@((Buz.Pro.PRICE_SEMESTER / 6).ToString("R$ 0.00", ptBr))</td>
                <td>@((Buz.Pro.PRICE_MONTH * 6 - Buz.Pro.PRICE_SEMESTER).ToString("R$ 0.00", ptBr))</td>
            </tr>

            <tr class="important enabled" model-name="12-MONTHS" discount="@(Buz.Pro.DISCOUNT_YEAR)" months="12" price="@(Buz.Pro.PRICE_YEAR.ToString("0.00", invariant))">
                <td>
                    <input type="radio" name="@Html.FieldName(vm => vm.PaymentModelName)" value="12-MONTHS"/></td>
                <td>@(Buz.Pro.DISCOUNT_YEAR)%</td>
                <td>@(Buz.Pro.PRICE_YEAR.ToString("R$ 0.00", ptBr))</td>
                <td>anual</td>
                <td class="irrelevant">@((Buz.Pro.PRICE_YEAR / 12).ToString("R$ 0.00", ptBr))</td>
                <td>@((Buz.Pro.PRICE_MONTH * 12 - Buz.Pro.PRICE_YEAR).ToString("R$ 0.00", ptBr))</td>
            </tr>
        </table>
    </div>
</div>

<div class="upgrade-block">
    <h2 style="margin-bottom: 1em;">@Html.FieldLabelText(m => m.DoctorCount)</h2>
    <div class="text-description">
        <p>
            O preço do plano profissional varia de acordo com o tamanho de seu consultório ou clínica.
            Por esta razão, você deve indicar quantos médicos serão cadastrados, na tabela abaixo.
            Note que o desconto dado no item anterior se aplica aos valores mostrados na tabela abaixo.
            @if (this.Model.DoctorCount == 0)
            {
                @:Atualmente <strong class="doctor-count">não existem médicos</strong> cadastrado em sua conta.
            }
            else if (this.Model.DoctorCount == 1)
            {
                @:Atualmente existe <strong class="doctor-count">1 médico</strong> cadastrado em sua conta.
            }
            else
            {
                @:Atualmente existem <strong class="doctor-count">@Model.DoctorCount médicos</strong> cadastrados em sua conta.
            }
        </p>
        <script type="text/javascript">
            $(function () {
                $("table.doctors > tbody > tr.disabled input:radio").attr("disabled", true);
                $("table.doctors > tbody > tr.enabled").click(function () {
                    $("table.doctors > tbody > tr.selected").toggleClass("selected");
                    $(this).toggleClass("selected");
                    $("table.doctors > tbody > tr input:radio[value='" + $(this).attr("value") + "']").attr("checked", true);

                    UpdateSummary();
                });
            });
        </script>
        <table class="doctors prices">
            <thead>
                <tr>
                    <th></th>
                    <th class="expand">Tamanho</th>
                    <th class="expand">Valor adicional</th>
                </tr>
            </thead>
            @{
                var price2 = 1 * 1.0 * Buz.Pro.DOCTOR_PRICE;
                var price5 = 4 * 0.9 * Buz.Pro.DOCTOR_PRICE;
                var price10 = 9 * 0.825 * Buz.Pro.DOCTOR_PRICE;
                var price15 = 14 * 0.76875 * Buz.Pro.DOCTOR_PRICE;
            }
            <tr value="1" class="@(this.Model.DoctorCount <= 1 ? "enabled" : "disabled")">
                <td>
                    <input type="radio" name="@Html.FieldName(vm => vm.DoctorCount)" value="1"/></td>
                <td>somente 1 médico</td>
                <td class="irrelevant">R$ 0,00</td>
            </tr>
            <tr value="2" class="@(this.Model.DoctorCount <= 2 ? "enabled" : "disabled")">
                <td>
                    <input type="radio" name="@Html.FieldName(vm => vm.DoctorCount)" value="2"/></td>
                <td>2 médicos</td>
                <td class="price" price="@(price2.ToString("0"))">R$ @(price2.ToString("0")),00</td>
            </tr>
            <tr value="5" class="@(this.Model.DoctorCount <= 5 ? "enabled" : "disabled")">
                <td>
                    <input type="radio" name="@Html.FieldName(vm => vm.DoctorCount)" value="5"/></td>
                <td>até 5 médicos</td>
                <td class="price" price="@(price5.ToString("0"))">R$ @(price5.ToString("0")),00</td>
            </tr>
            <tr value="10" class="@(this.Model.DoctorCount <= 10 ? "enabled" : "disabled")">
                <td>
                    <input type="radio" name="@Html.FieldName(vm => vm.DoctorCount)" value="10"/></td>
                <td>até 10 médicos</td>
                <td class="price" price="@(price10.ToString("0"))">R$ @(price10.ToString("0")),00</td>
            </tr>

            <tr value="15" class="@(this.Model.DoctorCount <= 15 ? "enabled" : "disabled")">
                <td>
                    <input type="radio" name="@Html.FieldName(vm => vm.DoctorCount)" value="15"/></td>
                <td>até 15 médicos</td>
                <td class="price" price="@(price15.ToString("0"))">R$ @(price15.ToString("0")),00</td>
            </tr>
        </table>
        <p>
            Se você deseja cadastrar mais de 15 médicos em seu consultório ou clínica,
            por favor entre em contato conosco.
        </p>
    </div>
</div>

<div class="upgrade-block">
    <h2 style="margin-bottom: 1em;">@Html.FieldLabelText(m => m.InvoceDueDayOfMonth)</h2>
    <div class="text-description">

        <p>
            A assinatura será cobrada com vencimento no dia indicado do mês.
            Assim você pode escolher o melhor dia para pagar sua fatura.
            A fatura será emitida com antecedência em relação ao vencimento, de no mínimo 10 dias,
            dando o tempo necessário para o pagamento ser efetuado.
        </p>
        <p>
            Nota: se o mês não possuir o dia selecionado, então será usado o último dia deste mês.
        </p>
        <script type="text/javascript">
            $(function () {
                $(".days-of-month td.enabled").click(function () {
                    $(".days-of-month td.selected").toggleClass("selected");
                    $(this).toggleClass("selected");
                    $("#@Html.FieldName(m => m.InvoceDueDayOfMonth)").val($(this).attr("val"));
                });
            });
        </script>
        <input type="hidden" id="@Html.FieldName(m => m.InvoceDueDayOfMonth)" name="@Html.FieldName(m => m.InvoceDueDayOfMonth)" value=""/>
        <table class="days-of-month ui-datepicker-calendar">
            @for (int line = 0; line < 5; line++)
            {
                <tr>
                    @for (int column = 0; column < 7; column++)
                    {
                        var day = line * 7 + column;
                        <td class="@(day < 31 ? "enabled" : "disabled")" val="@(day + 1)">
                            @if (day < 31)
                            {
                                @:@(day + 1)
                            }
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>

<div class="upgrade-block">
    <h2 style="margin-bottom: 1em;">Resumo</h2>
    <div class="text-description">
        <p>
            Resumindo suas escolhas anteriores:
        </p>
        <table class="prices summary">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Desconto</th>
                    <th class="expand">Valor</th>
                    <th class="expand">Frequência</th>
                    <th class="expand irrelevant">Equivalente mensal</th>
                    <th class="expand">Economia</th>
                </tr>
            </thead>
            <tr class="enabled selected">
                <td style="background: white">Base</td>
                <td id="summary-discount" rowspan="3">?%</td>
                <td id="summary-base-price">R$ -</td>
                <td class="summary-frequency" rowspan="3">-</td>
                <td id="summary-base-price-month" class="irrelevant">R$ -</td>
                <td id="summary-base-saved">R$ -</td>
            </tr>
            <tr class="enabled selected">
                <td style="background: white">Médicos</td>
                <td id="summary-doctors-price">R$ -</td>
                <td id="summary-doctors-price-month" class="irrelevant">R$ -</td>
                <td id="summary-doctors-saved">R$ -</td>
            </tr>
            <tr class="enabled selected important">
                <td style="background: white">Total</td>
                <td class="important summary-total-price">R$ -</td>
                <td id="summary-total-price-month" class="irrelevant">R$ -</td>
                <td id="summary-total-saved">R$ -</td>
            </tr>
        </table>
        <div style="text-align: right">Valor total: <span style="font-size: 2em; font-weight: bold" class="summary-total-price">R$ -</span></div>
        <div style="text-align: right">Intervalo: <span style="font-size: 1.3em; font-weight: bold" class="summary-frequency">-</span></div>
    </div>
</div>
