@model ChangeContractViewModel
@{
    var planTitles = new Dictionary<string, string>(StringComparer.InvariantCultureIgnoreCase)
        {
            { "ProfessionalPlan", "Upgrade para plano profissional" }
        };

    var title = planTitles[this.Model.ContractUrlId];
    this.ViewBag.Title = string.Format("{0} · Cerebello", title);
    Layout = "~/Areas/App/Views/Shared/_LayoutPractice.cshtml";
}
@section Title {
    @title @LockIcon.Icon()
}
@section Scripts {
    @LockIcon.Script(LockAccessType.Owner)
}
@section Styles
{
    <link href="@Url.Content("~/Content/Styles/App/PlanPage.css")" rel="Stylesheet" type="text/css" />
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "contractForm" }))
{
    @Html.ValidationSummary(false)

    @Html.HiddenFor(vm => vm.ContractUrlId)

    <div id="userAgreement">
        @switch (Buz.CorrectPlanCase[this.Model.ContractUrlId])
        {
            case "ProfessionalPlan":
                @:@Html.Partial("Upgrade_ProfessionalPlan", this.Model)
                break;
        }
    </div>
    
    <script type="text/javascript">
        $(function () {
            $('#submitButton').click(function () {

                // maybe disable the submit button once clicked?
                $(this).attr('disabled', true);

                @*note: this is a copy of the html seen by the user*@
                @* http://stackoverflow.com/questions/5550633/append-html-to-jquery-element-without-running-scripts-inside-the-html *@
                @* innerHTML supported browsers: http://www.quirksmode.org/dom/w3c_html.html *@
                var wrapper = document.createElement('div');
                wrapper.innerHTML = $("#userAgreement").html(); // setting innerHTML won't run script tags
                $(wrapper).find('script').remove();

                $("#@Html.FieldName(vm => vm.WholeUserAgreement)").val($(wrapper).html());

                // now submit the form
                $('#contractForm').submit();

                return false;
            });
        });
    </script>
    
    <input type="hidden" id="@Html.FieldName(vm => vm.WholeUserAgreement)" name="@Html.FieldName(vm => vm.WholeUserAgreement)" value=""/>

    <div class="submit-bar">
        <input id="submitButton" type="submit" value="concluir" />
        <span class="separator">ou</span>
        @Html.ActionLink("cancelar", "Index")
    </div>
}