@model CerebelloWebRole.Areas.App.Models.HealthInsuranceViewModel
@{
    ViewBag.Title = "Details";
    // creating details CardView
    var cardView = Html.CreateCardView();
    cardView.AddField(m => m.Name);
    cardView.AddField(m => m.IsActive, m => m.IsActive ? "Ativo" : "Inativo", header: "");
    cardView.AddField(m => m.NewAppointmentValue);
    cardView.AddField(m => m.ReturnAppointmentValue);
    cardView.AddField(m => m.ReturnDaysInterval);
}
@section Title {
    Convênio: @Model.Name
}
@section SideBar {
    <a href="@Url.Action("Edit", new { id = Model.Id })"class="icon-link icon-link-edit" id="edit-medication-link">Editar convênio médico</a>
    <a href="#" class="icon-link icon-link-delete" id="delete-model-link">Excluir convênio</a>
    <a href="@Url.Action("Index")" class="icon-link icon-link-home" id="list-medications-link">Resumo dos convênios médicos</a>

    <script type="text/javascript">
        $("#delete-model-link").click(function (e) {
            e.preventDefault();
            $.confirmation(cerebello.res.deleteConfirmation, {
                warnMessage: "Se houver consultas associadas não será possível excluir.",
                objectType: "convênio",
                objectName: "@this.Model.Name",
                url: "@Url.Action("Delete", new { id = this.Model.Id })",
                success: function (data) {
                    window.location = "@Url.Action("Index")";
                }
            });
        });
    </script>
}

@cardView.GetHtml()
