@using CerebelloWebRole.Areas.App.Models
@model HealthInsuranceViewModel
@{
    var title =
        this.Model.IsParticular
            ? string.Format("Forma de atendimento: {0}", this.Model.Name)
            : string.Format("Convênio: {0}", this.Model.Name);

    this.ViewBag.Title = string.Format("{0} · Cerebello", title);
    // creating details CardView
    var cardView = Html.CreateCardView();
    cardView.AddField(m => m.Name);
    cardView.AddField(m => m.IsActive, m => m.IsActive ? "Ativo" : "Inativo", header: "");
    cardView.AddField(m => m.NewAppointmentValue);
    cardView.AddField(m => m.ReturnAppointmentValue);
    cardView.AddField(m => m.ReturnDaysInterval);
}
@section Title {
    @title <span class="lock-title icon-lock" />
}
@section Scripts {
    @Html.Partial("LockScript", new LockScriptViewModel(LockAccessType.SelfOrAdminOrOwner, "médico"))
}
@section SideBar {
    <a href="@Url.Action("Edit", new { id = Model.Id })"class="icon-link icon-link-edit" id="edit-medication-link">
        @(this.Model.IsParticular ? "Editar forma de atendimento" : "Editar convênio")
    </a>
    <a href="#" class="icon-link icon-link-delete" id="delete-model-link">
        @(this.Model.IsParticular ? "Excluir forma de atendimento" : "Excluir convênio")
    </a>
    <a href="@Url.Action("Index")" class="icon-link icon-link-home" id="list-medications-link">
        Resumo dos convênios e formas de atendimento
    </a>

    <script type="text/javascript">
        $("#delete-model-link").click(function (e) {
            e.preventDefault();
            $.confirmation(cerebello.res.deleteConfirmation, {
                warnMessage: "Se houver consultas associadas não será possível excluir.",
                objectType: "@(this.Model.IsParticular ? "forma de atendimento" : "convênio")",
                objectName: "@this.Model.Name",
                url: "@Url.Action("Delete", new { id = this.Model.Id })",
                success: function (data) {
                    window.location = "@Url.Action("Index")";
                }
            });
        });
    </script>
}

@cardView.GetHtml()
