@model CerebelloWebRole.Areas.App.Models.HealthInsuranceViewModel
@{
    ViewBag.Title = "Details";
    // creating details CardView
    var cardView = Html.CreateCardView();
    cardView.AddField(m => m.Name, wholeRow: true);
    cardView.AddField(m => m.FirstTimeValue, wholeRow: true);
    cardView.AddField(m => m.ReturnValue, wholeRow: true);
}
@section Title {
    Convênio: @Model.Name
}
@section SideBar {
    <a href="@Url.Action("Edit", new { id = Model.Id })"class="icon-link icon-link-edit" id="edit-medication-link">Editar convênio médico</a>
    <a href="@Url.Action("Index")" class="icon-link icon-link-home" id="list-medications-link">Resumo dos convênios médicos</a>

    <script type="text/javascript">
        $("#delete-model-link").click(function (e) {
            e.preventDefault();
            var answer = confirm("Deseja realmente excluir este modelo de atestado médico?\nTodas as receitas de pacientes associadas com este modelo perderão esta associação.\nEsta operação não pode ser desfeita.");
            if (answer) {
                $.getJSON("@Url.Action("Delete", new { id = this.Model.Id })", function(data) {
                    if(data.success) {
                        alert("Este modelo de atestado médico foi excluído");
                        window.location = "@Url.Action("index")";
                    }
                    else
                        alert("Não foi possível excluir este modelo de atestado médico.\n" + "Informações técnicas: " + data.text);
                });
            }
        });
    </script>
}

@cardView.GetHtml()
