@using CerebelloWebRole.Areas.App.Models
@model HealthInsuranceViewModel
@{
    var isEditing = this.Model != null && this.Model.Id.HasValue;
    var title = this.Model.IsParticular
                    ? (isEditing ? "Forma de atendimento particular: " + this.Model.Name : "Nova forma de atendimento particular")
                    : (isEditing ? "Convênio médico: " + this.Model.Name : "Novo convênio médico");
    this.ViewBag.Title = string.Format("{0} · Cerebello", title);
}
@section Title {
    @title <span class="lock-title icon-lock" />
}
@section Scripts {
    @Html.Partial("LockScript", new LockScriptViewModel(LockScriptType.SelfOrAdminOrOwner, "médico"))
}
@section SideBar {
    <a href="@Url.Action("Index")" class="icon-link icon-link-home">Resumo de convênios e formas de atendimento</a>
    <hr />
    @Html.MessageHelp(
        "Os valores definidos nesta tela são usados para estimar o valor de cada consulta, "
        + "portanto devem ser preenchidos com um valor médio, para que os relatórios e projeções sejam calculados "
        + "corretamente.")
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.IsParticular)
    
    if (!isEditing)
    {
    @Html.HiddenFor(model => model.IsActive)
    }

    <table class="form-table">
        <tr>
            <th>@Html.LabelFor(model => model.Name)</th>
            <td class="large">@Html.TextBoxFor(model => model.Name)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => model.NewAppointmentValue)</th>
            <td>@Html.TextBoxFor(model => model.NewAppointmentValue)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => model.ReturnAppointmentValue)</th>
            <td>@Html.TextBoxFor(model => model.ReturnAppointmentValue)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => model.ReturnDaysInterval)</th>
            <td>@Html.TextBoxFor(model => model.ReturnDaysInterval)</td>
        </tr>
        @if (isEditing)
        {
            <tr>
                <th>@Html.LabelFor(model => model.IsActive)</th>
                <td>@Html.CheckBoxFor(model => model.IsActive)</td>
            </tr>
        }
    </table>

    <div class="submit-bar">
        <input type="submit" value="@(this.Model.IsParticular ? "salvar forma de atendimento" : "salvar convênio")" />
        <span class="separator">ou</span>
        @Html.ActionLink("cancelar", "Index")
    </div>
}
