@model HealthInsuranceViewModel
@{
    var isEditing = this.Model != null && this.Model.Id.HasValue;
    var title = this.Model.IsParticular
                    ? (isEditing ? "Forma de atendimento particular: " + this.Model.Name : "Nova forma de atendimento particular")
                    : (isEditing ? "Convênio médico: " + this.Model.Name : "Novo convênio médico");
    this.ViewBag.Title = string.Format("{0} · Cerebello", title);
}
@section Title {
    @title @LockIcon.Icon()
}
@section Scripts {
    @LockIcon.Script(LockAccessType.SelfOrAdminOrOwner, "médico")
}
@section SideBar {
    <ul>
        <li><a href="@Url.Action("Index")" class="icon-link icon-link-home">Resumo de convênios e formas de atendimento</a></li>
    </ul>
    <hr />
    @Html.MessageHelp(
        "Os valores definidos nesta tela são usados para estimar o valor de cada consulta, "
        + "portanto devem ser preenchidos com um valor médio, para que os relatórios e projeções sejam calculados "
        + "corretamente.")
    <hr />
    <ul>
        <li>
            <li><a href="@Url.Action("RegisteringHealthInsurances", "HomeDocs", new { area = "Docs" })" class="icon-link icon-link-help" target="_blank">Ajuda</a></li>
        </li>
    </ul>
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.IsParticular)
    
    if (!isEditing)
    {
    @Html.HiddenFor(model => model.IsActive)
    }

    <table class="form-table">
        <tr>
            <th>@Html.LabelForRequired(model => model.Name)</th>
            <td class="large">@Html.TextBoxFor(model => model.Name)</td>
        </tr>
        <tr>
            <th>@Html.LabelForRequired(model => model.NewAppointmentValue)</th>
            <td>@Html.TextBoxFor(model => model.NewAppointmentValue)</td>
        </tr>
        <tr>
            <th>@Html.LabelForRequired(model => model.ReturnAppointmentValue)</th>
            <td>@Html.TextBoxFor(model => model.ReturnAppointmentValue)</td>
        </tr>
        <tr>
            <th>@Html.LabelForRequired(model => model.ReturnDaysInterval)</th>
            <td>@Html.TextBoxFor(model => model.ReturnDaysInterval)</td>
        </tr>
        @if (isEditing)
        {
            <tr>
                <th>@Html.LabelForRequired(model => model.IsActive)</th>
                <td>@Html.CheckBoxFor(model => model.IsActive)</td>
            </tr>
        }
    </table>

    <div class="submit-bar">
        <input type="submit" value="save health insurance" />
        <span class="separator">or</span>
        @Html.ActionLink("cancel", "Index")
    </div>
}
