@model Cerebello.Areas.Site.Models.RegistrationViewModel
@{
    
}
@section DocumentTitle {
    Registro
}
@section DocumentBody {
    @using (@Html.BeginForm(null, null, FormMethod.Post, new { id = "form0", name = "form0" }))
    {
        @Html.ValidationSummary(false)

        <p class="numbered-header-1">Dados básicos</p>
                        
        <fieldset class="top-less">
            <div class="editor-label">
                @Html.LabelFor(model => model.FullName)
            </div>
            <div class="editor-field large">
                @Html.EditorFor(model => model.FullName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.EMail)
            </div>
            <div class="editor-field large">
                @Html.EditorFor(model => model.EMail)
                @Html.ValidationMessageFor(model => model.EMail)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.DateOfBirth)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DateOfBirth)
                @Html.ValidationMessageFor(model => model.DateOfBirth)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Gender)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.Gender,
                                    new[] {
                                        new SelectListItem() { Text= "Masculino", Value= ((int) Cerebello.Models.TypeGender.Male).ToString() },
                                        new SelectListItem() { Text= "Feminino", Value=((int) Cerebello.Models.TypeGender.Female).ToString() }
                                    }, "Escolha uma opção")
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
        </fieldset>
                        
        <p class="numbered-header-2">Dados do usuário</p>
                        
        <fieldset class="top-less">
            <div class="editor-label">
                @Html.LabelFor(model => model.UserName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </fieldset>
        
        <div class="box-alert">
            Ao criar uma nova conta, você poderá iniciar um novo consultório/clínica no plano de demonstração.
            Neste plano, você poderá cadastrar 1 médico e 1 secretária e poderá utilizar e testar todos os recursos do sistema,
            por quanto tempo desejar, desde que não ultrapasse 20 registros de pacientes. A qualquer momento, você
            poderá assinar um de nossos planos para a ativação total de sua conta.
        </div>
        
        <div class="button" style="width: 180px; margin-top: 1em" onclick="javacript:$('#form0').submit()">Criar minha conta</div>
    }
}
@section SideBar {
    <div class="title">
        Você está em boas mãos com o Cerebello
    </div>
    <div class="box">
        <p class="box-title">
            Seguro e Confiável
        </p>
        <p>
            Seus dados com backups diários
        </p>
    </div>
    <div class="box">
        <p class="box-title">
            Ótimo Atendimento
        </p>
        <p>
            Rápido, preciso e amigável
        </p>
    </div>
    <div class="box">
        <p class="box-title">
            Fácil de Usar
        </p>
        <p>
            Dispensa treinamento
        </p>
    </div>
    <div class="box">
        <p class="box-title">
            Documentação Completa
        </p>
        <p>
            Textos e vídeos pra tirar todas as suas dúvidas
        </p>
    </div>
}
