@model ModelMedicalCertificateViewModel
@{
    var title = "Modelo de atestado: " + this.Model.Name;
    ViewBag.Title = title + " · Cerebello";

    var cardView = this.Html.CreateCardView();
    cardView.AddField(model => model.Name, wholeRow: true);
    cardView.AddField(model => model.Text, wholeRow: true);
}
@section Title {
    @title @LockIcon.Icon()
}
@section Scripts {
    @LockIcon.Script(LockAccessType.SelfOrAdminOrOwner, "médico")
}
@section SideBar {
    <a href="@Url.Action("Edit", new { id = Model.Id })"class="icon-link icon-link-edit" id="edit-medication-link">Editar modelo de atestado</a>
    <a href="#" class="icon-link icon-link-delete" id="delete-model-link">Excluir modelo de atestado</a>
    <a href="@Url.Action("Index")" class="icon-link icon-link-home" id="list-medications-link">Resumo de modelos de atestados</a>

    <script type="text/javascript">
        $("#delete-model-link").click(function (e) {
            e.preventDefault();
            $.confirmation(cerebello.res.deleteConfirmation, {
                warnMessage: "Os atestados já emitidos vão perder o vínculo com este modelo, mas o conteúdo dos mesmos não será afetado.",
                objectType: "modelo de atestado",
                objectName: "@this.Model.Name",
                url: "@Url.Action("Delete", new { id = this.Model.Id })",
                success: function (data) {
                    window.location = "@Url.Action("Index")";
                    }
            });
        });
    </script>
}

@cardView.GetHtml()