@model CerebelloWebRole.Areas.App.Models.ModelMedicalCertificateViewModel
@{
    ViewBag.Title = "Details";
}
@section Title {
    Modelo de atestado: @Model.Name
}
@section SideBar {
    <a href="@Url.Action("Edit", new { id = Model.Id })"class="icon-link icon-link-edit" id="edit-medication-link">Editar modelo de atestado</a>
    <a href="#" class="icon-link icon-link-delete" id="delete-model-link">Excluir modelo de atestado</a>
    <a href="@Url.Action("Index")" class="icon-link icon-link-home" id="list-medications-link">Resumo de modelos de atestados</a>

    <script type="text/javascript">
        $("#delete-model-link").click(function (e) {
            e.preventDefault();
            $.confirmation(cerebello.res.deleteConfirmation, {
                objectType: "modelo de atestado",
                objectName: "@this.Model.Name",
                    url: "@Url.Action("Delete", new { id = this.Model.Id })",
                    success: function (data) {
                        window.location = "@Url.Action("Index")";
                    }
                });
        });
    </script>
}

<table class="view-table">
    <tr>
        <th>@Html.LabelFor(model => model.Name)</th>
        <td>@Html.DisplayFor(model => model.Name)</td>
    </tr>
    <tr>
        <th>@Html.LabelFor(model => model.Text)</th>
        <td>@Html.DisplayFor(model => model.Text)</td>
    </tr>
    <tr>
        <th>@Html.LabelFor(model => model.Fields)</th>
        <td>
            <ul class="string-list">
                @foreach (var field in this.Model.Fields)
                {
                    <li>
                        @field.Name
                    </li>
                }
            </ul>
        </td>
    </tr>
</table>
