@model ModelMedicalCertificateViewModel
@{
    string title;
    if (this.Model != null && this.Model.Id.HasValue)
    {
        title = "Modelo de atestado: " + this.Model.Name;
    }
    else
    {
        title = "Novo modelo de atestado médico";
    }
    ViewBag.Title = string.Format("{0} · Cerebello", title);

    var editPanel = this.Html.CreateEditPanel();
    editPanel.AddField(model => model.Name);
    editPanel.AddField(model => model.Text, EditPanelFieldSize.Large, @<text>@Html.TextAreaFor(model => model.Text, new { rows = 10 })</text>);
}
@section Title {
    @title @LockIcon.Icon()
}
@section Scripts {
    @LockIcon.Script(LockAccessType.SelfOrAdminOrOwner, "médico")
}
@section SideBar {
    <ul>
        <li><a href="@Url.Action("Index")" class="icon-link icon-link-home">Resumo de modelos de atestados</a></li>
        <li><a href="@Url.Action("RegisteringMedicalCertificates", "HomeDocs", new { area = "Docs" })" class="icon-link icon-link-help" target="_blank">Ajuda</a></li>
    </ul>
}

@Html.Message(@<text>Ao escrever o texto do modelo de atestado, é possível definir campos coringa. Para isto, coloque qualquer texto entre <% e %>. Exemplo: <%Horário%>. Campos coringa vão permitir que você insira os valores para este campo durante a emissão de um novo atestado médico. Além disso, <%Paciente%> é automaticamente substituído pelo nome do paciente atual.   </text>)

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)
    @Html.HiddenFor(model => model.Id)
    
    @editPanel.GetHtml()
        
    <div class="submit-bar">
        <input type="submit" value="salvar modelo de atestado" />
        <span class="separator">ou</span>
        @Html.ActionLink("cancelar", "Index")
    </div>
}
