@using CerebelloWebRole.Areas.App.Models
@using CerebelloWebRole.Code.Controls
@model ModelMedicalCertificateViewModel
@{
    string title;
    if (this.Model != null && this.Model.Id.HasValue)
    {
        title = "Modelo de atestado: " + this.Model.Name;
    }
    else
    {
        title = "Novo modelo de atestado médico";
    }
    ViewBag.Title = string.Format("{0} · Cerebello", title);

    var editPanel = this.Html.CreateEditPanel();
    editPanel.AddField(model => model.Name);
    editPanel.AddField(model => model.Text, EditPanelFieldSize.Large, @<text>@Html.TextAreaFor(model => model.Text, new { rows = 10 })</text>);
    editPanel.AddField(model => model.Fields, EditPanelFieldSize.Large, @<text>@Html.CollectionEditorInlineFor(m => m.Fields, "FieldEditor", "Adicionar campo")</text>);
}
@section Title {
    @title <span class="lock-title icon-lock" />
}
@section Scripts {
    @Html.Partial("LockScript", new LockScriptViewModel(LockAccessType.SelfOrAdminOrOwner, "médico"))
}
@section SideBar {
    <ul>
        <li><a href="@Url.Action("Index")" class="icon-link icon-link-home">Resumo de modelos de atestados</a></li>
    </ul>
    <hr />
    @Html.MessageHelp("Ao criar um modelo de atestado, "
            + "é possível declarar campos que deverão ser definidos ao criar um novo atestado. "
            + "Para definir um campo, basta clicar em 'adicionar campo' e digitar seu nome. "
            + "Para referenciar um campo no texto, use o padrão <%nome_do_campo%>. "
            + "O campo <%paciente%> é definido automaticamente.")
    <hr/>
    <ul>
        <li><a href="@Url.Action("RegisteringMedicalCertificates", "HomeDocs", new { area = "Docs"})" class="icon-link icon-link-help" target="_blank">Ajuda</a></li>
    </ul>
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)
    @Html.HiddenFor(model => model.Id)
    
    @editPanel.GetHtml()
        
    <div class="submit-bar">
        <input type="submit" value="salvar modelo de atestado" />
        <span class="separator">ou</span>
        @Html.ActionLink("cancelar", "Index")
    </div>
}
