@model ModelMedicalCertificatesIndexViewModel

@{
    var title =
        this.ViewBag.IsFiltered == true
            ? "Busca por modelos de atestados médicos"
            : "Modelos de atestados médicos";

    this.ViewBag.Title = string.Format("{0} · Cerebello", title);
    this.ViewBag.Watermark = "Pesquisar pelo nome do atestado";

    var grid = this.Html.CreateGrid(this.Model.Objects);
    grid.AddLinkField(m => m.Name, "Details", m => new { id = m.Id });
    grid.AddEditField("Edit", "ModelMedicalCertificates", model => new { model.Id });
}
@section Title {
    @title @LockIcon.Icon()
}
@section Scripts {
    @LockIcon.Script(LockAccessType.SelfOrAdminOrOwner, "médico")
}
@section SideBar {
    <ul>
        <li><a href="@Url.Action("Create")" class="icon-link icon-link-plus">Novo modelo de atestado médico</a> </li>
        <li><a class="icon-link icon-link-home" href="@Url.Action("Index", "Config")">Resumo de configurações</a></li>
    </ul>
}

<div class="widget">
    <h2>Modelos de atestado médico
    </h2>
    @grid.GetHtml()
</div>
