@model ModelMedicalCertificatesIndexViewModel

@{
    var title =
        this.ViewBag.IsFiltered == true
            ? "Medical certificate models search"
            : "Medical certificate models";

    this.ViewBag.Title = string.Format("{0} · Cerebello", title);
    this.ViewBag.Watermark = "Search by the medical certificate name";

    var grid = this.Html.CreateGrid(this.Model.Objects);
    grid.AddLinkField(m => m.Name, "Details", m => new { id = m.Id });
    grid.AddEditField("Edit", "ModelMedicalCertificates", model => new { model.Id });
}
@section Title {
    @title @LockIcon.Icon()
}
@section Scripts {
    @LockIcon.Script(LockAccessType.SelfOrAdminOrOwner, "médico")
}
@section SideBar {
    <ul>
        <li><a href="@Url.Action("Create")" class="icon-link icon-link-plus">New medical certificate model</a> </li>
        <li><a class="icon-link icon-link-home" href="@Url.Action("Index", "Config")">Settings home</a></li>
    </ul>
}

<div class="widget">
    <h2>Medical certificate models
    </h2>
    @grid.GetHtml()
</div>
