@model CerebelloWebRole.Areas.App.Models.SymptomsIndexViewModel
@{
    ViewBag.Title = "Index";
    ViewBag.Watermark = "Pesquisar pelo nome do medicamento, princípio ativo ou laboratório";
    
    WebGrid grid = new WebGrid();
    grid.Bind(Model.MostCommonSymptoms, null, false, Model.MostCommonSymptomsCount);
    var nameColumn = grid.Column(header: "Nome", format: @<text><a href="@Url.Action("details", new { id = @item.Id })">@item.Name</a></text>);
}
@section Title {
    Medicamentos
}
@section SideBar {
    <ul>
        <li></li>
    </ul>
}

@using (Html.BeginForm("search", null, FormMethod.Get))
{
    @Html.Partial("SearchBox", new CerebelloWebRole.Areas.App.Models.SearchModel())
}

<div class="widget">
    <p class="title">
        Sintomas mais comuns
    </p>
   @grid.GetHtml(
       columns: new List<WebGridColumn>() { nameColumn },
       displayHeader: true,
       tableStyle: "webgrid",
       headerStyle: "webgrid-header",
       footerStyle: "webgrid-footer",
       alternatingRowStyle: "webgrid-alternating-row",
       selectedRowStyle: "webgrid-selected-row",
       rowStyle: "webgrid-row-style")
</div>
