@model PasswordViewModel
@{
    string title = this.ViewBag.IsDefaultPassword != true ? "Alterar senha" : "Definir senha";
    this.ViewBag.Title = string.Format("{0} · Cerebello", title);
    Layout = "~/Areas/App/Views/Shared/_LayoutPractice.cshtml";

    var editPanel = this.Html.CreateEditPanel();

    if (this.ViewBag.IsDefaultPassword != true)
    {
        editPanel.AddField(m => m.OldPassword);
    }

    editPanel.AddField(m => m.Password);
    editPanel.AddField(m => m.RepeatPassword);
}

@section Title {
    @title @LockIcon.Icon()
}
@section Scripts {
    @LockIcon.Script(LockAccessType.You)
}

@section SideBar {
    @if (this.ViewBag.IsDefaultPassword != true)
    {
        <a href="@Url.Action("Index", "PracticeHome")" class="icon-link icon-link-home">Consultório</a>
    }
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)

    if (this.ViewBag.IsDefaultPassword == true)
    {
    <div class="message-warning">
        <p>
            Antes de utilizar o software, você deve configurar a sua senha de acesso.
        </p>
        <p>
            A senha deve ser mantida em segredo, pois todas as atividades realizadas
        utilizando o seu usuário, serão cadastradas como sendo de sua responsabilidade.
        </p>
        <p>
            Quando for se afastar do computador, tome as devidas precauções. Se necessário use
        a opção "Sair", para que outras pessoas não autorizadas tenham acesso ao seu usuário.
        </p>
    </div>
    }
    
    @editPanel.GetHtml()

    <div class="submit-bar">
        <input type="submit" value="salvar senha" />
        @if (this.ViewBag.IsDefaultPassword != true)
        {
            var currentUserId = ((PracticeController)this.ViewContext.Controller).DbUser.Id;
            <span class="separator">ou</span>
            @:@Html.ActionLink("cancelar", "Details", new { id = currentUserId })
        }
    </div>
}
