@using CerebelloWebRole.Code
@model CerebelloWebRole.Areas.App.Models.PracticeUsersViewModel
@{
    ViewBag.Title = "Usuários do consultório · Cerebello";
    Layout = "~/Areas/App/Views/Shared/_LayoutPractice.cshtml";

    var grid = this.Html.CreateGrid(this.Model.Users, Constants.GRID_PAGE_SIZE);
    grid.AddField(model => model.FullName, @<text><a href="@Url.Action("details", new { id = item.Id})" class="cell-icon" style="background-image: url('@item.ImageUrl')">@item.FullName</a></text>, cssClass: "icon-link-td");
    grid.AddField(model => model.UserRoles);
}
@section Title {
Usuários do consultório
}
@section SideBar {
    @if (this.CanAccessAction("Create"))
    {
        <ul>
            <li><a href="@Url.Action("Create")" class="icon-link icon-link-plus">Novo usuário</a></li>
        </ul>
    }
}

@grid.GetHtml()