@using CerebelloWebRole.Areas.App.Models
@model ConfigDocumentsViewModel
@{
    var title = "Configurações de documentos";
    ViewBag.Title = string.Format("{0} · Cerebello", title);
    var cancelUrl = ViewBag.ReturnUrl ?? Url.Action("index", "config");
}
@section Title {
    @title @LockIcon.Icon()
}
@section Scripts
{
    @LockIcon.Script(LockAccessType.SelfOrAdminOrOwner, "médico")
}

@section SideBar {
    <ul>
        <li><a class="icon-link icon-link-home" href="@Url.Action("Index", "Config")">Resumo de configurações</a></li>
    </ul>
    <hr/>
    <ul>
        <li><a class="icon-link icon-link-help" href="@Url.Action("ConfiguringDocuments","HomeDocs", new { area = "Docs" })" target="_blank">Ajuda</a></li>
    </ul>
}


@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)

if (ViewBag.ReturnUrl != null)
{
        @Html.Hidden("returnUrl", ViewBag.ReturnUrl as string)
}
    <h2>
        Cabeçalho
    </h2>    
    <table class="form-table">
        <tr>
            <th>@Html.LabelForRequired(model => model.Header1)
            </th>
            <td>@Html.EditorFor(model => model.Header1)
            </td>
        </tr>
        <tr>
            <th>@Html.LabelForRequired(model => model.Header2)
            </th>
            <td>@Html.EditorFor(model => model.Header2)
            </td>
        </tr>
    </table>
    
    <h2>
        Rodapé esquerdo
    </h2>    
    <table class="form-table">
        <tr>
            <th>@Html.LabelForRequired(model => model.FooterLeft1)
            </th>
            <td>@Html.EditorFor(model => model.FooterLeft1)
            </td>
        </tr>
        <tr>
            <th>@Html.LabelForRequired(model => model.FooterLeft2)
            </th>
            <td>@Html.EditorFor(model => model.FooterLeft2)
            </td>
        </tr>
    </table>
    
    <h2>
        Rodapé direito
    </h2>    
    <table class="form-table">
        <tr>
            <th>@Html.LabelForRequired(model => model.FooterRight1)
            </th>
            <td>@Html.EditorFor(model => model.FooterRight1)
            </td>
        </tr>
        <tr>
            <th>@Html.LabelForRequired(model => model.FooterRight2)
            </th>
            <td>@Html.EditorFor(model => model.FooterRight2)
            </td>
        </tr>
    </table>
    
    <div class="submit-bar">
        <input type="submit" value="salvar configurações de documentos" />
        <span class="separator">ou</span> <a href="@cancelUrl">cancelar</a>
    </div>
}
