@model PracticeHomeControllerViewModel
@{
    var title = "Editando consultório";
    this.ViewBag.Title = string.Format("{0} · Cerebello", title);
    this.Layout = "~/Areas/App/Views/Shared/_LayoutPractice.cshtml";

    // creating edit panel
    var editPanel = this.Html.CreateEditPanel();
    editPanel.AddField(m => m.PracticeName);
    editPanel.AddField(m => m.PracticeTimeZone, this.Html.EnumDropdownListFor, EditPanelFieldSize.XLarge);
    editPanel.AddField(m => m.PhoneMain, EditPanelFieldSize.Small);
    editPanel.AddField(m => m.PhoneAlt, EditPanelFieldSize.Small);
    editPanel.AddField(m => m.Pabx, EditPanelFieldSize.Small);
    editPanel.AddField(m => m.Email, EditPanelFieldSize.XLarge);
    editPanel.AddField(m => m.SiteUrl, EditPanelFieldSize.XLarge);
}
@section Title {
    @title @LockIcon.Icon()
}
@section Scripts {
    @LockIcon.Script(LockAccessType.AdminOrOwner)
}
@section SideBar {
    <a href="@this.Url.Action("Index", "PracticeHome")" class="icon-link icon-link-home">Consultório</a>
}

@using (this.Html.BeginForm())
{
    @this.Html.ValidationSummary(false)

    @editPanel.GetHtml()

    <h2>
        @this.Html.LabelFor(model => model.Address)
    </h2>
    @this.Html.EditorFor(model => model.Address)

    <div class="submit-bar">
        <input type="submit" value="salvar configurações" />
        <span class="separator">ou</span>
        @this.Html.ActionLink("cancelar", "Index")
    </div>
}
