@using CerebelloWebRole.Code
@model CerebelloWebRole.Areas.App.Models.PracticeHomeIndexViewModel
@{
    ViewBag.Title = "Meu consultório médico · Cerebello";
    Layout = "~/Areas/App/Views/Shared/_LayoutPractice.cshtml";

    // creating details CardView
    var cardView = Html.CreateCardView();
    cardView.AddField(m => m.PatientsCount);
    
    var grid = this.Html.CreateGrid(this.Model.Doctors, Constants.GRID_PAGE_SIZE);
    grid.AddField(model => model.Name, @<text><a href="@Url.Action("index", "doctorhome", new { doctor = item.UrlIdentifier })" class="cell-icon" style="background-image: url('@item.ImageUrl')">@item.Name</a></text>, cssClass: "icon-link-td");
    grid.AddField(model => model.MedicalSpecialty);
    grid.AddField(model => model.CRM, @<text>@item.CRM (@item.MedicalEntity)</text>);
}
@section Title {
    Meu consultório médico
}

@cardView.GetHtml()

@grid.GetHtml()