@using System.Linq.Expressions
@using CerebelloWebRole.Areas.App.Models
@model AnvisaImportViewModel
@{
    var title = "Importar medicamento da Anvisa";
    ViewBag.Title = string.Format("{0} · Cerebello", title);

    var editPanel = this.Html.CreateEditPanel(null);
    editPanel.AddField(model => model.AnvisaId,
    @<text>
    @(Html.AutocompleteGridFor(
                    model => model.AnvisaId,
                    model => model.AnvisaText,
                    Url.Action("LookupSysMedicine", "Medicines"),
                    gridmodel => gridmodel.Id,
                    gridmodel => gridmodel.Name,
                    new Expression<Func<SysMedicineLookupGridModel, object>>[] { gridmodel => gridmodel.LaboratoryName }))
    </text>);
}

@section Styles
{
    <style type="text/css">
        div.message-warning {
            margin-top: 0;
        }
    </style>
}

@section Title {
    @title <span class="lock-title icon-lock" />
}
@section Scripts {
    @Html.Partial("LockScript", new LockScriptViewModel(LockAccessType.SelfOrAdminOrOwner, "médico"))
}

@section SideBar {
    <ul>
        <li><a href="@Url.Action("index", "medicines")" class="icon-link icon-link-home">Resumo de medicamentos</a></li>
    </ul>
}


@using (Html.BeginForm())
{
    @Html.Message(@<text>
                    Você está importante um medicamento da Anvisa. Caso não encontre o que está procurando, é possível 
                    <a href="@Url.Action("Create")">cadastrar um medicamento manualmente</a>.
                </text>)
    
    @Html.ValidationSummary(false)
}

@using (Html.BeginForm())
{
    @editPanel.GetHtml()
    <div class="submit-bar">
        <input type="submit" value="importar medicamento" />
        <span class="separator">ou</span>
        @Html.ActionLink("cancelar", "Index")
    </div>
}
