@using System.Linq.Expressions
@model AnvisaImportViewModel
@{
    var title = "Importar medicamento da Anvisa";
    ViewBag.Title = string.Format("{0} · Cerebello", title);

    var editPanel = this.Html.CreateEditPanel(null);
    editPanel.AddField(model => model.AnvisaId,
    @<text>
    @(Html.AutocompleteGridFor(
                    model => model.AnvisaId,
                    model => model.AnvisaText,
                    Url.Action("LookupSysMedicine", "Medicines"),
                    gridmodel => gridmodel.Id,
                    gridmodel => gridmodel.Name,
                    new Expression<Func<SysMedicineLookupGridModel, object>>[] { gridmodel => gridmodel.LaboratoryName }))
    </text>);
}

@section Styles
{
    <style type="text/css">
        div.message-warning {
            margin-top: 0;
        }
    </style>
}

@section Title {
    @title @LockIcon.Icon()
}
@section Scripts {
    @LockIcon.Script(LockAccessType.SelfOrAdminOrOwner, "médico")
}

@section SideBar {
    <ul>
        <li><a href="@Url.Action("Index", "Medicines")" class="icon-link icon-link-home">Resumo de medicamentos</a></li>
    </ul>
}


@using (Html.BeginForm())
{
    @Html.Message(@<text>
                    Você está importando um medicamento da <a href="http://www.anvisa.gov.br">Anvisa</a>. Caso não encontre o que está procurando, é possível 
                    <a href="@Url.Action("Create")">cadastrar um medicamento manualmente</a>.
                </text>)
    
    @Html.ValidationSummary(false)
}

@using (Html.BeginForm())
{
    @editPanel.GetHtml()
    <div class="submit-bar">
        <input type="submit" value="importar medicamento" />
        <span class="separator">ou</span>
        @Html.ActionLink("cancelar", "Index")
    </div>
}
