@using Cerebello.Model
@model MedicineViewModel
@{
    var title = "Medicamento: " + this.Model.Name;
    ViewBag.Title =  string.Format("{0} · Cerebello", title);

    var cardView = this.Html.CreateCardView();
    cardView.AddField(model => model.Name, wholeRow: true);
    cardView.AddLinkField(model => model.LaboratoryName, "Details", "Laboratories", model => new { id = Model.LaboratoryId}, true);
    cardView.AddField(model => model.Usage, @<text>@EnumHelper.GetText(Model.Usage, typeof(TypeUsage))</text>);
    cardView.AddField(model => model.ActiveIngredients,
    @<text>
    <ul class="string-list">
        @foreach (var activeIngredient in @item.ActiveIngredients)
        {
            <li>
                @activeIngredient.Name
            </li>
        }
    </ul>
    </text>, wholeRow: true);
    cardView.AddField(model => model.Leaflets,
    @<text>
    <ul class="string-list">
        @foreach (var leaflet in @item.Leaflets)
        {
            <li>
                @if (!string.IsNullOrEmpty(leaflet.ViewerUrl))
                {
                    <a href="@leaflet.ViewerUrl">@leaflet.Description</a>
                }
                else
                {
                    <a href="@leaflet.Url">@leaflet.Description </a>   
                }
            </li>
        }
    </ul>
    </text>, wholeRow: true);
    cardView.AddField(model => model.Observations);
}
@section Title {
    @title @LockIcon.Icon()
}
@section Scripts {
    @LockIcon.Script(LockAccessType.SelfOrAdminOrOwner, "médico")
}
@section SideBar {
    <a href="@Url.Action("edit", new { id = Model.Id })"class="icon-link icon-link-edit" id="edit-medication-link">Editar medicamento</a>
    <a href="#"class="icon-link icon-link-delete" id="delete-medication-link">Excluir medicamento</a>
    <a href="@Url.Action("index")" class="icon-link icon-link-home" id="list-medications-link">Resumo de medicamentos</a>

    <script type="text/javascript">
        $("#delete-medication-link").click(function (e) {
            e.preventDefault();
            $.deleteConfirmation({
                objectType: "medicamento",
                objectName: "@this.Model.Name",
                url: "@Url.Action("delete", new { id = this.Model.Id })",
                success: function (data) {
                    alert("Este medicamento foi excluído");
                    window.location = "@Url.Action("index")";
                }
            });
        });
    </script>
}

@cardView.GetHtml()

<h2>Prescrições</h2>

@Html.Partial("Prescriptions", this.Model.Prescriptions)