@model CerebelloWebRole.Areas.App.Models.MedicineViewModel
@using CerebelloWebRole.Code.Extensions
@{
    if (this.Model != null && this.Model.Id.HasValue)
    {
        ViewBag.Title = "Editando medicamento: " + this.Model.Name + " · Cerebello";
    }
    else
    {
        ViewBag.Title = "Novo medicamento · Cerebello";
    }

    var editPanel = this.Html.CreateEditPanel(null);
    editPanel.AddField(m => m.Name, CerebelloWebRole.Code.Controls.EditPanelFieldSize.Large);
    editPanel.AddField(m => m.LaboratoryName, CerebelloWebRole.Code.Controls.EditPanelFieldSize.Large, @<text>@Html.AutocompleteFor(m => m.LaboratoryId, m => m.LaboratoryName, Url.Action("AutocompleteLaboratories"), @Url.Action("CreateModal", "Laboratories"), "Novo laboratório", 500, 100)</text>);
    editPanel.AddField(m => m.Usage);
    editPanel.AddField(m => m.ActiveIngredients, format: @<text>@Html.CollectionEditorInlineFor(m2 => m2.ActiveIngredients, "ActiveIngredientEditor", "Adicionar princípio ativo")</text>);
}
@section Title {
    @if (this.Model != null && this.Model.Id.HasValue)
    {
        @:Editando medicamento:  + @this.Model.Name;
    }
    else
    {
        ViewBag.Title = "Novo medicamento";
    }
}
@section SideBar {
    <a href="#" class="icon-link icon-link-import">Importar da Anvisa</a> <a href="@Url.Action("index")" class="icon-link icon-link-home">Resumo de medicamentos</a>
    <script type="text/javascript">
        $(".icon-link-import").click(function (e) {
            e.preventDefault();
            $.modal({
                url: "@Url.Action("anvisaimporteditor", new { medicationId = this.Model != null ? this.Model.Id : null })",
                title: "Importar medicamento da Anvisa",
                width: 480,
                height: 150
            });
        });
    </script>
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)
    @Html.HiddenFor(model => model.Id)
    
    @editPanel.GetHtml()
    
    <h2>
        @Html.LabelFor(model => model.Leaflets)
    </h2>    
    
    @(Html.CollectionEditorFor(m => m.Leaflets, "LeafletEditor", "Adicionar bula"))
    
    <div class="submit-bar">
        <input type="submit" value="salvar medicamento" />
        <span class="separator">ou</span>
        @Html.ActionLink("cancelar", "Index")
    </div>
}