@model MedicineViewModel
@using CerebelloWebRole.Areas.App.Models
@using CerebelloWebRole.Code.Controls
@using CerebelloWebRole.Code.Extensions
@{
    string title;
    if (this.Model != null && this.Model.Id.HasValue)
    {
        title = "Editando medicamento: " + this.Model.Name;
    }
    else
    {
        title = "Novo medicamento";
    }
    ViewBag.Title = string.Format("{0} · Cerebello", title);

    var editPanel = this.Html.CreateEditPanel(null);
    editPanel.AddField(model => model.Name, EditPanelFieldSize.Large);
    editPanel.AddField(model => model.LaboratoryName, EditPanelFieldSize.Large, @<text>@Html.AutocompleteFor(m => m.LaboratoryId, m => m.LaboratoryName, Url.Action("AutocompleteLaboratories"), @Url.Action("CreateModal", "Laboratories"), "Novo laboratório", 500, 100)</text>);
    editPanel.AddField(model => model.Usage);
    editPanel.AddField(model => model.ActiveIngredients, @<text>@Html.CollectionEditorInlineFor(m2 => m2.ActiveIngredients, "ActiveIngredientEditor", "Adicionar princípio ativo")</text>);
    editPanel.AddField(model => model.Observations, EditPanelFieldSize.Large, @<text>@Html.TextAreaFor(model => model.Observations)</text>);
}

@section Title {
    @title <span class="lock-title icon-lock" />
}
@section Scripts {
    @Html.Partial("LockScript", new LockScriptViewModel(LockAccessType.SelfOrAdminOrOwner, "médico"))
}

@section Styles
{
    <style type="text/css">
        div.message-warning {
            margin-top: 0;
        }
    </style>
}

@section SideBar {
    <ul>
        <li><a href="@Url.Action("anvisaimport")" class="icon-link icon-link-import">Importar da Anvisa</a></li>
        <li><a href="@Url.Action("index")" class="icon-link icon-link-home">Resumo de medicamentos</a></li>
    </ul>
    <hr/>
    <ul>
        <li><a href="@Url.Action("RegisteringMedicines", "HomeDocs", new { area = "Docs" })" class="icon-link icon-link-help" target="_blank">Ajuda</a></li>
    </ul>
    
}
@using (Html.BeginForm())
{
     if (!this.Model.Id.HasValue)
     {
         @Html.Message(@<text>
                            Você está adicionando um medicamento manualmente. Alternativamente, é possível 
                            <a href="@Url.Action("AnvisaImport")">importar medicamentos da Anvisa</a>.
                        </text>)
     }
    @Html.ValidationSummary(false)
    @Html.HiddenFor(model => model.Id)

    @editPanel.GetHtml()

    <h2>
        @Html.LabelFor(model => model.Leaflets)
    </h2>

    @(Html.CollectionEditorFor(m => m.Leaflets, "LeafletEditor", "Adicionar bula"))
    
    <div class="submit-bar">
        <input type="submit" value="salvar medicamento" />
        <span class="separator">ou</span>
        @Html.ActionLink("cancelar", "Index")
    </div>
}