@model MedicinesIndexViewModel
@{
    const string title = "Medicines";
    ViewBag.Title = string.Format("{0} · Cerebello", title);
    ViewBag.Watermark = "Search by the medicine name, active principle or laboratory";

    var grid = this.Html.CreateGrid(this.Model.LastRegisteredMedicines);
    grid.AddLinkField(m => m.Name, "Details", m => new { id = m.Id });
    grid.AddLinkField(m => m.LaboratoryName, "Details", "Laboratories", model => new { id = model.LaboratoryId });
    grid.AddEditField("Edit", "Medicines", model => new { model.Id });
}
@section Title {
    @title @LockIcon.Icon()
}
@section Scripts {
    @LockIcon.Script(LockAccessType.SelfOrAdminOrOwner, "médico")
}
@section SideBar {
    <ul>
        <li><a href="@Url.Action("Create")" class="icon-link icon-link-plus">New medicine</a> </li>
        <li><a href="@Url.Action("Index", "Laboratories")" class="icon-link icon-link-home" id="list-laboratories-link">Laboratories home</a></li>
    </ul>
}

@using (Html.BeginForm("search", null, FormMethod.Get))
{
    @Html.Partial("SearchBox", new SearchModel())
}

<div class="widget">
    <h2>Last registered medicines
    </h2>
    @grid.GetHtml()
</div>
