@using CerebelloWebRole.Areas.App.Models
@model MedicinesIndexViewModel
@{
    var title = "Medicamentos";
    ViewBag.Title = string.Format("{0} · Cerebello", title);
    ViewBag.Watermark = "Pesquisar pelo nome do medicamento, princípio ativo ou laboratório";

    var grid = this.Html.CreateGrid(this.Model.LastRegisteredMedicines, CerebelloWebRole.Code.Constants.GRID_PAGE_SIZE);
    grid.AddLinkField(m => m.Name, "Details", m => new { id = m.Id });
    grid.AddLinkField(m => m.LaboratoryName, "Details", "Laboratories", model => new { id = model.LaboratoryId });
}
@section Title {
    @title <span class="lock-title icon-lock" />
}
@section Scripts {
    @Html.Partial("LockScript", new LockScriptViewModel(LockScriptType.SelfOrAdminOrOwner, "médico"))
}
@section SideBar {
    <ul>
        <li><a href="@Url.Action("Create")" class="icon-link icon-link-plus">Novo medicamento</a> </li>
        <li><a href="@Url.Action("AnvisaImport")" class="icon-link icon-link-import">Importar da Anvisa</a> </li>
        <li><a href="@Url.Action("Index", "Laboratories")" class="icon-link icon-link-home" id="list-laboratories-link">Resumo de laboratórios</a></li>
    </ul>
}

@using (Html.BeginForm("search", null, FormMethod.Get))
{
    @Html.Partial("SearchBox", new CerebelloWebRole.Areas.App.Models.SearchModel())
}

<div class="widget">
    <h2>Últimos medicamentos cadastrados
    </h2>
    @grid.GetHtml()
</div>
