@model CerebelloWebRole.Areas.App.Models.MedicinesIndexViewModel
@{
    ViewBag.Title = "Medicamentos · Cerebello";
    ViewBag.Watermark = "Pesquisar pelo nome do medicamento, princípio ativo ou laboratório";

    var grid = this.Html.CreateGrid(this.Model.LastRegisteredMedicines, CerebelloWebRole.Code.Constants.GRID_PAGE_SIZE);
    grid.AddLinkField(m => m.Name, "Details", m => new { id = m.Id });
    grid.AddLinkField(m => m.LaboratoryName, "details", "laboratories", model => new { id = model.LaboratoryId });
}
@section Title {
Medicamentos
}
@section SideBar {
    <ul>
        <li><a href="@Url.Action("create")" class="icon-link icon-link-plus">Novo medicamento</a> </li>
        <li><a href="@Url.Action("anvisaimport")" class="icon-link icon-link-import">Importar da Anvisa</a> </li>
        <li><a href="@Url.Action("index", "laboratories")" class="icon-link icon-link-home" id="list-laboratories-link">Resumo de laboratórios</a></li>
    </ul>
}

@using (Html.BeginForm("search", null, FormMethod.Get))
{
    @Html.Partial("SearchBox", new CerebelloWebRole.Areas.App.Models.SearchModel())
}

<div class="widget">
    <h2>Últimos medicamentos cadastrados
    </h2>
    @grid.GetHtml()
</div>
