@using CerebelloWebRole.Areas.App.Models
@model MedicineLeafletViewModel
@{
    var title = "Bula do medicamento: " + this.Model.MedicineName;
    ViewBag.Title = string.Format("{0} · Cerebello", title);
}
@section Title {
    @title @LockIcon.Icon()
}
@section Scripts {
    @LockIcon.Script(LockAccessType.SelfOrAdminOrOwner, "médico")
}

@section SideBar {
    <a href="@Model.GoogleDocsUrl" class="icon-link icon-link-import">Visualizar no Google Docs</a>
    <a href="@Model.Url" class="icon-link icon-link-import">Download</a>
    <a href="@Url.Action("Index")" class="icon-link icon-link-home">Resumo de medicamentos</a>
}

<p style="margin-bottom: 15px">
    Bula do medicamento <a href="@Url.Action("Details", new { id = Model.MedicineId })">@Model.MedicineName</a>
</p>

<iframe style="width: 100%; height: 800px" src="@this.Model.GoogleDocsEmbeddedUrl"></iframe>
