@using CerebelloWebRole.Code.Data
@{
    Layout = "~/Areas/App/Views/Shared/_Layout.cshtml";
    var controllerName = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var actionName = ViewContext.RouteData.Values["action"].ToString().ToLower();
    var user = (UserInfo)ViewBag.UserInfo;
}
@section MainMenu {
    <ul class="tabNav">
        <li class="@(   (controllerName.Equals("practicehome") || controllerName.Equals("users") ) ? "youarehere" : "")">
            <a href="@Url.Action("index", "practicehome")" class="home-icon">Consultório</a>
        </li>
        @if (user.IsOwner)
        {
            <li class="@(controllerName.Equals("configaccount") ? "youarehere" : "")">
                <a href="@Url.Action("index", "configaccount")" class="config-icon">Configurações da conta</a>
            </li>
        }
    </ul>
    <hr />
}

@section TopActions {

}

@section AdditionalTitleInfo {
    @if (IsSectionDefined("AdditionalTitleInfo"))
    {
        <span class="subtitle">
            @RenderSection("AdditionalTitleInfo")
        </span>
    }
}

@section Scripts {
    @RenderSection("Scripts", false)
}

@section Title {
    @RenderSection("Title")
}

@section Styles {
    @RenderSection("Styles", false)
}

@section SideBar {
    @RenderSection("SideBar", false)
}

@RenderBody()
