@{
    Layout = "~/Areas/App/Views/Shared/_Layout.cshtml";

    var controllerName = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var configControllerNames = new string[] { "config", "configschedule", "modelmedicalcertificates", "configdocuments", "healthinsurance" };
    var practiceId = ViewBag.Practice.Id;
    var doctor = (CerebelloWebRole.Areas.App.Models.DoctorViewModel)ViewBag.Doctor;

    var localNow = (DateTime)this.ViewBag.LocalNow;

    string scheduleDateStr = localNow.ToString("yyyy-MM-dd");
}
@section MainMenu {
    <div class="doctor-card">
        <div class="doctor-picture">
            <img src="@doctor.ImageUrl" /></div>
        <div class="doctor-info">
            <p class="name">
                <a href="@Url.Action("Index", "DoctorHome")">@doctor.Name</a></p>
            <p class="crm">@doctor.CRM (@doctor.MedicalEntity)</p>
        </div>
    </div>
    <ul class="tabNav">
        <li class="@(controllerName.Equals("doctorhome") ? "youarehere" : "")"><a href="@Url.Action("Index", "DoctorHome")" class="home-icon">
            Início</a> </li>
        <li class="@(controllerName.Equals("schedule") ? "youarehere" : "")"><a href="@Url.Action("Index", "Schedule")" class="schedule-icon">
            Agenda</a> </li>
        <li class="@(controllerName.Equals("patients") ? "youarehere" : "")"><a href="@Url.Action("Index", "Patients")" class="contact-icon">
            Prontuário</a> </li>
    </ul>
    <div style="margin-right: 10px; text-align: right;">
        <a class="block-little-link" href="@Url.RouteUrl("Practice", new { action = "Index", controller = "PracticeHome" })">
            Ir para o consultório</a>
    </div>
    @{
        bool canAccessConfig = this.CanAccessAction("Index", "Config");
        bool canAccessMedicines = this.CanAccessAction("Index", "Medicines");
        bool idHrNeeded = canAccessConfig || canAccessMedicines;
    }
    @if (idHrNeeded)
    {
        <hr />
        <ul class="tabNav">
            @if (canAccessMedicines)
            {
                <li class="@(controllerName.Equals("medicines") || controllerName.Equals("laboratories") ? "youarehere" : "")">
                    <a href="@Url.Action("Index", "Medicines")" class="medicines-icon">
                              Medicamentos</a>
                </li>
            }
            @if (canAccessConfig)
            {
                <li class="@(configControllerNames.Contains(controllerName) ? "youarehere" : "")">
                    <a href="@Url.Action("Index", "Config")" class="config-icon">Configurações</a>
                </li>
            }
        </ul>
    }
}

@section TopActions {
    <input type="text" id="global-search" name="global-search" class="autocomplete" />
    <input type="hidden" id="global-search-hidden" name="global-search-hidden" class="autocomplete" />
    <script type="text/javascript">
        $("#global-search").autocomplete({
            contentUrl: "@Url.Action("LookupEverything", "App")",
            inputHiddenName: "global-search-hidden",
            ajaxParams: {
                doctorId: @doctor.Id
            },
            change: function(data) {
                if(data)
                    window.location = data.Url;
            },
            columnHeaders: ["Nome", "Tipo"],
            columns: ["Value", "Description"]
        });
        $("#global-search").watermark({ text: "Pesquisar no Cerebello" });
    </script>

    <a id="global-add-new" class="top-bar-menu-button add-new-button" href="#">Novo</a>
    <a id="global-schedule-new" class="top-bar-menu-button schedule-button" href="#">Marcar</a>

    <script type="text/javascript">

        $("#global-add-new").dropdownMenu({
            items: [
                { id: "new-patient", text: "Novo paciente", href: "@Url.Action("Create", "Patients")" },
                { id: "new-medicine", text: "Novo medicamento", href: "@Url.Action("Create", "Medicines")" }
            ]
        });

        $("#global-schedule-new").click(function (e) {
            @if (doctor.IsScheduleConfigured)
            {
            <text>
            e.preventDefault();
            $.modal({
                url: "@Url.Action("Create", "Schedule", new { findNextAvailable = true })",
                title: "Nova consulta",
                data: {
                    date: "@scheduleDateStr",
                    start: "",
                    end: "",
                    doctorId: ""
                },
                width: 480,
                height: 200
            });
            </text>
            }
            else
            { 
            <text>
            window.location.href = "@(Url.Action("MissingConfigurations", "Schedule"))";
            </text>
            }
        });
    </script>
}

@section AdditionalTitleInfo {
    @if (IsSectionDefined("AdditionalTitleInfo"))
    {
        <span class="subtitle">
            @RenderSection("AdditionalTitleInfo")
        </span>
    }
}
@section Scripts {
    @RenderSection("Scripts", false)
}
@section Title {
    @RenderSection("Title")
}
@section Styles {
    @RenderSection("Styles", false)
}
@section SideBar {
    @RenderSection("SideBar", false)
}
@RenderBody()
