@{
    Layout = "~/Areas/App/Views/Shared/_Layout.cshtml";
    var controllerName = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var actionName = ViewContext.RouteData.Values["action"].ToString().ToLower();
    var user = (UserInfo)ViewBag.UserInfo;
}
@section MainMenu {
    <ul class="tabNav">
        <li class="@((this.IsController("PracticeHome", "Users")) ? "youarehere" : "")" data-intro="No consultório é possível gerenciar os usuários e, principalmente, acessar o perfil do médico ao qual se deseja adicionar informações" data-step="2">
            <a href="@Url.Action("Index", "PracticeHome")" class="home-icon">Consultório</a>
        </li>
        @if (user.IsOwner)
        {
            <li class="@(this.IsController("ConfigAccount") ? "youarehere" : "")" data-intro="As configurações da conta permitem fazer upgrade, cancelar, visualizar o contrato e suas faturas" data-step="3">
                <a href="@Url.Action("Index", "ConfigAccount")" class="config-icon">Configurações da conta
                    @*@LockIcon.Icon("lock-account-config")*@
                </a>
            </li>
        }
    </ul>
}

@section TopActions {

}

@section AdditionalTitleInfo {
    @if (IsSectionDefined("AdditionalTitleInfo"))
    {
        <span class="subtitle">
            @RenderSection("AdditionalTitleInfo")
        </span>
    }
}

@section Scripts {
    @RenderSection("Scripts", false)
    @*@LockIcon.Script(LockAccessType.Owner, elementAction: LockElementActionType.SoftwareAreaAccess, cssClass: "lock-account-config")*@
}

@section Title {
    @RenderSection("Title")
}

@section Styles {
    @RenderSection("Styles", false)
}

@section SideBar {
    @RenderSection("SideBar", false)
}

@RenderBody()
