@using CerebelloWebRole.Areas.App.Models
@using CerebelloWebRole.Code.Data
@{
    Layout = "~/Areas/App/Views/Shared/_Layout.cshtml";
    var controllerName = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var actionName = ViewContext.RouteData.Values["action"].ToString().ToLower();
    var user = (UserInfo)ViewBag.UserInfo;
}
@section MainMenu {
    <ul class="tabNav">
        <li class="@((this.IsController("PracticeHome", "Users")) ? "youarehere" : "")">
            <a href="@Url.Action("Index", "PracticeHome")" class="home-icon">Consultório</a>
        </li>
        @if (user.IsOwner)
        {
            <li class="@(this.IsController("ConfigAccount") ? "youarehere" : "")">
                <a href="@Url.Action("Index", "ConfigAccount")" class="config-icon">Configurações da conta
                    @*<span class="lock-account-config icon-lock" />*@
                </a>
            </li>
        }
    </ul>
}

@section TopActions {

}

@section AdditionalTitleInfo {
    @if (IsSectionDefined("AdditionalTitleInfo"))
    {
        <span class="subtitle">
            @RenderSection("AdditionalTitleInfo")
        </span>
    }
}

@section Scripts {
    @RenderSection("Scripts", false)
    @*@Html.Partial("LockScript", new LockScriptViewModel(LockAccessType.Owner, elementAction: LockElementActionType.SoftwareAreaAccess, cssClass: "lock-account-config"))*@
}

@section Title {
    @RenderSection("Title")
}

@section Styles {
    @RenderSection("Styles", false)
}

@section SideBar {
    @RenderSection("SideBar", false)
}

@RenderBody()
