@{
    Layout = "~/Areas/App/Views/Shared/_Layout.cshtml";

    var controllerName = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var configControllerNames = new string[] { "config", "configschedule", "modelmedicalcertificate" };
    var practiceId = ViewBag.Practice.Id;
    var doctor = (CerebelloWebRole.Areas.App.Models.DoctorViewModel)ViewBag.Doctor;

    string scheduleDateStr = this.ViewBag.UserNow == null ? "" :
    ((DateTime)this.ViewBag.UserNow).ToString("yyyy-MM-dd");
}
@section MainMenu {
    <div class="doctor-card">
        <div class="doctor-picture">
            <img src="@doctor.ImageUrl" /></div>
        <div class="doctor-info">
            <p class="name">
                <a href="@Url.Action("index", "doctorhome")">@doctor.Name</a></p>
            <p class="crm">@doctor.CRM (@doctor.MedicalEntity)</p>
        </div>
    </div>
    <ul class="tabNav">
        <li class="@(controllerName.Equals("doctorhome") ? "youarehere" : "")"><a href="@Url.Action("Index", "doctorhome")" class="home-icon">
            Início</a> </li>
        <li class="@(controllerName.Equals("schedule") ? "youarehere" : "")"><a href="@Url.Action("Index", "schedule")" class="schedule-icon">
            Agenda</a> </li>
        <li class="@(controllerName.Equals("patients") ? "youarehere" : "")"><a href="@Url.Action("Index", "patients")" class="contact-icon">
            Prontuário</a> </li>
    </ul>
    <div style="margin-right: 10px; text-align: right;">
        <a class="block-little-link" href="@Url.RouteUrl("Practice", new { action = "index", controller = "practiceHome" })">
            Ir para o consultório</a>
    </div>
    <hr />
    <ul class="tabNav">
        <li class="@(controllerName.Equals("medicines") ? "youarehere" : "")"><a href="@Url.Action("Index", "medicines")" class="medicines-icon">
            Medicamentos</a> </li>
        <li class="@(configControllerNames.Contains(controllerName) ? "youarehere" : "")"><a href="@Url.Action("Index", "config")" class="config-icon">
            Configurações</a> </li>
    </ul>
}
@section AppTitle {
    <div class="logo-wrapper">
        <a href="@Url.RouteUrl("Practice", new { action = "index", controller = "practiceHome" })">
            <img src="/content/images/top-logo.png" />
        </a>
    </div>
    <div class="actions-wrapper">
        <div class="global-search-wrapper">
            <input type="text" id="global-search" name="global-search" class="lookup" />
            <input type="hidden" id="global-search-hidden" name="global-search-hidden" class="lookup" />
            <script type="text/javascript">
                $("#global-search").lookup({
                    contentUrl: "@Url.Action("lookupeverything", "app")",
                    inputHiddenName: "global-search-hidden",
                    ajaxParams: {
                        doctorId: @doctor.Id
                    },
                    change: function(data) {
                        if(data)
                            window.location = data.Url;
                    },
                    columnHeaders: ["Nome", "Tipo"],
                    columns: ["Value", "Description"]
                });
                $("#global-search").watermark({ text: "Pesquisar por paciente ou medicamento" });
            </script>

            <a id="global-add-new" class="top-bar-menu-button" href="#">Novo</a>
            <a id="global-schedule-new" class="top-bar-menu-button" href="#">Marcar</a>
            
            <div id="global-add-new-balloon" class="balloon">
                <!-- balloon pointer -->
                <div class="balloon-pointer">
                    <div class="balloon-arrow menu-target">
                    </div>
                    <div class="balloon-arrow-border">
                    </div>
                </div>
                <!-- balloon content -->
                <div class="balloon-wrapper">
                    <div class="balloon-content">
                        <ul class="global-links">
                            <li><a class="" href="@Url.Action("create", "patients")">Novo paciente</a></li>
                            <li><a class="" href="@Url.Action("create", "medicines")">Novo medicamento</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                var add_menu = $("#global-add-new");
                var add_balloon = $("#global-add-new-balloon");

                add_menu.bind("click", function (e) {
                    e.stopPropagation();
                    add_balloon.css("left", $(e.target).offset().left);
                    add_balloon.css("top", $(e.target).offset().top + 10);
                    add_balloon.show();
                    handler = function (e2) {
                        if (!add_balloon.has(e2.target).length) {
                            add_balloon.hide();
                            $("html").unbind("click", handler);
                        }
                    }
                    $("html").click("click", handler);
                });

                $(window).resize(function (e) {
                    add_balloon.hide();
                });

                $("#global-schedule-new").click(function (e) {
                    e.preventDefault();
                    add_balloon.hide();
                    $.modal({
                        url: "@Url.Action("Create", "Schedule", new { findNextAvailable = true })",
                        title: "Nova consulta",
                        data: {
                            date: "@scheduleDateStr",
                            start: "",
                            end: "",
                            doctorId: ""
                        },
                        width: 480,
                        height: 200
                    });
                });
            </script>
        </div>
    </div>
}
@section AdditionalTitleInfo {
    @if (IsSectionDefined("AdditionalTitleInfo"))
    {
        <span class="subtitle">
            @RenderSection("AdditionalTitleInfo")
        </span>
    }
}
@section Scripts {
    @RenderSection("Scripts", false)
}
@section Title {
    @RenderSection("Title")
}
@section Styles {
    @RenderSection("Styles", false)
}
@section SideBar {
    @RenderSection("SideBar", false)
}
@RenderBody()
