@using System.Web.Script.Serialization
@using CerebelloWebRole.Code
@using CerebelloWebRole.Code.Notifications
@{
    var userInfo = this.ViewBag.UserInfo as CerebelloWebRole.Code.Data.UserInfo;
    if (userInfo == null)
    {
        throw new Exception("Application layout cannot load. User info is not available");
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>@this.ViewBag.Title</title>

    <link href="@Url.Content("~/Content/Styles/App/App.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/App/Media.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/ui-lightness/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("/content/styles/app/jquery-ui-overrides.css")" rel="Stylesheet" type="text/css"  />
    <link href="@Url.Content("~/Content/Styles/App/jquery.jqplot.min.css")" rel="Stylesheet" type="text/css" />
    @* css of controls *@
    <link href="@Url.Content("~/Content/Styles/App/Controls/grid.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/App/Controls/editpanel.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/App/Controls/cardview.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/App/Controls/media.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/App/Controls/jquery.cerebello.chat.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/App/Controls/jquery.cerebello.delete.confirmation.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/App/Controls/jquery.cerebello.confirmation.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/App/Controls/jquery.cerebello.notify.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/App/Controls/jquery.cerebello.paginator.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/App/Controls/jquery.cerebello.autocomplete.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/styles/app/Controls/jquery.cerebello.dropdown.menu.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/styles/app/jquery.arp.modal.css")" rel="Stylesheet" type="text/css" />
    @RenderSection("Styles", false)

    @* language specific scripts *@

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37908571-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

    <script src="@Url.Content("~/Scripts/cerebello.pt-BR.js")" type="text/javascript"></script>
    @* other scripts *@
    <script src="@Url.Content("~/Scripts/jquery-1.8.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui.datepicker-pt-BR.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqplot.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.maskedinput-1.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftAjax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/scripts.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/scripts-app.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.tmpl.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/Controls/jquery.cerebello.ajax.link.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Controls/jquery.cerebello.ajax.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Controls/jquery.cerebello.caret.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Controls/jquery.cerebello.watermark.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Controls/jquery.cerebello.modal.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Controls/jquery.cerebello.modal.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Controls/jquery.cerebello.long.polling.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Controls/jquery.cerebello.chat.container.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Controls/jquery.cerebello.chat.window.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Controls/jquery.cerebello.chat.user.list.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Controls/jquery.cerebello.delete.confirmation.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Controls/jquery.cerebello.confirmation.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Controls/jquery.cerebello.notify.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Controls/jquery.cerebello.notify.new.generic.appointment.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Controls/jquery.cerebello.notify.new.medical.appointment.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Controls/jquery.cerebello.notify.db.notification.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Controls/jquery.cerebello.pager.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Controls/jquery.cerebello.autocomplete.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Controls/jquery.cerebello.dropdown.menu.js")" type="text/javascript"></script>
    @RenderSection("Scripts", false)

    <script type="text/javascript">
        $(function () {
            $.chatUserList({
                user: {
                    Id: @this.ViewBag.UserInfo.Id,
                    Name: '@this.ViewBag.UserInfo.DisplayName',
                    GravatarUrl: '@Html.Raw(GravatarHelper.GetGravatarUrl(userInfo.GravatarEmailHash, GravatarHelper.Size.s32))'
                },
                practice: "@this.ViewBag.Practice.UrlIdentifier"
            });
            
            // shows the new-medical-appointment notifications
            @foreach (var appointment in ((List<NewMedicalAppointmentNotificationData>)this.ViewBag.AlreadyPolledMedicalAppointments))
            {
                @:$.notifyNewMedicalAppointment('@appointment.NotificationClientId', @(Html.Raw(new JavaScriptSerializer().Serialize(appointment))));
                                                }
            
            // shows the new-appointment notifications
            @foreach (var appointment in ((List<NewGenericAppointmentNotificationData>)this.ViewBag.AlreadyPolledGenericAppointments))
            {
                @:$.notifyNewGenericAppointment('@appointment.NotificationClientId', @(Html.Raw(new JavaScriptSerializer().Serialize(appointment))));
                                                }

            // shows the generic database notifications
            @foreach (var notification in ((List<NotificationData>)this.ViewBag.AlreadyPolledNotifications))
            {
                @:$.notifyDb('@notification.NotificationClientId', @(Html.Raw(new JavaScriptSerializer().Serialize(notification))));
            }

            $.startLongPolling("@Url.Action("GetEvents", "LongPolling")");
        });
    </script>

</head>
<body>
    @if (this.ViewBag.IsTrial == true)
    {
        <div class="top-bar">
            <div class="top-bar-inner">
                <a href="@Url.Action("Upgrade", "ConfigAccount", new { id = "ProfessionalPlan" })">Assine agora o Cerebello.
                    <span class="small">Ilimitado, com suporte prioritário, e sem esta barra.</span>
                </a>
            </div>

        </div>
    }
    <div id="app-header">
        <div class="top-menu">
        </div>
        <div class="title">
            <div class="logo-wrapper">
                <a href="@Url.RouteUrl("Practice", new { action = "Index", controller = "practicehome" })">
                    <img src="/content/images/top-logo.png" />
                </a>
            </div>
            <div class="user-menu-wrapper">
                <div class="picture">
                    <img src="@Html.Raw(GravatarHelper.GetGravatarUrl(userInfo.GravatarEmailHash, GravatarHelper.Size.s24))"/>
                </div>
                <div class="user-menu">
                    <span class="user-name">
                        @userInfo.DisplayName
                    </span><span class="arrow-down">▼</span>
                </div>
            </div>
            <div class="top-actions-bar-wrapper">
                <div class="top-actions-bar">
                    @RenderSection("TopActions");
                </div>
            </div>
            <div style="clear: both">
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $("#app-header .user-menu-wrapper").dropdownMenu({
            items: [
                @if (userInfo.DoctorId.HasValue)
                {
                    @:{ id: "doctorProfile", text: "Perfil do médico", href: "@Url.Action("Index", "DoctorHome", new { doctor = userInfo.DoctorUrlIdentifier })" },
                }
                { id: "profile", text: "Perfil do usuário", href: "@Url.Action("Details", "Users", new { id = userInfo.Id })" },
                { id: "logout", text: "Sair", href: "@Url.Action("logout", "Authentication", new { area = "" })" }
            ]
        });
    </script>
    <div class="main">
        <div class="menu-column">
            @RenderSection("MainMenu")
        </div>
        <div class="main-column">
            <div class="document">
                <div class="document-header">
                    <h1>@RenderSection("Title")</h1>
                    @RenderSection("AdditionalTitleInfo")
                </div>
                <div class="document-body @(this.ViewBag.LargeSideBar == true ? "large-side-bar" : "")">
                    <div class="document-side-column">
                        @RenderSection("SideBar")
                    </div>
                    <div class="document-main-column">
                        @RenderBody()
                    </div>
                    <div style="clear: both">
                    </div>
                </div>
            </div>
            <div class="footer">
                <ul>
                    <li class="first"><a href="@Url.Action("Index", "HomeDocs", new { area = "Docs" })" target="_blank">Documentação</a></li>
                    <li><a href="http://cerebello.uservoice.com" target="_blank">Dê sua opinião</a></li>
                    <li><a href="mailto:cerebello@cerebello.com.br">Fale Conosco</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
