@{
    Layout = "~/Areas/App/Views/Shared/_Layout.cshtml";

    var controllerName = ViewContext.RouteData.Values["controller"].ToString().ToLower();

    var configControllerNames = new string[] { "config", "configschedule", "modelmedicalcertificate" };

    var practiceId = ViewBag.Practice.Id;

    var doctor = (CerebelloWebRole.Areas.App.Models.DoctorViewModel)ViewBag.Doctor;
}
@section MainMenu {
    <div class="doctor-card">
        <div class="doctor-picture">
            <img src="@doctor.ImageUrl" /></div>
        <div class="doctor-info">
            <p class="name">
                <a href="@Url.Action("index", "doctorhome")">@doctor.Name</a></p>
            <p class="crm">@doctor.CRM (@doctor.MedicalEntity)</p>
        </div>
    </div>
    <ul class="tabNav">
        <li class="@(controllerName.Equals("doctorhome") ? "youarehere" : "")"><a href="@Url.Action("Index", "doctorhome")" class="home-icon">
            Início</a> </li>
        <li class="@(controllerName.Equals("schedule") ? "youarehere" : "")"><a href="@Url.Action("Index", "schedule")" class="schedule-icon">
            Agenda</a> </li>
        <li class="@(controllerName.Equals("patients") ? "youarehere" : "")"><a href="@Url.Action("Index", "patients")" class="contact-icon">
            Prontuário</a> </li>
    </ul>
    <a class="block-little-link" style="margin-right: 10px; text-align: right;" href="@Url.RouteUrl("Practice", new { action = "index", controller = "practiceHome" })">
        Ir para o consultório</a>
    <hr />
    <ul class="tabNav">
        <li class="@(controllerName.Equals("medicines") ? "youarehere" : "")"><a href="@Url.Action("Index", "medicines")" class="medicines-icon">
            Medicamentos</a> </li>
        <li class="@(configControllerNames.Contains(controllerName) ? "youarehere" : "")"><a href="@Url.Action("Index", "config")" class="config-icon">
            Configurações</a> </li>
    </ul>
}
@section AppTitle {
    <div class="logo-wrapper">
        <a href="@Url.RouteUrl("Practice", new { action = "index", controller = "practiceHome" })">
            <img src="/content/images/top-logo.png" />
        </a>
    </div>
    <div class="actions-wrapper">
        <div class="global-search-wrapper">
            <input type="text" id="global-search" name="global-search" class="lookup" />
            <input type="hidden" id="global-search-hidden" name="global-search-hidden" class="lookup" />
            <script type="text/javascript">
                $("#global-search").lookup({
                    contentUrl: "@Url.Action("lookupeverything", "app")",
                    inputHiddenName: "global-search-hidden",
                    ajaxParams: {
                        doctorId: @doctor.Id
                    },
                    change: function(data) {
                        if(data)
                            window.location = data.Url;
                    },
                    columnHeaders: ["Nome", "Tipo"],
                    columns: ["Value", "Description"]
                });
            </script>
        </div>
    </div>
}
@section AdditionalTitleInfo {
    @if (IsSectionDefined("AdditionalTitleInfo"))
    {
        <span class="subtitle">
            @RenderSection("AdditionalTitleInfo")
        </span>
    }
}
@section Scripts {
    @RenderSection("Scripts", false)
}
@section Title {
    @RenderSection("Title")
}
@section Styles {
    @RenderSection("Styles", false)
}
@section SideBar {
    @RenderSection("SideBar", false)
}
@RenderBody()
