@model CerebelloWebRole.Areas.App.Models.CollectionEditorViewModel
<div>
    <ul class="@Model.ListClass @Model.ListCustomClass">
        @if (Model != null)
        {
            foreach (var element in this.Model.Items)
            {
                @Html.Partial(this.Model.ListParialViewName, element)
            }
        }
        else
        {
            @Html.Partial(this.Model.ListParialViewName)
        }
    </ul>
    <a id="@Model.AddAnotherLinkId" class="block-little-link add-another-link" href="#">@Model.AddAnotherText</a>
    <script type="text/javascript">
        $("#@Model.AddAnotherLinkId").click(function (e) {
            e.preventDefault();
            $.ajax({
                url: "@Url.Action(this.Model.ListParialViewName)",
                success: function (result) {
                    var $list = $(".@Model.ListCustomClass");
                    $(".@Model.ListCustomClass").append(result);
                }
            });
        });
    </script>
</div>
