@model CerebelloWebRole.Areas.App.Models.CollectionEditorViewModel
<div>
    <ul class="edit-list-single-line @Model.ListClass">
        @if (Model != null)
        {
            foreach (var element in this.Model.Items)
            {
               <li class="edit-list-item">
                    @Html.Partial(this.Model.ListParialViewName, element)
                    <span onclick="$(this).closest('li').remove()" class="close-collection-item"></span>
               </li>
            }
        }
        else
        {
            <li class="edit-list-item">
                    @Html.Partial(this.Model.ListParialViewName)
                    <span onclick="$(this).closest('li').remove()" class="close-collection-item"></span>
            </li>
        }                    
    </ul>
    <a id="@Model.AddAnotherLinkId" class="block-little-link add-another-link" href="#">@Model.AddAnotherText</a>
    <script type="text/javascript">

        $("#@Model.AddAnotherLinkId").click(function (e) {
            e.preventDefault();
            $.ajax({
                url: "@Url.Action(this.Model.ListParialViewName)",
                success: function (result) {
                    var html = "<li class='edit-list-item'>" + result + "<span onclick='$(this).closest(\'li\').remove()' class='close-collection-item'></span></li>";
                    $(".@Model.ListClass").append(html);
                }
            });
        });
                
</script>
</div>
           
