@{
    Layout = "~/Areas/App/Views/Shared/_Layout.cshtml";
    var controllerName = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var practiceId = ViewBag.Practice.Id;

    var doctor = (Cerebello.Areas.App.Models.DoctorViewModel)ViewBag.Doctor;
}
@section MainMenu {
    <div class="doctor-card">
        <div class="doctor-picture">
            <img src="@doctor.ImageUrl" /></div>
        <div class="doctor-info">
            <p class="name"><a href="@Url.Action("index", "doctorhome")">@doctor.Name</a></p>
            <p class="crm">@doctor.CRM (@doctor.MedicalEntity)</p>
        </div>
    </div>
    <ul class="tabNav">
        <li class="@(controllerName.Equals("doctorhome") ? "youarehere" : "")"><a href="@Url.Action("Index", "doctorhome")" class="home-icon">
            Início</a> </li>
        <li class="@(controllerName.Equals("doctorschedule") ? "youarehere" : "")"><a href="@Url.Action("Index", "doctorschedule")" class="schedule-icon">
            Agenda</a> </li>
        <li class="@(controllerName.Equals("doctorpatients") ? "youarehere" : "")"><a href="@Url.Action("Index", "doctorpatients")" class="contact-icon">
            Prontuário</a> </li>
    </ul>
    <a class="gotoPractice" href="@Url.RouteUrl("Practice", new { action = "index", controller = "practiceHome" })">Ir para o consultório</a>
    <hr />
    <ul class="tabNav">
        <li class="@(controllerName.Equals("doctormedicines") ? "youarehere" : "")"><a href="@Url.Action("Index", "doctorMedicines")" class="medicines-icon">
            Medicamentos</a> </li>
    </ul>
}

@section AppTitle {
    <a href="@Url.RouteUrl("Practice", new { action = "index", controller = "practiceHome" })">@ViewBag.PracticeName</a>
}

@section AdditionalTitleInfo {
    @if (IsSectionDefined("AdditionalTitleInfo"))
    {
        <span class="subtitle">
            @RenderSection("AdditionalTitleInfo")
        </span>
    }
}
@section Scripts {
    @RenderSection("Scripts", false)
}
@section Title {
    @RenderSection("Title")
}
@section Styles {
    @RenderSection("Styles", false)
}
@section SideBar {
    @RenderSection("SideBar", false)
}
@RenderBody()
