@{
    Layout = "~/Areas/App/Views/Shared/_Layout.cshtml";
    var controllerName = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var practiceId = ViewBag.Practice.Id;
}
@section MainMenu {
    <ul class="tabNav">
        <li class="@(controllerName.Equals("practicehome") ? "youarehere" : "")">
            <a href="@Url.Action("Index", "practicehome")" class="home-icon">Início</a> 
        </li>
        <li class="@(controllerName.Equals("practicedoctors") ? "youarehere" : "")">
            <a href="@Url.Action("Index", "practicedoctors")" class="doctors-icon">Médicos</a> 
        </li>
    </ul>
    <hr />
}

@section AppTitle {
    <a href="@Url.RouteUrl("Practice", new { action = "index", controller = "practiceHome" })">@ViewBag.PracticeName</a>
}

@section AdditionalTitleInfo {
    @if (IsSectionDefined("AdditionalTitleInfo"))
    {
        <span class="subtitle">
        @RenderSection("AdditionalTitleInfo")
        </span>
    }
}

@section Scripts {
    @RenderSection("Scripts", false)
}

@section Title {
    @RenderSection("Title")
}

@section Styles {
    @RenderSection("Styles", false)
}

@section SideBar {
    @RenderSection("SideBar", false)
}

@RenderBody()