@model UserEmailViewModel
@{
    this.Layout = "../Shared/_EmailLayout.cshtml";

    this.ViewBag.Title = "Cerebello: Confirme a criação de sua conta";
    this.ViewBag.ShortTitle = "Confirmação de e-mail";

    var urlWithData = this.Url.ActionAbsolute(
        "VerifyPracticeAndEmail",
        "Authentication",
        new VerifyPracticeAndEmailViewModel { Token = Model.Token, PracticeIdentifier = this.Model.PracticeIdentifier });

    var urlWithoutData = this.Url.ActionAbsolute(
        "VerifyPracticeAndEmail",
        "Authentication",
        new VerifyPracticeAndEmailViewModel { });

    var urlLogin = this.Url.ActionAbsolute("Index", "PracticeHome",
        new { area = "App", practice = this.Model.PracticeIdentifier });
}
@if (this.ViewBag.IsBodyHtml == true)
{
    <p>
        Olá <strong>@Model.PersonName</strong>,
    </p>
    <p>
        Este e-mail está sendo enviado para confirmar sua solicitação de criação de uma
        nova conta no @EmailHtml.Link(this.Url.Action("Index", "Home", new { }), "Cerebello"),
        o seu software de gerenciamento de consultório.
    </p>
    
    @EmailHtml.SectionHeader("Concluindo a criação da conta")
    if (this.Model.IsTrial)
    {
        <p>
            Para completar a criação de sua conta você deve confirmar o recebimento desta mensagem.
            Isso pode ser feito visitando o seguinte link:
        </p>
        <p>
            @EmailHtml.Link(urlWithData, "Confirmar meu e-mail e ativar a minha conta")
        </p>
    }
    else
    {
        <p>
            Por favor, confirme o recebimento desta mensagem,
            para podermos estabelecer um meio de comunicação com você.
            Isso pode ser feito visitando o seguinte link:
        </p>
        <p>
            @EmailHtml.Link(urlWithData, "Confirmar meu e-mail")
        </p>
    }
    
    @EmailHtml.SectionHeader("Suas credenciais")
    <p>
        O identificador do seu consultório é
    </p>
    <center>@(EmailHtml.BigCode(this.Model.PracticeIdentifier))</center>
    <p>
        Esse identificador, assim como o seu nome de usuário e senha são necessários para entrar no sistema.
    </p>
    <p>
        Você pode entrar informando suas credenciais na página de
        @EmailHtml.Link(this.Url.Action("Login", "Authentication", new { }), "Login"),
        ou acessando diretamente a url
        @EmailHtml.Link(urlLogin, urlLogin)
    </p>

    @EmailHtml.SectionHeader("Esqueci o nome de usuário ou a senha")
    <p>
        Se você esquecer essas informações, entre em contato conosco,
        por um dos seguintes meios:
    </p>
    <ul>
        <li>e-mail: <strong>@Constants.EMAIL_CEREBELLO</strong></li>
        <li>tel: <strong>@Constants.TELEPHONE_NUMBER</strong></li>
        <li>chat direto no site: <strong>@Constants.SITE_CEREBELLO</strong></li>
    </ul>
    if (this.Model.IsTrial)
    {
        <p>
            Só assim será possível recomeçar o cadastro de sua conta.
        </p>
    }
    
    @EmailHtml.SectionHeader("Observações")
    <p>
        Caso o link de confirmação não funcione, tente
        @(EmailHtml.Link(urlWithoutData, "entrar com o token de confirmação manualmente")).
        O seu token é: @EmailHtml.InlineCode(this.Model.Token)
    </p>
    if (this.Model.IsTrial)
    {
        @EmailHtml.BootstrapAlert(@<text>
        <p>
            <span style="color: DarkRed">ATENÇÃO: </span>Se a verificação não ocorrer em até @Constants.MAX_HOURS_TO_VERIFY_TRIAL_ACCOUNT
            horas, o processo de cadastro será cancelado. Você pode fazer o cadastro novamente
            caso isso aconteça.
        </p>
        </text>)
    }
    <p>
        Se você não requisitou a criação de uma
        conta, ignore este e-mail e nos desculpe pela
        inconveniência.
    </p>
    <p>
        Atenciosamente<br />
        @EmailHtml.Emphasis("equipe CareSys Tecnologias de Informação")
    </p>
    return;
}
E-mail de confirmação
=====================

Olá @Html.Raw(Model.PersonName),

Este e-mail está sendo enviado para
confirmar sua solicitação de criação
de uma nova conta no cerebello.com.br,
o seu software de gerenciamento de
consultório.

Concluindo a criação da conta
-----------------------------

@if (!(this.Model.IsTrial)) { goto ELSE_IsTrial1; }
Para completar a criação de sua conta você deve
confirmar o recebimento desta mensagem.
Isso pode ser feito visitando o seguinte link:
@{goto ENDIF_IsTrial1;
ELSE_IsTrial1:}
Por favor, confirme o recebimento desta mensagem,
para podermos estabelecer um meio de comunicação com você.
Isso pode ser feito visitando o seguinte link:
@{ENDIF_IsTrial1:}

@Html.Raw(urlWithData)

Suas credenciais
----------------

O identificador do seu consultório é
"@this.Model.PracticeIdentifier"
(sem as aspas duplas).

Esse identificador, assim como o seu nome de
usuário e senha são necessários para entrar no
sistema.

Você pode entrar informando suas credenciais
na página de Login
@(this.Url.Action("Login", "Authentication", new { })),
ou acessando diretamente a url
@Html.Raw(urlLogin)

Esqueci o nome de usuário ou a senha
====================================

Se você esquecer essas informações, entre em contato conosco,
por um dos seguintes meios:
- e-mail: @Constants.EMAIL_CEREBELLO
- tel: @Constants.TELEPHONE_NUMBER
- chat direto no site: @Constants.SITE_CEREBELLO

@if (!(this.Model.IsTrial)) { goto ELSE_IsTrial2; }
Só assim será possível recomeçar o cadastro de sua conta.
@{ELSE_IsTrial2:}

Observações
-----------

Caso a URL de confirmação não funcione, tente
entrar com o token de confirmação manualmente em:
@Html.Raw(urlWithoutData)
com o token: "@this.Model.Token"
(sem as aspas duplas).

@if (!(this.Model.IsTrial)) { goto ELSE_IsTrial3; }
**ATENÇÃO:** Se a verificação não ocorrer em até @Constants.MAX_HOURS_TO_VERIFY_TRIAL_ACCOUNT
horas, o processo de cadastro será cancelado.
Você pode fazer o cadastro novamente caso isso aconteça.
@{ELSE_IsTrial3:}

Se você não requisitou a criação de uma
conta, ignore este e-mail e nos desculpe pela
inconveniência.

Atenciosamente
    equipe CareSys Tecnologias de Informação
