@model CerebelloWebRole.Models.ResetPasswordRequestViewModel
@{
    ViewBag.Title = "Esqueci minha senha";
}
<div class="authentication-container">
    <div class="authentication-container-wrapper">
        <div class="header">
            <h2>Esqueci minha senha</h2>
        </div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { style = "margin:0" }))
        {
            <fieldset>
                <div class="controls-wrapper">
                    @Html.ValidationSummary(false)

                    <div class="control-group">
                        @Html.LabelFor(model => model.PracticeIdentifier)
                        <div class="controls">
                            @Html.TextBoxFor(model => model.PracticeIdentifier, new { @class = "input-xlarge" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(model => model.UserNameOrEmail)
                        <div class="controls">
                            @Html.TextBoxFor(model => model.UserNameOrEmail, new { @class = "input-xlarge" })
                        </div>
                    </div>
                </div>
                <div class="form-actions" style="margin: 0">
                    <button class="btn btn-primary btn-large" type="submit">
                        Enviar e-mail</button>
                </div>
            </fieldset>
        }
    </div>
</div>
