@model UserEmailViewModel
@{
    this.ViewBag.Title = "Redefinir senha da conta no Cerebello";
    
    var urlWithToken = this.Url.Action("ResetPassword", "Authentication",
        new ResetPasswordViewModel(this.Model.PracticeIdentifier, this.Model.UserName, this.Model.Token),
        "https");

    var urlWasNotMe = this.Url.Action("ResetPasswordCancel", "Authentication",
        new ResetPasswordViewModel(this.Model.PracticeIdentifier, this.Model.UserName, this.Model.Token),
        "https");
}
@if (this.ViewBag.IsBodyHtml == true)
{
@* HTML FORMAT *@
    <html>
    <head>
        <title>@this.ViewBag.Title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        @if (DebugConfig.UseFileSystemEmailBox)
        {
            <style type="text/css">
                /* GMAIL style (only when local presentation) */
                /* Style tags have no effect in e-mails */
                body {
                    font-size: 13px;
                    font-family: arial, sans-serif;
                    color: #222;
                    background: white;
                }
            </style>
        }
    </head>
    <body style="font-family: arial, sans-serif; color: #222; background: white;">
        Olá @Model.PersonName,<br />
        <p>
            Este e-mail está sendo enviado para confirmar sua solicitação de redefinição da senha
                no www.cerebello.com.br, o seu software de gerenciamento de consultório.
        </p>
        <p>
            Por favor, visite o link seguinte para redefinir sua senha:
        </p>
        <p>
            <a href="@urlWithToken">Desejo redefinir minha senha</a>
        </p>
        <p>
            <span style="color: Red">ATENÇÃO: </span>Se a verificação não ocorrer em até 30
                dias, o processo de redefinição da senha será cancelado.
        </p>
        <p>
            Se você não requisitou a redefinição de sua senha, visite o link seguinte para cancelar esta requisição:
        </p>
        <p>
            <a href="@urlWasNotMe">Não desejo redefinir minha senha</a>
        </p>
        <br />
        <p style="font-style: italic; text-indent: 2em;">
            Atenciosamente<br/>
            <em style="margin-right: 2em; display: inline-block;">equipe CareSys Tecnologias de Informação</em>
        </p>
    </body>
    </html>

    return;
}
@* TEXT FORMAT *@
E-mail para redefinir senha
===========================

Olá @Html.Raw(Model.PersonName),

    Este e-mail está sendo enviado para confirmar
sua solicitação de redefinição da senha no
cerebello.com.br, o seu software de gerenciamento
de consultório.

    Por favor, visite o link seguinte para redefinir
sua senha:
@Html.Raw(urlWithToken)

ATENÇÃO: Se a verificação não ocorrer em até 30
dias, o processo de redefinição da senha será
cancelado.

    Se você não requisitou a redefinição
de sua senha, visite o link seguinte para
cancelar esta requisição:
@Html.Raw(urlWasNotMe)

Atenciosamente
    equipe CareSys Tecnologias de Informação
