
@model IdentityViewModel
@{
    var title = "Esqueci minha senha";
    this.Layout = "../Shared/_AuthenticationLayout.cshtml";
    this.ViewBag.Title = string.Format("{0} · Cerebello", title);
}
@section Header
{
    <style type="text/css">
        .xpto {
            white-space: nowrap;
            background-color: #F8F8F8;
            border: 1px solid #EAEAEA;
            border-radius: 3px 3px 3px 3px;
            margin: 0 2px;
            padding: 0 5px;
            font-family: Consolas,'Liberation Mono',Courier,monospace;
            font-size: 1.1em;
            line-height: 1.6;
            color: #333333;
        }
    </style>
}
<div class="authentication-container">
    <div class="authentication-container-wrapper">
        <div class="header">
            <h2>@title</h2>
            <div class="buttons-wrapper">
                <a class="btn btn-small" href="@Url.Action("Login")" class="link">Voltar</a>
            </div>
        </div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { style = "margin:0" }))
        {
            <fieldset>
                <div class="controls-wrapper">
                    <p class="text-info">
                        Se você esqueceu sua senha, basta informar os dados abaixo para poder redefinir sua senha.
                        A redefinição da senha e feita por e-mail.
                        Você vai receber em seu e-mail cadastrado no Cerebello, uma mensagem que vai orientá-lo na
                        criação de uma nova senha.
                    </p>

                    @if (this.ViewData.ModelState.GetAllErrors().Any())
                    {
                        <div class="alert alert-block alert-error fade in">
                            <button data-dismiss="alert" class="close" type="button">×</button>
                            @foreach (var eachModelError in this.ViewData.ModelState.GetAllErrors())
                            {
                                <p>@eachModelError.Item2.ErrorMessage</p>
                            }
                        </div>
                    }

                    <div class="control-group">
                        @Html.LabelFor(model => model.PracticeIdentifier)
                        <div class="controls">
                            @Html.TextBoxFor(model => model.PracticeIdentifier, new { @class = "input-xlarge" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(model => model.UserNameOrEmail)
                        <div class="controls">
                            @Html.TextBoxFor(model => model.UserNameOrEmail, new { @class = "input-xlarge" })
                        </div>
                    </div>
                </div>
                <div class="form-actions" style="margin: 0">
                    <button class="btn btn-primary btn-large" type="submit">
                        Enviar e-mail</button>
                </div>
            </fieldset>
        }
    </div>
</div>
