@using CerebelloWebRole.Models
@model EmailViewModel
@{
    var urlWithToken = this.Url.Action("ResetPassword", "Authentication",
        new ResetPasswordViewModel(this.Model.PracticeIdentifier, this.Model.UserName, this.Model.Token),
        "http");

    var urlWasNotMe = this.Url.Action("ResetPasswordCancel", "Authentication",
        new ResetPasswordViewModel(this.Model.PracticeIdentifier, this.Model.UserName, this.Model.Token),
        "http");
}
@if (this.Model.IsBodyHtml)
{
@* HTML FORMAT *@
    <html>
    <head>
        <title>E-mail para redefinir senha</title>
    </head>
    <body>
        Olá @Model.PersonName,<br />
        <p>
            Este e-mail está sendo enviado para confirmar sua solicitação de redefinição da senha
                no www.cerebello.com.br, o seu software de gerenciamento de consultório.
        </p>
        <p>
            Por favor, visite o link seguinte para redefinir sua senha:
        </p>
        <p>
            <a href="@urlWithToken">Desejo redefinir minha senha</a>
        </p>
        <p>
            <span style="color: Red">ATENÇÃO: </span>Se a verificação não ocorrer em até 30
                dias, o processo de redefinição da senha será cancelado.
        </p>
        <p>
            Se você não requisitou a redefinição de sua senha, visite o link seguinte para cancelar esta requisição:
        </p>
        <p>
            <a href="@urlWasNotMe">Não desejo redefinir minha senha</a>
        </p>
        <br />
        <p style="font-style: italic; text-indent: 2em;">
            Equipe cerebello.com.br
        </p>
    </body>
    </html>

    return;
}
@* TEXT FORMAT *@
E-mail para redefinir senha
===========================

Olá @Html.Raw(Model.PersonName),

    Este e-mail está sendo enviado para confirmar
sua solicitação de redefinição da senha no
cerebello.com.br, o seu software de gerenciamento
de consultório.

    Por favor, visite o link seguinte para redefinir
sua senha:
@Html.Raw(urlWithToken)

ATENÇÃO: Se a verificação não ocorrer em até 30
dias, o processo de redefinição da senha será
cancelado.

    Se você não requisitou a redefinição
de sua senha, visite o link seguinte para
cancelar esta requisição:
@Html.Raw(urlWasNotMe)

Equipe cerebello.com.br
